.button-v2.MuiButton-root {
    background-color: #ee0e19;
    color: #fff;
    border: solid 1px #ee0e19;
    border-radius: 0.4rem;
    font-size: 1rem;
    font-weight: 600;
    width: 100%;
    transition: 300ms ease;
    text-transform: capitalize;
}
.button-v2.MuiButton-root:hover {
    background-color: #f01a25;
}
.button-v2.MuiButton-root:hover.Mui-disabled {
    background-color: #f01a25;
}
.button-v2.MuiButton-root[data-loader='true'] {
    width: auto;
    min-width: auto;
    border-radius: 50%;
    padding: 4px;
    transition: border-radius 300ms ease, width 300ms ease 400ms;
}
.button-v2.MuiButton-root[data-loader='true'] .MuiCircularProgress-root {
    color: #ffffff !important;
    height: 32px !important;
    width: 32px !important;
}
