.fc-details-bar {
    display: none !important;
    background: #f8891a;
    color: #fff;
    height: 32px;
    font-size: 16px;
    padding: 0 16px;
    position: sticky;
    top: 70px;
    z-index: 2;
}
.fc-details-bar img {
    height: 16px;
    width: auto;
}

@media (max-width: 958px) {
    .fc-details-bar {
        display: flex !important;
    }
}

