.slider-title .title {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    align-items: center;
}

.slider-title .title .line {
    width: 42%;
    border-bottom: 1px solid #d6d6d6;
}

.slider-title .title span.label,
.slider-title .title label {
    color: #4f4f4f;
    font-family: 'VAG Rounded ELC Light';
    font-size: 22px !important;
    font-weight: 600;
    margin-bottom: 0px;
    text-align: center;
    letter-spacing: 0.4px !important;
}

.slider-title .title span.slider-titleCustom {
    display: block;
    padding: 4px 20px;
    /* color: #4f4f4f; */
    color: #fff;
    background-color: #000;
    font-family: 'VAG Rounded ELC Light';
    font-size: 22px !important;
    font-weight: 600;
    margin-bottom: 0px;
    text-align: center;
    letter-spacing: 0.4px !important;
    border-radius: 999px;
}

.slider-title {
    margin-top: 20px;
}
.slider-title .shop-all-button.MuiButton-root {
    background: #ee0e19;
    color: white;
    font-weight: 600;
    font-family: 'VAG Rounded ELC Light';
    height: fit-content;
    padding: 3px 10px;
    margin: 5px 10px;
    font-size: 0.8rem;
}

.slider-show-all {
    top: 0;
    right: 0;
    bottom: 90px;
    left: 0;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-show-all .Icon {
    display: flex;
    background: #6c6c6c15;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    border-radius: 50%;
    border: 1px solid #0d943f;
    cursor: pointer;
}
.slider-show-all .Icon svg {
    font-size: xxx-large;
    color: #0d943f;
}
.slider .slick-track {
    width: max-content !important;
}
.slider .slick-next {
    right: -60px !important;
}

.slider .slick-prev {
    left: -60px !important;
}
@media (max-width: 958px) {
    .slider .slick-next {
        right: 20px !important;
    }

    .slider .slick-prev {
        left: 20px !important;
    }
}

@media (max-width: 668px) {
    .slider-title {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .slider-title .title {
        flex-direction: column;
    }

    .slider-title .title label {
        width: 100%;
    }
    .slider-title .shop-all-button.MuiButton-root {
        display: block;
    }

    .slider .slick-next {
        display: none !important;
    }

    .slider .slick-prev {
        display: none !important;
    }

    .slider .slick-slide > div {
        padding: 0 5px;
    }
    .slider-show-all {
        bottom: 70px;
    }
}
