.my-addresses-container .my-address-card-padding {
    padding-right: 15px;
    padding-top: 20px;
}

html[dir='rtl'] .my-addresses-container .my-address-card-padding {
    padding-right: 0px;
    padding-left: 15px;
}

.my-addresses-container .my-address-card {
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.09);
    border: solid 1px #f3f3f3;
    background-color: #ffffff;
    padding: 20px;
}

.my-addresses-container .my-address-nick-name {
    color: #212529;
    font-weight: bold !important;
    font-size: 1rem !important;
    font-family: 'VAG Rounded ELC Bold' !important;
}

.my-addresses-container .edit-button {
    color: #0c943f;
    border-radius: 20px;
    border: 1px solid #0c943f;
    margin: 0px 5px;
}

.my-addresses-container .edit-button:hover {
    background-color: #ffffff;
}

.my-addresses-container .delete-button {
    color: #0c943f;
    border-radius: 20px;
    border: 1px solid #0c943f;
    margin: 0px 5px;
}

.my-addresses-container .delete-button:hover {
    background-color: #ffffff;
}

.my-addresses-container .my-address-type {
    color: #212529;
    font-weight: 300 !important;
    font-size: 0.9rem !important;
}

.my-addresses-container .my-address-line {
    color: #4f4f4f;
    letter-spacing: 0.26px !important;
    font-weight: 300 !important;
    font-size: 0.9rem !important;
}

.my-addresses-container .p-top-10 {
    padding-top: 15px;
}

.my-addresses-container .address-messages {
    min-height: 52px;
}

.my-addresses-container .default-address-check {
    color: #0c943f !important;
    letter-spacing: 0.26px !important;
    font-weight: bold !important;
    font-size: 0.9rem !important;
    font-family: 'VAG Rounded ELC Bold' !important;
    text-transform: capitalize;
}

.my-addresses-container .default-address-check svg {
    position: relative;
    top: -2px;
}

html[dir='rtl'] .my-addresses-container .default-address-check svg {
    right: -10px;
}

.my-addresses-container .address-error {
    color: #ee0e19 !important;
    letter-spacing: 0.26px !important;
    font-weight: bold !important;
    font-size: 0.9rem !important;
    font-family: 'VAG Rounded ELC Bold' !important;
    text-transform: none;
}
.my-addresses-container .address-error svg {
    position: relative;
    top: -2px;
}

html[dir='rtl'] .my-addresses-container .address-error svg {
    right: -10px;
}

.my-addresses-container .padding-l-r-t {
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 28px !important;
}

.my-addresses-container .padding-l-r {
    padding-left: 4px;
    padding-right: 4px;
}

.my-addresses-container .save-or-edit-address-button {
    height: 40px;
    border-radius: 4px;
    background-color: #ee0e19 !important;
    color: #ffffff;
    letter-spacing: 0.15px !important;
    line-height: 0.8 !important;
    font-weight: bold !important;
    font-size: 1rem !important;
    text-transform: capitalize;
    padding: 0px 2.5rem;
    margin-top: 1rem;
    font-family: 'VAG Rounded ELC Bold' !important;
}

.my-addresses-container .save-or-edit-address-button:hover {
    background-color: #ee0e19 !important;
}

.my-addresses-container .cancel-address-button {
    background: #d6d6d6;
    color: #212529;
    border-radius: 4px;
    text-transform: capitalize;
    padding: 0px 2.5rem;
    font-weight: bold;
    line-height: 0.8;
    height: 40px;
    letter-spacing: 0.15px;
    font-size: 1.1rem;
    margin: 1rem 0.5rem;
    font-family: 'VAG Rounded ELC Bold' !important;
}

.my-addresses-container .cancel-address-button:hover {
    background: #d6d6d6;
    color: #212529;
}

html[dir='rtl'] .my-addresses-container .margin-right {
    margin-right: 0px;
}

.my-addresses-container .green-line {
    height: 1px;
    background-color: #0c943f;
    margin: 40px 0px;
}

.my-addresses-container .address-title {
    color: #000000;
    letter-spacing: 0.18px !important;
    font-weight: bold !important;
    font-size: 1.2rem !important;
    font-family: 'VAG Rounded ELC Bold' !important;
}

.mobile-add-new-address-button {
    color: #212529;
    font-family: 'VAG Rounded ELC Bold' !important;
    font-weight: bold !important;
    letter-spacing: 0.4px !important;
    font-size: 1rem !important;
}

.mobile-add-new-address-button span {
    text-decoration: underline;
}

.mobile-add-new-address-button svg {
    position: relative;
    top: -2px;
}

html[dir='rtl'] .my-addresses-container .save-or-edit-address-button svg {
    margin-left: 8px;
}
