.PLPItem {
    padding: 0px 5px;
}
.link-plp {
    text-decoration: none;
}
.link-plp:hover {
    text-decoration: none;
}

.PLPItem .productsItem {
    padding: 15px 19px 28px;
    border-radius: 4px;
    border: solid 1px #eeeeee;
    margin: 19px 0px;
    position: relative;
}

.PLPItem .productsItem .addToBasket {
    background-color: #ee0e19 !important;
    color: #fff !important;
    border: solid 1px #ee0e19 !important;
    border-radius: 0.4rem;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 0px;
    width: 100%;
    height: 3rem;
    text-align: center;
    text-transform: capitalize !important;
    margin-top: 20px !important;
    font-family: 'VAG Rounded ELC Bold' !important;
}

.PLPItem .productsItem .text-height {
    margin-top: 15px !important;
    overflow: hidden;
    height: 50px;
    margin-bottom: 15px !important;
}

.PLPItem .productsItem .addToBasket:hover {
    background-color: #df0c00 !important;
    border: solid 1px #df0c00 !important;
}

.PLPItem .productsItem a {
    text-decoration: none;
}

.PLPItem .productsItem:hover {
    box-shadow: 0px 6px 18px 0 rgba(0, 0, 0, 0.12);
    border: solid 1px #1ea44d;
    background-color: #ffffff;
}

.PLPItem .p_img {
    width: 100%;
    min-height: 100%;
}

.PLPItem .productsItem .p_title {
    color: #4f4f4f;
    letter-spacing: 0.14px !important;
    line-height: 1.57 !important;
    font-weight: 300 !important;
    text-align: center;
}

.PLPItem .productsItem .p_amt {
    font-weight: bold !important;
    font-size: 1.1rem !important;
    line-height: 1.5 !important;
    letter-spacing: 0.16px !important;
    text-align: center;
    color: #0d943f;
    font-family: 'VAG Rounded ELC Bold' !important;
}

.PLPItem .productsItem .label {
    font-family: 'VAG Rounded ELC Bold' !important;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    background: #aa272f;
    color: #fff;
    box-shadow: 2px 2px 4px 0px #0000005c;
    padding: 1px 5px;
    border-radius: 2px;
    font-size: 0.85rem;
}
html[dir='rtl'] .PLPItem .productsItem .label {
    left: initial;
    right: 0px;
    box-shadow: -2px 2px 4px 0px #0000005c;
}

.PLPItem .productsItem .amt_strike {
    font-weight: 300 !important;
    font-size: 1.1rem !important;
    line-height: 1.5 !important;
    letter-spacing: 0.16px !important;
    text-align: center;
    color: #b3b3b3;
    text-decoration: line-through;
    position: relative;
    left: 4px;
}

.PLPItem .productsItem .p_months {
    color: #4f4f4f;
    letter-spacing: 0.14px !important;
    text-align: center;
    line-height: 1.71 !important;
    font-weight: 300 !important;
    padding-top: 14px;
}

.PLPItem .productsItem .addToBasket {
    font-weight: bold !important;
    font-family: 'VAG Rounded ELC Bold' !important;
}

@media (max-width: 668px) {
    .PLPItem .productsItem {
        padding: 15px 10px 15px;
    }

    .PLPItem .productsItem .addToBasket {
        font-weight: bold !important;
        height: 2.5rem;
        font-size: 0.9rem !important;
    }

    .PLPItem .productsItem .text-height {
        height: 45px;
    }

    .PLPItem .p_img {
        min-height: 100%;
    }

    .PLPItem .productsItem .amt_strike {
        font-size: 0.9rem !important;
    }

    .PLPItem .productsItem .p_amt {
        font-size: 0.9rem !important;
    }
    .PLPItem .productsItem .label {
        font-size: 0.75rem;
    }
}
