.step1-phoneinput {
    min-height: 50vh;
    margin-block: 2rem;
}
.step1-phoneinput .card {
    background: #f3f3f3;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
}
.step1-phoneinput .card .title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-block-end: 1.2rem;
}

.step1-phoneinput .card .phone-input .label {
    margin-block-end: 0.4rem;
}
.step1-phoneinput .card .submit-button {
    background-color: #ee0e19;
    color: #fff;
    border: solid 1px #ee0e19;
    border-radius: 0.4rem;
    font-size: 1rem;
    font-weight: 600;
    width: 100%;
    text-transform: capitalize !important;
    transition: 300ms ease;
}
.step1-phoneinput .card .submit-button:hover {
    background-color: #f01a25;
}
.step1-phoneinput .card .submit-button[data-loader='true'] {
    width: auto;
    min-width: auto;
    border-radius: 50%;
    padding: 4px;
}
.step1-phoneinput .card .submit-button[data-loader='true'] .MuiCircularProgress-root {
    color: #ffffff !important;
    height: 32px !important;
    width: 32px !important;
}
.card .resend-otp.MuiButton-root {
    text-transform: capitalize;
    background: transparent;
}
.step3-consent-form,
.step4-success {
    min-height: 50vh;
    padding-block: 2rem;
    position: relative;
}
.step3-consent-form .background-images,
.step4-success .background-images {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    overflow: hidden;
    background: #fff;
}
.step3-consent-form .background-images > div,
.step4-success .background-images > div {
    height: inherit;
    background: #fff !important;
    padding-top: 0px !important;
}
.step3-consent-form .background-images > div img,
.step4-success .background-images > div img {
    height: inherit !important;
}
.step3-consent-form .card {
    background: #f3f3f3;
    padding: 1.5rem 2rem;
}
.step3-consent-form .title {
    padding: 0.5rem 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
    background: #0c943f;
    border-radius: 4px;
}
.step4-success {
    min-height: 80vh;
}

.step4-success .card {
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 1rem;
}
.step4-success .card .message {
    font-size: 1.2rem;
    font-weight: 600;
    margin-block-end: 1rem;
}
.step4-success .card .ok-button.MuiButton-root {
    background-color: #ee0e19;
    color: #fff;
    border: solid 1px #ee0e19;
    border-radius: 0.4rem;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.4rem 0.8rem;
    width: fit-content;
    text-transform: capitalize !important;
    transition: 300ms ease;
}
@media screen and (max-width: 958px) {
    .step1-phoneinput .card {
        padding: 1.2rem 1rem;
    }
    .step3-consent-form .card {
        background: #f3f3f3;
        padding: 1.2rem 1rem;
    }
}
