.mainPDP {
    width: 90% !important;
    margin: 15px auto;
}

.PDPError {
    font-size: 2rem !important;
    padding: 1rem 2rem !important;
    margin: 1rem !important;
    color: #ea3434;
    border: 1px solid;
    border-radius: 4px;
}

.sold-out-pdp {
    color: #ea3434;
    font-size: 1.4rem !important;
    font-weight: bold !important;
    letter-spacing: 0.12px;
    padding-top: 30px !important;
    font-family: 'VAG Rounded ELC bold' !important;
}

.sessionExpiredLogic {
    padding: 2rem 1rem !important;
}

.sessionExpiredLogic p {
    font-size: 1.1rem;
    font-weight: bold;
    font-family: 'VAG Rounded ELC bold' !important;
}

.sessionExpiredLogic button {
    background-color: #ea3434;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'VAG Rounded ELC bold' !important;
    margin-top: 1.1rem;
}
