.close-icon-sort {
    margin-top: 0px !important;
    color: #ee0e19 !important;
    cursor: pointer;
    position: absolute;
    right: 20%;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
}
.fc-banner-div {
    width: 50%;
}
.fc-banner-div .summary {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fc-banner-div .summary h3 {
    font-size: 2rem;
    font-family: 'VAG Rounded ELC ExtraBold' !important;
    background: linear-gradient(to bottom, #0f943f, #545454);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fc-banner-div .summary p {
    font-size: 1.2rem;
    color: #000;
    font-family: 'VAG Rounded ELC Light' !important;
}
.module-2-container {
    padding: 40px 0px;
}

.join-now-text {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}
.brand-color-box {
    width: 80px;
    height: 65px;
    background-color: #03a246;
    margin: auto;
    position: relative;
    left: 25px;
    bottom: 45px;
    text-align: center;
    color: white;
    font-family: 'VAG Rounded ELC Bold' !important;
    font-size: 40px;
}

.gery-box {
    width: 80px;
    height: 65px;
    background-color: #f0f0f0;
    margin: auto;
}
.sub-text-p {
    text-align: center;
    width: 50%;
    margin: auto;
    margin-bottom: 1rem;
}
.join-now-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.joinNow {
    padding-top: 20px;

    /* display: block; */
    /* margin: auto; */
    display: flex;
    justify-content: center;
}
.joinNow-btn {
    /* width: 15%; */
    padding: 10px 40px !important;
    background-color: #03a246 !important;
}
.image-section {
    width: 80%;
    position: relative;
    margin: auto;
    margin-top: -90px;
}

.image-mobile-section {
    width: 80%;
    /* position: relative; */
    margin: auto;
    margin-top: 20px;
}
.module-3-mobi {
    position: relative;
    bottom: 30px;
    padding: 40px 0px;
    margin: 120px 0px 0px 0px;
    background-color: rgb(254 152 149);
}

.module-3-container {
    padding: 40px 0px;
    margin: 120px 0px 0px 0px;
    background-color: rgb(254 152 149);
}
.module-3-container[data-reverse='true'] {
    flex-direction: row-reverse;
}
.mob-image-container {
    z-index: 1;
}
.bold-text-head {
    font-size: 1.7rem !important;
    font-weight: bold !important;
    line-height: 1.42 !important;
    letter-spacing: 0.48px !important;

    text-align: center;
}

.bold-text-head .MuiTypography-body1 {
    font-family: 'VAG Rounded ELC Bold' !important;
}

.descriptionText {
    line-height: 1.46 !important;
    letter-spacing: 0.26px !important;
    font-weight: 300 !important;
    font-size: 1.1rem !important;
    text-align: center;
}
.remove-child {
    cursor: pointer;
    position: absolute;
    right: 3%;
    margin-top: 40px;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
}

.mainContainer {
    margin-bottom: 40px;
    margin-top: 100px;
}

.badyCloubImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-left: 20px;
}

.birthdayForm {
    position: relative;
    width: 100%;
    height: fit-content;
    padding-right: 45px;
    padding-left: 15px;
}

.paddingLeft30 {
    padding-left: 30px;
}

.colorRed {
    color: red;
}
.crossSmall {
    width: 17px !important;
}
.datePicker {
    border: 1px solid #c4c4c4 !important;
    padding: 6px !important;
    border-radius: 4px;
    width: 100%;
}

.addChildrenButton {
    background-color: #fff !important;
    color: #0d943f !important;
    border: solid 1px #0d943f !important;
    border-radius: 4px !important;
    padding: 5px 48px !important;
    text-transform: unset !important;
    width: auto;
}

.birthday-club-register {
    background-color: #0d943f !important;
    border: solid 1px #0d943f;
    border-radius: 4px;
    color: #ffffff !important;
    letter-spacing: 0.15px !important;
    line-height: 0.8 !important;
    font-size: 1rem !important;
    font-weight: bold !important;
    padding: 15px 30px !important;
    margin-top: 15px !important;
    text-transform: capitalize !important;
}

.errorMsg {
    border: 1px solid red;
    color: red;
    height: 34px;
    border-radius: 5px;
    margin-left: 28px;
    margin-right: 18px;
    margin-bottom: 4%;
    margin-top: 3%;
    justify-content: center;
    align-items: center;
}

.bredcrub-bclub {
    margin-left: 20px !important;
}
.fc-terms-and-cond a {
    color: #585858;
    font-size: 0.8rem;
}
.fc-terms-and-cond a::before {
    content: '*';
    margin: 1px;
}
.fc-terms-and-cond a:hover {
    color: #292929;
}

html[dir='rtl'] .bredcrub-bclub {
    margin-right: 20px !important;
}

@media (max-width: 767px) {
    .fc-banner-div {
        width: 100%;
    }
    .fc-banner-div .summary {
        width: 90%;
    }
    .fc-banner-div .summary h3 {
        font-size: 1.5rem;
    }
    .fc-banner-div .summary p {
        font-size: 0.8rem;
        color: #000;
    }
    .join-now-content {
        width: 90%;
    }
    .join-now-text {
        font-size: 1.2rem;
    }
    .addChildrenButton {
        background-color: #fff !important;
        color: #0d943f !important;
        border: solid 1px #0d943f !important;
        border-radius: 4px !important;
        padding: 5px 38px !important;
        text-transform: unset !important;
        width: 95%;
    }
    .birthday-club-register {
        width: 95% !important;
    }
    .birthdayForm {
        padding-right: 14px;
        padding-left: 0px;
    }
    .badyCloubImage {
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding-bottom: 5px;
    }
    .close-icon-sort {
        margin-top: 0px !important;
        color: #ee0e19 !important;
        cursor: pointer;
        position: absolute;
        right: 11%;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1;
        text-shadow: 0 1px 0 #fff;
        opacity: 0.5;
    }

    html[dir='rtl'] .close-icon-sort {
        margin-top: 0px !important;
        color: #ee0e19 !important;
        cursor: pointer;
        position: absolute;
        right: 11%;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1;
        text-shadow: 0 1px 0 #fff;
        opacity: 0.5;
    }
}
