.PLP .ProductName p {
    color: #0c943f;
    line-height: 1;
    font-weight: bold;
    letter-spacing: normal;
    font-size: 2rem;
    margin: 28px 0px 12px;
    font-family: 'VAG Rounded ELC Bold' !important;
}
.mobile_filter {
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 0px 20px;
    height: 60px;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.paginationPadding .MuiPaginationItem-page.Mui-selected {
    background-color: #0c943f;
    color: #ffffff;
}

.border-bottom {
    border-bottom: 1px solid #dedede;
}

html[dir='rtl'] .PLP .ProductName p {
    text-align: right;
}

.NoTextDataAvailable {
    font-size: 1.2rem !important;
    color: #212529;
    padding: 20px 0px;
}
.NoTextDataAvailable span {
    padding: 1rem 2rem !important;
    margin: 1rem !important;
    color: #ea3434;
    border: 1px solid;
    border-radius: 4px;
}

@media (max-width: 958px) {
    .mainPlp {
        padding-top: 60px;
    }
}
@media (max-width: 668px) {
    .PLP .ProductName p {
        font-size: 1.6rem;
    }

    .mobile_filter .filterText {
        font-size: 1.2rem;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.67;
        letter-spacing: 0.48px !important;
        text-align: left;
        color: #212529;
        font-family: 'VAG Rounded ELC Bold' !important;
    }

    .mobile_filter img {
        width: 90% !important;
    }

    .paginationPadding .MuiPaginationItem-sizeLarge {
        width: 30px;
        height: 30px;
    }

    .PLP .description-line {
        height: 1px;
        width: 100%;
        background-color: #dedede;
        margin-bottom: 20px;
        margin-top: 10px;
    }
}
