.close-icon-sort {
    margin-top: 0px !important;
    color: #ee0e19 !important;
    cursor: pointer;
    position: absolute;
    right: 20%;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
}

.remove-child {
    cursor: pointer;
    position: absolute;
    right: 3%;
    margin-top: 40px;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
}

.mainContainer {
    margin-bottom: 40px;
    margin-top: 100px;
}

.badyCloubImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-left: 20px;
}

.birthdayForm {
    position: relative;
    width: 100%;
    height: fit-content;
    padding-right: 45px;
    padding-left: 15px;
}

.paddingLeft30 {
    padding-left: 30px;
}

.colorRed {
    color: red;
}
.crossSmall {
    width: 17px !important;
}
.datePicker {
    border: 1px solid #c4c4c4 !important;
    padding: 6px !important;
    border-radius: 4px;
    width: 100%;
}

.addChildrenButton {
    background-color: #fff !important;
    color: #0d943f !important;
    border: solid 1px #0d943f !important;
    border-radius: 4px !important;
    padding: 5px 48px !important;
    text-transform: unset !important;
    width: auto;
}
.addChildrenButton-disable {
    background-color: #fff !important;
    color: grey !important;
    border: solid 1px grey !important;
    border-radius: 4px !important;
    padding: 5px 48px !important;
    text-transform: unset !important;
    width: auto;
}

.birthday-club-register {
    background-color: #0d943f !important;
    border: solid 1px #0d943f;
    border-radius: 4px;
    color: #ffffff !important;
    letter-spacing: 0.15px !important;
    line-height: 0.8 !important;
    font-size: 1rem !important;
    font-weight: bold !important;
    padding: 15px 30px !important;
    margin-top: 15px !important;
    text-transform: capitalize !important;
}

.errorMsg {
    border: 1px solid red;
    color: red;
    height: 34px;
    border-radius: 5px;
    margin-left: 28px;
    margin-right: 18px;
    margin-bottom: 4%;
    margin-top: 3%;
    justify-content: center;
    align-items: center;
}

.bredcrub-bclub {
    margin-left: 20px !important;
}

html[dir='rtl'] .bredcrub-bclub {
    margin-right: 20px !important;
}

@media (max-width: 767px) {
    .addChildrenButton {
        background-color: #fff !important;
        color: #0d943f !important;
        border: solid 1px #0d943f !important;
        border-radius: 4px !important;
        padding: 5px 38px !important;
        text-transform: unset !important;
        width: 95%;
    }
    .addChildrenButton-disable {
        background-color: #fff !important;
        color: grey !important;
        border: solid 1px grey !important;
        border-radius: 4px !important;
        padding: 5px 38px !important;
        text-transform: unset !important;
        width: 95%;
    }
    .birthday-club-register {
        width: 95% !important;
    }
    .birthdayForm {
        padding-right: 14px;
        padding-left: 0px;
    }
    .badyCloubImage {
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding-bottom: 5px;
    }
    .close-icon-sort {
        margin-top: 0px !important;
        color: #ee0e19 !important;
        cursor: pointer;
        position: absolute;
        right: 11%;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1;
        text-shadow: 0 1px 0 #fff;
        opacity: 0.5;
    }

    html[dir='rtl'] .close-icon-sort {
        margin-top: 0px !important;
        color: #ee0e19 !important;
        cursor: pointer;
        position: absolute;
        right: 11%;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1;
        text-shadow: 0 1px 0 #fff;
        opacity: 0.5;
    }
}
