.my-cards-container .active-value {
    color: #0c943f;
    font-family: 'VAG Rounded ELC Light';
    padding-left: 10px;
}
.my-cards-container .title {
    font-size: 1rem;
    font-family: 'VAG Rounded ELC Light';
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}
.my-cards-container .autoRenewaltitle {
    padding-top: 9px;
    font-size: 1rem;
    font-family: 'VAG Rounded ELC Light';
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}
.my-cards-container .QrActive-text {
    color: #0c943f;
    font-family: 'VAG Rounded ELC Bold' !important;
    /* padding-left: 10px; */
}
.my-cards-container .clubDatePicker .MuiOutlinedInput-root {
    position: relative;
    border-radius: 4px;
    height: 45px;
}
.my-cards-container .addChildrenBtn .MuiButton-outlinedPrimary {
    color: #0c943f;
    border: 1px solid #0c943f;
}
