.checkout-thankyou .thank-you-page-card {
    border-radius: 4px;
    /* box-shadow: 0 0px 11px 0 rgba(0, 0, 0, 0.08); */
    background-color: #ffffff;
    margin-top: 4px;
}

.checkout-thankyou .single-shipment-box-shadow {
    box-shadow: 0 0px 11px 0 rgba(0, 0, 0, 0.08);
}
.checkout-yellow {
    color: #dd8512;
    margin-top: 10px !important;
}

.checkout-thankyou .main-padding-top {
    padding-top: 2rem;
}

.checkout-thankyou .thank-you-page-card .order-title {
    letter-spacing: 0.52px !important;
    line-height: 1.63 !important;
    font-weight: bold !important;
    font-size: 1.5rem !important;
    font-family: 'VAG Rounded ELC Bold' !important;
}

.checkout-thankyou .thank-you-page-card .green {
    color: #0c943f;
}

.checkout-thankyou .thank-you-page-card .red {
    color: #ee0e19;
}

.checkout-thankyou .thank-you-page-card .thankyou-image {
    width: 6rem;
    height: 6rem;
}

.checkout-thankyou .thank-you-page-card .thankyou-image1 {
    width: 5rem;
    height: 5rem;
}

.checkout-thankyou .thank-you-page-card .order-message {
    color: #212529;
    letter-spacing: 0.3px !important;
    font-weight: 300 !important;
    font-size: 1.1rem !important;
    padding: 10px 20px 20px;
    text-align: center;
}

.checkout-thankyou .thank-you-page-card .orderNoBox {
    border-radius: 5px;
    border: solid 1px #0d943f;
    background-color: #ffffff;
    text-align: center;
    margin: 10px 0px 20px;
}

.checkout-thankyou .thank-you-page-card .orderNoBox span {
    font-weight: 300 !important;
    color: #212529;
    letter-spacing: 0.3px !important;
    line-height: 2.83 !important;
    font-size: 1.5rem !important;
}

.checkout-thankyou .thank-you-page-card .orderNoBox .order-number {
    color: #212529;
    letter-spacing: 0.3px !important;
    line-height: 2.83 !important;
    font-weight: bold !important;
    font-size: 1.5rem !important;
    font-family: 'VAG Rounded ELC Bold' !important;
}

.checkout-thankyou .padding {
    padding: 1.5rem 1rem;
}

.checkout-thankyou .thank-you-page-card .order-details-title {
    color: #212529;
    font-weight: bold !important;
    font-size: 1.1rem;
    padding-bottom: 0.8rem;
    font-family: 'VAG Rounded ELC Bold' !important;
}

.checkout-thankyou .thank-you-page-card .order-detaile-subTitle {
    font-size: 0.9rem !important;
    color: #212529;
    padding-bottom: 6px;
    font-family: 'VAG Rounded ELC Bold' !important;
    word-break: break-all;
}

.checkout-thankyou .thank-you-page-card .order-details-address-type {
    letter-spacing: 0.22px !important;
    color: #0c943f;
    font-size: 0.8rem !important;
}

.checkout-thankyou .thank-you-page-card .order-details-address-value {
    color: #4f4f4f;
    letter-spacing: 0.26px !important;
    font-weight: 300 !important;
    font-size: 0.8rem !important;
    word-break: break-all;
}

.checkout-thankyou .thank-you-page-card .order-detaile-summary-title {
    color: #212529;
    letter-spacing: 0.32px !important;
    font-weight: bold !important;
    font-size: 1.2rem !important;
    font-family: 'VAG Rounded ELC Bold' !important;
}

.checkout-thankyou .border-line {
    height: 1px;
    background-color: #d6d6d6;
    margin: 26px 0px 10px;
}

.checkout-thankyou .padd-t {
    margin: 10px 0px 10px;
}

.checkout-thankyou .thank-you-page-card .table-text {
    color: #4f4f4f;
    letter-spacing: 0.28px !important;
    font-weight: bold !important;
    font-size: 1rem !important;
}

.checkout-thankyou .thank-you-page-card .order-item-image {
    width: 5rem;
    height: 5rem;
}

.checkout-thankyou .padding-top-botton {
    padding: 12px 0px;
}

.checkout-thankyou .order-item-name {
    color: #0c943f;
    letter-spacing: 0.14px !important;
    font-weight: bold !important;
    font-family: 'VAG Rounded ELC Bold' !important;
    font-size: 0.9rem !important;
}

.checkout-thankyou .cart-showing-price {
    color: #4f4f4f;
    letter-spacing: 0.14px !important;
    font-weight: bold !important;
    font-size: 1rem !important;
}

.checkout-thankyou .cart-showing-price-strik {
    color: #4f4f4f;
    letter-spacing: 0.14px !important;
    font-weight: 300 !important;
    font-size: 1rem !important;
    text-decoration: line-through;
}

.checkout-thankyou .order-item-qty {
    color: #212529;
    letter-spacing: 0.14px !important;
    font-weight: 300 !important;
    font-size: 1rem !important;
}

.checkout-thankyou .cartSubTotal {
    color: #0c943f;
    font-weight: bold !important;
    font-size: 1rem !important;
    font-family: 'VAG Rounded ELC Bold' !important;
}
.checkout-thankyou .cartSubTotal .price-div {
    margin-left: auto;
    text-align: inherit;
}
html[dir='rtl'] .checkout-thankyou .cartSubTotal .price-div {
    margin-left: initial;
    margin-right: auto;
}
.checkout-thankyou .cartpayment-label {
    color: #4f4f4f;
    letter-spacing: 0.24px !important;
    line-height: 2.33 !important;
    font-weight: 300 !important;
    font-size: 0.9rem !important;
}

.checkout-thankyou .cartpayment-value {
    color: #212529;
    letter-spacing: 0.24px !important;
    line-height: 2.33 !important;
    font-weight: 300 !important;
    font-size: 0.9rem !important;
}
.checkout-thankyou .FamilyClub-label {
    color: #f8891a;
    letter-spacing: 0.24px !important;
    line-height: 2.33 !important;
    font-weight: 300 !important;
    font-size: 0.9rem !important;
}
.checkout-thankyou .FamilyClub-label.bold {
    font-family: 'VAG Rounded ELC Bold' !important;
}

.checkout-thankyou .FamilyClub-value {
    color: #f8891a;
    letter-spacing: 0.24px !important;
    line-height: 2.33 !important;
    font-weight: 300 !important;
    font-size: 0.9rem !important;
}
.checkout-thankyou .FamilyClub-value.bold {
    font-family: 'VAG Rounded ELC Bold' !important;
}
.checkout-thankyou .cartpayment-total-label {
    color: #212529;
    letter-spacing: 0.32px !important;
    line-height: 1.75 !important;
    font-weight: bold !important;
    font-size: 1.1rem !important;
    font-family: 'VAG Rounded ELC Bold' !important;
}

.checkout-thankyou .cartpayment-total-value {
    color: #0c943f;
    line-height: 1.56 !important;
    font-weight: bold !important;
    font-size: 1.2rem !important;
    font-family: 'VAG Rounded ELC Bold' !important;
}

.checkout-thankyou .ContinueShopping {
    border-radius: 5px;
    background-color: #ee0e19;
    color: #ffffff;
    letter-spacing: 0.3px !important;
    line-height: 2 !important;
    font-weight: bold !important;
    font-family: 'VAG Rounded ELC Bold' !important;
    font-size: 1.1rem !important;
    text-transform: capitalize;
    margin: 25px 0px 35px;
    padding: 0.5rem 2rem;
}

.checkout-thankyou .ContinueShopping:hover {
    background-color: #ee0e19;
}

.checkout-thankyou .summary-card {
    /* padding: 0.6rem 0.7rem; */
    box-shadow: 0 3px 4px 2px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    margin-bottom: 1rem;
}

.checkout-thankyou .order-summary-title {
    color: #212529;
    font-weight: bold;
    font-size: 1.1rem;
    text-align: center;
    width: 100%;
    margin-bottom: 0.8rem;
}

.checkout-thankyou .summary-shippment-title {
    font-size: 0.9rem;
    color: #4f4f4f;
    text-decoration: underline;
    padding: 1rem 0px;
}

.checkout-thankyou .summary-order-number-and-delivery {
    /* padding: 0.5rem 0px 2rem; */
    background-color: #f0fcf5;
}

.checkout-thankyou .summary-order-number-and-delivery span {
    font-size: 0.9rem;
}

.checkout-thankyou .order-details-product-specification {
    font-size: 0.85rem;
}
.checkout-thankyou .padding-20 {
    padding: 20px;
}
.checkout-thankyou .item-order-details-line {
    padding: 15px;
    width: 100%;
    margin: auto;
    /* border-bottom: 2px solid #0c943f; */
    border-top: 2px solid #0c943f;
    /* margin-top: 10px; */
}
.checkout-thankyou .head-padd {
    padding: 40px 20px 0px 20px;
}
.checkout-thankyou .margin-top {
    margin-top: 10px;
}

.checkout-thankyou .thank-you-page-card .fcBanner {
    margin-top: 10px;
}

.checkout-thankyou .thank-you-page-card .fcBanner img {
    width: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.fc-benefit-tag {
    font-size: 0.8rem !important;
    color: #f8891a;
    font-family: 'VAG Rounded ELC Bold' !important;
}

@media (max-width: 668px) {
    .order-detail-mobile-p-t {
        padding-top: 20px;
    }

    .checkout-thankyou .main-padding-top {
        padding-top: 0px;
    }
    .checkout-thankyou .summary-order-number-and-delivery {
        padding: 1rem;
        background-color: #ffff;
    }
    .checkout-thankyou .summary-shippment-title {
        padding: 1rem;
    }
    .checkout-thankyou .order-item-qty {
        font-size: 0.9rem !important;
        line-height: initial;
    }
    .checkout-thankyou .cart-showing-price {
        font-size: 0.9rem !important;
        margin-top: 0.5rem;
    }
    .checkout-thankyou .cart-showing-price-strik {
        font-size: 0.9rem !important;
    }
    .checkout-thankyou .cart-showing-price .price-div {
        margin-left: auto;
    }
    html[dir='rtl'] .checkout-thankyou .cart-showing-price .price-div {
        margin-left: initial;
        margin-right: auto;
    }
}
