.pdp-you-may-also-like {
    align-items: center;
    margin-bottom: 28px !important;
}

.pdp-you-may-also-like .line {
    width: 37%;
    border-bottom: 1px solid #d6d6d6;
}

.pdp-you-may-also-like label {
    color: #4f4f4f;
    font-family: 'VAG Rounded ELC Light';
    font-size: 2rem;
    font-weight: 300;
    width: 26%;
    letter-spacing: 0.3px !important;
    text-align: center;
}

.m-t-p-30 {
    margin: 80px 0px 30px;
}

@media (max-width: 668px) {
    .pdp-you-may-also-like .line {
        width: 20%;
    }

    .pdp-you-may-also-like label {
        width: 60%;
        font-size: 20px;
        position: relative;
        top: 5px;
    }
}
