.country-pop .close-icon {
    position: absolute;
    top: 0;
    right: 0;
}

.country-pop-container .MuiDialog-paperWidthSm {
    max-width: 400px;
}

.country-pop .title {
    color: #0c943f;
    letter-spacing: 0.2px !important;
    font-weight: bold !important;
    font-size: 1.3vw !important;
    padding: 10px 0px 20px !important;
}

.country-pop {
    padding: 10px 0px 20px;
}

.country-pop .country-flag-container {
    background: #ffffff;
    padding: 10px 40px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.09);
    border: solid 1px #f3f3f3;
}

.country-pop .active-container {
    border: solid 2px #0c943f !important;
}

.country-pop .language-p-t {
    padding-top: 20px;
}

.country-pop .language-text-pop {
    font-size: 1vw !important;
    font-weight: bold !important;
    line-height: 1.25 !important;
    letter-spacing: 0.32px !important;
    text-align: center;
    color: #4f4f4f;
}

.country-pop .lan-text-container-p-t-b {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.country-pop .submit-button-c-pop {
    background-color: #ee0e19;
    border-radius: 5px;
    margin-top: 20px;
    width: 100%;
    color: #ffffff;
    font-family: 'VAG Rounded ELC Bold' !important;
    font-weight: bold !important;
    padding: 10px 20px !important;
    text-transform: capitalize;
    font-size: 1vw !important;
}

.country-pop .submit-button-c-pop span {
    position: relative;
    top: 2px;
}

.country-pop .submit-button-c-pop:hover {
    background-color: #ee0e19;
}

@media (max-width: 668px) {
    .country-pop .title {
        font-size: 4vw !important;
    }
    .country-pop .submit-button-c-pop {
        font-size: 3.5vw !important;
    }

    .country-pop .country-flag-container {
        margin: 4px 5px !important;
        padding: 10px 30px !important;
    }

    .country-pop .language-text-pop {
        font-size: 3.5vw !important;
    }

    .country-pop .lan-text-container-p-t-b {
        padding-top: 16px !important;
        padding-bottom: 16px !important;
    }
}
