.BuyMoreSaveMore {
    padding-top: 30px;
}

.BuyMoreSaveMore .buymore-text {
    color: #212529;
    line-height: 1.2;
    letter-spacing: 0.14px;
    font-weight: 300;
}

.BuyMoreSaveMore .line {
    border: 1px solid #0d943f;
    margin: 0px 5px;
}

.BuyMoreSaveMore .buymoresavemore-text-value {
    color: #0d943f;
    line-height: 1.37;
    letter-spacing: 0.14px;
    font-weight: bold;
    font-family: 'VAG Rounded ELC Bold' !important;
    position: relative;
    top: 2px;
}
