.footer-css {
    color: #0d943f;
}
.footer-css .Collapsible .Collapsible__trigger .Collapsible_text_container {
    position: relative;
    padding: 10px;
    background: #e9ebea;
}
.footer-css .Collapsible_text {
    cursor: pointer;
    padding: 0 10px;
    width: 100%;
    text-align: left;
    border: none;
    font-size: 16px;
    outline: none;
    transition: 0.4s;
}

.footer-css .Collapsible .Collapsible__trigger .Collapsible_text_container .Collapsible_arrow_container {
    position: absolute;
    right: 13px;
    top: 5px;
}
.footer-css .Collapsible .Collapsible__trigger .Collapsible_text_container .Collapsible_arrow_container img {
    width: 15px;
}

.footer-css .footer_ul_amrc {
    text-align: left;
}
html[dir='rtl'] .footer-css .Collapsible_text {
    text-align: right;
}
html[dir='rtl']
    .footer-css
    .Collapsible
    .Collapsible__trigger
    .Collapsible_text_container
    .Collapsible_arrow_container {
    position: absolute;
    left: 13px;
    top: 5px;
    right: unset;
}

.footer-css .Collapsible__contentInner div {
    text-align: start;
    padding: 9px 20px;
    background: #e9ebea;
}

.footer-css .footer_ul_amrc li a {
    color: #000;
    font-size: 14px;
}
.footer-css .footer_ul_amrc {
    text-align: left;
}
.footer-css .footer-accordian .footer_ul_amrc li {
    padding: 10px 0 10px 18px;
}
html[dir='rtl'] .footer-css .footer_ul_amrc {
    text-align: right !important;
}
.footer_ul_amrc {
    margin: 0;
    list-style-type: none;
    font-size: 14px;
}
.footer_ul_amrc,
.footer_ul_amrc li {
    padding: 0 0 10px;
}
.text-color {
    text-align: initial;
    color: #4f4f4f;
    font-size: 1.2rem;
}
.text-color a {
    color: #4f4f4f !important;
    text-decoration: none !important;
}

.footer-t-m {
    margin-top: 20px;
}

.footer-line {
    /* border-top: solid 2px #f3f0f0; */
    padding: 40px 0px;
    border-bottom: solid 2px #0d943f;
}

.footer-line-c {
    padding: 40px 0px;
    border-top: solid 2px #0d943f;
}

.footer-title {
    color: #0d943f;
    font-size: 1.2rem !important;
    margin-bottom: 10px !important;
}

.footer-subTitle {
    font-size: 0.9rem !important;
    color: #4f4f4f !important;
}

.appstore-icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 0.3rem;
}

.footer-icon {
    margin-right: 15px;
}

.pl-15 {
    padding-left: 5% !important;
}

.pl-5 {
    padding-left: 5% !important;
}

html[dir='rtl'] .pl-15 {
    padding-right: 5% !important;
}

html[dir='rtl'] .pl-5 {
    padding-right: 5% !important;
}

html[dir='rtl'] .emailBox {
    padding-left: 0px;
    padding-right: 8px;
    float: left;
}

.m-t-20 {
    margin-top: 20px !important;
}

.m-b-20 {
    margin-bottom: 20px !important;
}

html[dir='rtl'] .arabic-left {
    text-align: left !important;
}

.consumer-right {
    width: 6rem;
}

.text-align-end {
    text-align: right;
}

html[dir='rtl'] .text-align-end {
    text-align: left;
}

.text-align-start {
    text-align: left;
}

html[dir='rtl'] .text-align-start {
    text-align: right;
}

@media (max-width: 668px) {
    .footer-title {
        font-size: 5vw !important;
        font-weight: 300 !important;
    }

    .footer-subTitle {
        line-height: 2 !important;
    }

    .footer-line {
        padding: 20px 0px;
    }
}
