.checkout-payment .title {
    color: #0c943f;
    letter-spacing: 0.48px !important;
    line-height: 1.33 !important;
    font-weight: bold !important;
    font-size: 1.5rem !important;
}

.checkout-payment .voucher-text {
    color: #212529;
    letter-spacing: 0.14px !important;
    line-height: 1.71 !important;
    font-weight: 300 !important;
    font-size: 1rem !important;
    padding-top: 25px !important;
}
/* CSS */
@supports (-webkit-appearance: -apple-pay-button) {
    .checkout-payment .apple-pay-button-with-text {
        display: inline-block;
        -webkit-appearance: -apple-pay-button;
        -apple-pay-button-type: buy;
    }
    .checkout-payment .apple-pay-button-with-text > * {
        display: none;
    }
    .checkout-payment .apple-pay-button-black-with-text {
        -apple-pay-button-style: black;
        height: 50px;
        padding: 8px 3rem;
        margin-top: 20px;

        font-weight: bold;
        line-height: 1.8;
        letter-spacing: 0.15px;
        font-size: 1.1rem;
    }
    .checkout-payment .apple-pay-button-white-with-text {
        -apple-pay-button-style: white;
    }
    .checkout-payment .apple-pay-button-white-with-line-with-text {
        -apple-pay-button-style: white-outline;
    }
}

@supports not (-webkit-appearance: -apple-pay-button) {
    .checkout-payment .apple-pay-button-with-text {
        --apple-pay-scale: 1; /* (height / 32) */
        display: inline-flex;
        justify-content: center;
        font-size: 12px;
        border-radius: 5px;
        padding: 0px;
        box-sizing: border-box;
        min-width: 220px;
        height: 50px !important;
    }
    .checkout-payment .apple-pay-button-black-with-text {
        background-color: black;
        color: white;
        height: 150px;
    }
    .checkout-payment .apple-pay-button-white-with-text {
        background-color: black;
        color: white;
    }
    .checkout-payment .apple-pay-button-white-with-line-with-text {
        background-color: white;
        color: black;
        border: 0.5px solid black;
    }
    .checkout-payment .apple-pay-button-with-text.apple-pay-button-black-with-text > .logo {
        background-image: -webkit-named-image(apple-pay-logo-white);
        background-color: black;
        height: 70px;
    }
    .checkout-payment .apple-pay-button-with-text.apple-pay-button-white-with-text > .logo {
        background-image: -webkit-named-image(apple-pay-logo-black);
        background-color: white;
    }
    .checkout-payment .apple-pay-button-with-text.apple-pay-button-white-with-line-with-text > .logo {
        background-image: -webkit-named-image(apple-pay-logo-black);
        background-color: white;
    }
    .checkout-payment .apple-pay-button-with-text > .text {
        font-family: -apple-system;
        font-size: calc(1em * var(--apple-pay-scale));
        font-weight: 500;
        align-self: center;
        margin-right: calc(2px * var(--apple-pay-scale));
    }
    .checkout-payment .apple-pay-button-with-text > .logo {
        width: calc(35px * var(--scale));
        height: 100%;
        font-weight: 500;

        background-size: 100% 60%;
        background-repeat: no-repeat;
        background-position: 0 50%;
        margin-left: calc(2px * var(--apple-pay-scale));
        border: none;
    }
}

.checkout-payment .delivery-charges {
    color: #212529;
    letter-spacing: 0.14px !important;
    line-height: 1.71 !important;
    font-weight: 300 !important;
    font-size: 1rem !important;
    padding-top: 25px !important;
}

.checkout-payment .checkout-apply-button {
    color: #ee0e19;
    font-weight: bold;
    line-height: 2.15;
    letter-spacing: 0.13px;
    font-size: 0.95rem;
    border-radius: 4px;
    margin: 0px 8px;
    padding: 6px 25px;
    border: solid 1px #ee0e19;
    background-color: #ffffff;
}

.checkout-payment .border-line {
    height: 1px;
    background-color: #d6d6d6;
    margin: 26px 0px 10px;
}

.checkout-payment .MuiCheckbox-colorSecondary.Mui-checked {
    color: #0c943f;
}

.checkout-payment .checkbox-style {
    color: #0c943f;
    letter-spacing: 0.14px !important;
    font-size: 0.9rem !important;
    position: relative;
    top: 2px;
}

.checkout-payment .checkbox-style-subtext {
    color: #4f4f4f;
    letter-spacing: 0.22px !important;
    font-weight: 300 !important;
    font-size: 0.8rem !important;
}

.checkout-payment .checkbox-style .bold-text {
    font-weight: bold;
}

.checkout-payment .checkout-payment-cart {
    border-radius: 4px;
    border: solid 1px #cecece;
    background-color: #ffffff;
    padding: 20px 0px;
    margin-top: 20px;
    box-shadow: none !important;
}

.checkout-payment .active-payment .checkout-payment-cart {
    border: solid 1px #0c943f;
}

.checkout-payment .padding-l-r {
    padding-right: 8px;
}

html[dir='rtl'] .checkout-payment .padding-l-r {
    padding-right: 0px;
    padding-left: 8px;
}

.checkout-payment .payment-method-img {
    width: 4rem;
    height: 4rem;
}

.checkout-payment .checkout-payment-cart .methodName {
    color: #4f4f4f;
    letter-spacing: 0.14px !important;
    font-weight: 300 !important;
    font-size: 1rem !important;
    margin-top: 20px;
}

.checkout-payment .active-payment .checkout-payment-cart .methodName {
    color: #212529;
    font-weight: bold !important;
}

html[dir='rtl'] .checkout-payment .title {
    text-align: right;
}

html[dir='rtl'] .checkout-payment .voucher-text {
    text-align: right;
}

html[dir='rtl'] .checkout-payment .delivery-charges {
    text-align: right;
}

html[dir='rtl'] .checkout-payment .checkbox-style {
    text-align: right;
}

html[dir='rtl'] .arabic-right {
    text-align: right;
}

.checkout-payment .payment-cart-value {
    color: #212529;
    letter-spacing: 0.32px !important;
    font-weight: bold !important;
    line-height: 1.75 !important;
    font-size: 1.2rem !important;
    margin-top: 20px;
}

.checkout-payment .payment-cart-value .card-value {
    color: #0c943f;
}

.checkout-payment .payment-cart-sub {
    color: #212529;
    font-weight: 300 !important;
    letter-spacing: 0.32px !important;
    line-height: 1.75 !important;
    font-size: 0.9rem !important;
    margin-top: 4px;
}

.checkout-payment .payment-cart-sub .card-value {
    font-weight: bold !important;
}

html[dir='rtl'] .checkout-payment .payment-cart-sub {
    text-align: right;
}

html[dir='rtl'] .checkout-payment .payment-cart-value {
    text-align: right;
}

.checkout-payment .pay-now-button {
    border-radius: 4px;
    background-color: #ee0e19;
    text-transform: capitalize;
    padding: 8px 2rem;
    margin-top: 20px;
    color: #ffffff;
    font-weight: bold;
    line-height: 1.8;
    letter-spacing: 0.15px;
    font-size: 1.1rem;
}

.checkout-payment .pay-now-button:hover {
    background-color: #ee0e19;
}

.checkout-payment .Mui-disabled {
    color: #ffffff !important;
    opacity: 0.5;
}

.checkout-payment .active-payment {
    position: relative;
}

/* this CS forms the triangles */
.active-payment:after,
.active-payment:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    left: 45%;
    border-style: solid;
}

/* this border color controlls the color of the triangle (what looks like the fill of the triangle) */
.active-payment:after {
    bottom: -19px;
    left: 45.1%;
    border-color: #ffffff transparent transparent transparent;
    border-width: 10px;
}

/* this border color controlls the outside, thin border */
.active-payment:before {
    bottom: -21px;
    border-color: #0c943f transparent transparent transparent;
    border-width: 11px;
}

.payment-option-container {
    margin: 1rem 0px 1.5rem;
}

.checkout-payment .tearmAndCondition {
    color: #4f4f4f;
    letter-spacing: 0.2px !important;
    font-weight: 300 !important;
    font-size: 0.9rem !important;
    padding: 8px 0px 0px;
}

html[dir='rtl'] .checkout-payment .tearmAndCondition {
    text-align: right;
}

.checkout-payment .tearmAndCondition a {
    color: #212529;
    text-decoration: underline;
}

.checkout-payment .checkout-apply-button-disable {
    color: #4f4f4f !important;
    font-weight: bold;
    line-height: 2.15;
    letter-spacing: 0.13px;
    font-size: 0.95rem;
    border-radius: 4px;
    margin: 0px 8px;
    padding: 6px 25px;
    border: solid 1px #4f4f4f;
    background-color: #ffffff;
}

.checkout-payment .voucher-text-button {
    color: #0c943f;
    letter-spacing: 0.28px !important;
    font-weight: bold !important;
    text-transform: capitalize;
    font-family: 'VAG Rounded ELC bold' !important;
}

.checkout-payment .voucher-text-button svg {
    color: #575757;
    position: relative;
    top: -1px;
    font-size: 1rem !important;
}

.checkout-payment .voucher_code .Mui-disabled {
    color: #000 !important;
}
.dir-ltr {
    direction: ltr;
}
.form-label {
    color: #4f4f4f;
    font-weight: bold !important;
    letter-spacing: 0.13px !important;
    line-height: 1.85 !important;
    font-size: 0.9rem !important;
    padding-bottom: 4px !important;
}
.font-weight-600 {
    font-weight: 600 !important;
}

@media (max-width: 668px) {
    .checkout-payment .payment-method-img {
        width: 3rem;
        height: 3rem;
    }

    .checkout-payment .methodName {
        color: #4f4f4f;
        letter-spacing: 0.24px !important;
        font-weight: 300 !important;
        font-size: 1rem !important;
    }

    .checkout-payment .MuiRadio-colorSecondary.Mui-checked {
        color: #0c943f;
    }

    .checkout-payment .activeName {
        color: #212529;
        font-weight: bold !important;
    }
}
