.password-reset .title {
    font-weight: bold !important;
    font-size: 1.1rem !important;
    font-family: 'VAG Rounded ELC bold' !important;
    padding: 20px 0px 10px;
}

.password-reset .apply-button {
    font-weight: bold !important;
    font-size: 1rem !important;
    background-color: #ee0e19;
    color: #ffffff;
    margin-top: 1rem;
    width: 100%;
    text-transform: capitalize;
}

.password-reset .apply-button:hover {
    background-color: #ee0e19;
    color: #ffffff;
}

.status-title {
    font-size: 1.4rem !important;
    font-weight: bold !important;
    font-family: 'VAG Rounded ELC bold' !important;
    padding: 20px 0px;
    text-align: center !important;
    width: 100%;
}

.status-title-reset {
    font-size: 1.6rem !important;
    font-weight: bold !important;
    font-family: 'VAG Rounded ELC bold' !important;
    padding: 20px 0px;
    text-align: center !important;
    width: 100%;
}

.status-sub-title {
    font-size: 1.2rem !important;
    font-weight: bold !important;
    color: #212529;
    font-family: 'VAG Rounded ELC bold' !important;
    padding: 0px 0px 20px;
    text-align: center !important;
    width: 100%;
}

.status-text-title {
    font-size: 1rem !important;
    font-weight: 300 !important;
    color: #212529;
    padding: 0px 0px 20px;
    text-align: center !important;
    width: 100%;
}
