.AvailableFor .MuiListItemText-primary {
    color: #0d943f;
    font-weight: 300;
    position: relative;
    top: 2px;
    line-height: 1.05;
    letter-spacing: 0.16px;
    font-size: 1.2rem;
}

.AvailableFor .availableFor-text span {
    color: #212529;
    line-height: 1.2;
    letter-spacing: 0.14px;
    font-weight: 300;
}

.AvailableFor .MuiListItemIcon-root {
    min-width: 37px !important;
    color: #0d943f;
}

.AvailableFor .line {
    margin: 0px 30px;
    height: 20px;
    background: #b5b5b5 !important;
}

.AvailableFor .MuiSvgIcon-root-Free {
    height: 1.8em;
}

html[dir='rtl'] .AvailableFor .arPositionIcon {
    position: relative;
    top: 4px;
}

.AvailableFor .MuiListItem-gutters {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.AvailableFor .MuiList-padding {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.strick-out .MuiListItemText-root {
    text-decoration: line-through;
}

.strick-out .MuiListItemText-root .MuiListItemText-primary {
    color: gray;
}

@media (max-width: 668px) {
    .AvailableFor .MuiListItemText-primary {
        font-size: 1rem;
    }

    .AvailableFor .MuiSvgIcon-root-Free {
        height: 1.4rem;
    }

    .AvailableFor .line {
        margin: 0px 10px;
    }
}
