.return-order-details-container .my-order-details-back-button {
    color: #0c943f;
    font-weight: bold !important;
    font-size: 1rem !important;
    font-family: 'VAG Rounded ELC Bold' !important;
    text-transform: capitalize;
}

.return-order-details-container .my-order-details-back-button svg {
    position: relative;
    top: -1px;
}

.return-order-details-container .return-title {
    color: #0c943f;
    font-weight: bold !important;
    font-family: 'VAG Rounded ELC Bold' !important;
    font-size: 1.4rem !important;
}

.return-order-details-container .gray-line {
    height: 2px;
    background-color: #f3f0f0;
    width: 100%;
    margin: 10px 0px 30px;
}

.return-order-details-container .gray-line-1 {
    height: 1px;
    background-color: #f3f0f0;
    width: 100%;
    margin: 10px 0px 10px;
}

.return-order-details-container .sub-title-return-order {
    color: #000000;
    letter-spacing: 0.18px !important;
    font-weight: bold !important;
    font-family: 'VAG Rounded ELC Bold' !important;
    font-size: 1rem !important;
    padding-top: 15px;
}

.return-order-details-container .item-order-details-line {
    /* padding: 15px 0px;
    border-bottom: 1px solid #d6d6d6;
    border-top: 1px solid #d6d6d6;
    margin-top: 20px; */
    padding: 15px;
    width: 89%;
    /* margin: auto; */
    margin-left: 63px;
    /* border-bottom: 2px solid #0c943f; */
    border-top: 2px solid #0c943f;
}

.return-order-details-container .web-order-detail-image {
    width: 90%;
}

.return-order-details-container .padd-top-bottom-10-20 {
    padding: 10px 0px 20px;
}

.return-order-details-container .order-details-product-name {
    color: #212529;
    letter-spacing: 0.16px !important;
    font-weight: bold !important;
    font-size: 1.1rem !important;
    font-family: 'VAG Rounded ELC Bold' !important;
    padding-bottom: 13px;
}

.return-order-details-container .order-details-product-specification {
    color: #212529;
    letter-spacing: 0.11px !important;
    font-weight: 300 !important;
    font-size: 0.9rem !important;
}

.return-order-details-container .not-returnable-msg {
    color: #ee0e19;
}

.color-4f4f4f {
    color: #4f4f4f !important;
}

.return-order-details-container .cart-showing-price {
    letter-spacing: 0.16px !important;
    font-weight: 300 !important;
    font-size: 1.1rem !important;
    color: #4f4f4f;
}

.return-order-details-container .cart-showing-price-strik {
    letter-spacing: 0.16px !important;
    font-weight: 300 !important;
    font-size: 1.1rem !important;
    color: #b3b3b3;
    text-decoration: line-through;
}

.return-order-details-container .qty {
    letter-spacing: 0.16px !important;
    font-weight: 300 !important;
    font-size: 1.1rem !important;
    color: #4f4f4f;
    text-align: center;
}

.return-order-details-container .cartSubTotal {
    color: #0c943f;
    font-weight: 300 !important;
    font-size: 1.1rem !important;
    text-align: center;
}

.return-order-details-container .order-details-status {
    /* color: #dd8512; */
    font-weight: bold !important;
    font-size: 1.1rem !important;
    font-family: 'VAG Rounded ELC Bold' !important;
    text-align: center;
    text-transform: uppercase;
}
.return-order-details-container .order-details-mobi-status {
    /* color: #dd8512; */
    font-weight: bold !important;
    font-size: 1.1rem !important;
    font-family: 'VAG Rounded ELC Bold' !important;
    text-align: center;
    text-transform: capitalize;
}

.return-order-details-container .padd-bottom-20 {
    padding-bottom: 30px;
    padding-top: 30px;
}

.return-order-details-container .position-relative {
    position: relative;
}

.return-order-details-container .textAlignRight {
    text-align: right;
}

.return-order-details-container .return-form-container {
    border-radius: 4px;
    background-color: #f0fcf5;
    padding: 30px 20px;
}

.return-order-details-container .qty_button {
    background-color: #ffffff;
    border: 1px solid #b1b1b1;
}

.return-order-details-container .qty_button button {
    background-color: #ffffff;
    padding: 12px 12px;
}

.return-order-details-container .MuiButtonGroup-groupedContainedHorizontal:not(:last-child).Mui-disabled {
    border: none;
}

.return-order-details-container .MuiButtonGroup-groupedContainedHorizontal:not(:last-child) {
    border: none;
}

.return-order-details-container .MuiButton-contained:hover {
    box-shadow: none;
}

.return-order-details-container .qty_button button svg {
    color: #0c943f;
}

.return-order-details-container .reasonCode .MuiSelect-select {
    background-color: #ffffff;
}

.return-order-details-container .commentBox {
    background-color: #ffffff;
}

.return-order-details-container .PickupAddress {
    color: #4f4f4f;
    letter-spacing: 0.13px !important;
    font-weight: bold !important;
    font-size: 0.9rem !important;
    font-family: 'VAG Rounded ELC Bold' !important;
}

.return-order-details-container .qty_button .qty_input {
    color: #212529;
    letter-spacing: 0.14px !important;
    font-weight: bold !important;
    font-size: 1rem !important;
    font-family: 'VAG Rounded ELC Bold' !important;
}

.return-order-details-container .PickupAddressValue {
    color: #212529;
    letter-spacing: 0.14px !important;
    line-height: 1.71 !important;
    font-weight: 300 !important;
    font-size: 0.9rem !important;
    padding-top: 8px;
}

.return-order-details-container .MuiButtonGroup-contained {
    box-shadow: none !important;
}

.return-order-details-container .MuiButton-contained.Mui-disabled svg {
    color: #a1a1a1;
}

.return-order-details-container .border-line {
    margin: 30px 0px 10px;
    height: 1px;
    background-color: #d6d6d6;
}

.return-order-details-container .opacity-class {
    opacity: 0.5;
}

.return-order-details-container .textAlignCenter-c {
    text-align: center;
}

html[dir='rtl'] .return-order-details-container .textAlignCenter-c {
    text-align: right;
}

.return-order-details-container .cancel-return-order-button {
    border-radius: 4px;
    background-color: #0c943f;
    color: #ffffff !important;
    letter-spacing: 0.15px !important;
    line-height: 1.87 !important;
    font-weight: 300 !important;
    padding: 0.5rem 4rem;
    text-transform: capitalize;
    margin: 15px 12px;
}

.return-order-details-container .cancel-return-order-button:hover {
    background-color: #0c943f;
}

.return-order-details-container .submit-return-order-button {
    border-radius: 4px;
    border: solid 1px #0c943f;
    background-color: #ffffff;
    color: #0c943f !important;
    letter-spacing: 0.15px !important;
    line-height: 1.87 !important;
    font-weight: 300 !important;
    padding: 0.5rem 4rem;
    text-transform: capitalize;
    margin: 15px 12px;
}

.return-order-details-container .submit-return-order-button:hover {
    border: solid 1px #0c943f;
    background-color: #ffffff;
}

.return-order-details-container .green-line {
    height: 1px;
    background-color: #0c943f;
    margin: 15px 0px 15px;
}

.return-order-details-container .padding-10 {
    padding: 10px;
}
.return-order-details-container .boxShadow1 {
    /* margin: 10px 5px 10px 5px; */
    box-shadow: 0px 6px 6px 0px rgb(0 0 0 / 8%);
}
.return-order-details-container .header-of-item {
    background-color: #f0fcf5;
    margin-bottom: 20px;
}
.return-order-details-container .header-flex {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
}
.return-order-details-container .order-details-header-name {
    color: #212529;
    letter-spacing: 0.16px !important;
    font-weight: bold !important;
    font-size: 1.1rem !important;
    font-family: 'VAG Rounded ELC Bold' !important;
    padding-bottom: 13px;
}
.return-order-details-container .order-list-grid {
    padding: 20px 30px 0px 30px;
}
.return-order-details-container .order-item-header-name {
    color: #212529;
    /* letter-spacing: 0.16px !important; */
    font-weight: bold !important;
    font-size: 0.9rem !important;
    font-family: 'VAG Rounded ELC Bold' !important;
}
.return-order-details-container .textAlignRight {
    text-align: right;
}
.return-order-details-container .order-summary-charges {
    box-shadow: 0px 3px 6px 2px rgb(0 0 0 / 8%);
    border-radius: 4px;
    margin-bottom: 20px;
}
.return-order-details-container .padd-bottom-30 {
    padding-bottom: 25px;
}
.return-order-details-container .address-lines {
    letter-spacing: 0.26px !important;
    font-weight: 300 !important;
    color: #4f4f4f;
    font-size: 0.9rem !important;
}
.return-order-details-container .order-detail-title {
    color: #000000;
    letter-spacing: 0.18px !important;
    font-weight: bold !important;
    font-size: 1.2rem !important;
    font-family: 'VAG Rounded ELC Bold' !important;
    padding-bottom: 19px !important;
}
.return-order-details-container .padd-top-30 {
    margin-top: 30px;
}
.return-order-details-container .cartpayment-label {
    color: #4f4f4f;
    letter-spacing: 0.24px !important;
    line-height: 2.33 !important;
    font-weight: 300 !important;
    font-size: 0.9rem !important;
}
.return-order-details-container .cartpayment-value {
    color: #212529;
    letter-spacing: 0.24px !important;
    line-height: 2.33 !important;
    font-weight: 300 !important;
    font-size: 0.9rem !important;
}
.return-order-details-container .cartpayment-total-label {
    color: #212529;
    letter-spacing: 0.32px !important;
    line-height: 1.75 !important;
    font-weight: bold !important;
    font-size: 1.1rem !important;
    font-family: 'VAG Rounded ELC Bold' !important;
}
@media (max-width: 668px) {
    .return-order-details-container .sub-title-return-order {
        padding-top: 0px;
    }

    .return-order-details-container .order-details-product-name {
        font-size: 0.9rem !important;
        padding-left: 8px;
    }

    .return-order-details-container .qty {
        padding-left: 10px;
        /* text-align: left; */
        font-size: 0.9rem !important;
    }

    .return-order-details-container .mobileTopPadding {
        padding-top: 25px;
    }

    .return-order-details-container .submit-return-order-button {
        padding: 0.5rem 2rem;
    }

    .return-order-details-container .cancel-return-order-button {
        padding: 0.5rem 3rem;
    }
}
