.staticPage-title {
    font-size: 2.5rem !important;
    font-weight: bold !important;
    text-align: center;
    padding: 0px 0px 20px !important;
    color: #0c943f;
}

.staticPage-title span {
    font-family: 'VAG Rounded ELC Bold' !important;
}

.staticPagesText {
    color: #4f4f4f;
    letter-spacing: 0.055rem;
}

.staticPagesText table {
    width: auto !important;
}

html[dir='rtl'] .staticPagesText {
    text-align: right;
}
