.my-account-details .your-recent-order {
    color: #000000;
    letter-spacing: 0.18px !important;
    font-weight: bold !important;
    font-size: 1.2rem !important;
    margin-bottom: 20px;
    font-family: 'VAG Rounded ELC Bold' !important;
}

.my-account-details .view-all {
    color: #0c943f;
    font-weight: bold !important;
    text-decoration: underline;
    font-family: 'VAG Rounded ELC Bold' !important;
    cursor: pointer;
}

.my-account-details .order-header-name {
    color: #4f4f4f;
    letter-spacing: 0.28px !important;
    font-weight: 300 !important;
    font-size: 1rem !important;
    padding: 10px 0px;
}

.my-account-details .border-line {
    height: 1px;
    background-color: #d6d6d6;
    width: 100%;
}

.my-account-details .my-address-recent-order-id {
    color: #212529;
    letter-spacing: 0.16px !important;
    font-weight: 300 !important;
    font-size: 0.9rem !important;
}

.my-account-details .my-address-recent-order-date {
    color: #4f4f4f;
    letter-spacing: 0.26px !important;
    font-weight: 300 !important;
    font-size: 0.8rem !important;
}

.my-account-details .my-address-recent-order-date .value {
    color: #212529;
}

.my-account-details .my-address-recent-order-status {
    font-weight: bold !important;
    letter-spacing: 0.14px !important;
    font-size: 1rem !important;
    font-family: 'VAG Rounded ELC Bold' !important;
    text-transform: uppercase !important;
}

.my-account-details .padding-top-bottom {
    padding: 20px 0px;
}

.my-account-details .view-details-button {
    background-color: #ffffff;
    border: solid 1px #0c943f;
    border-radius: 4px;
    color: #0c943f;
    letter-spacing: 0.15px !important;
    font-weight: 300 !important;
    text-transform: capitalize !important;
    padding: 0.5rem 2rem;
    font-size: 1rem !important;
}

.my-account-details .view-details-button:hover {
    background-color: #ffffff;
}

.my-account-details .border-line-green {
    height: 1px;
    background-color: #0c943f;
    width: 100%;
    margin: 2rem 0px 1.5rem;
}

.my-account-details .title {
    color: #4f4f4f;
    letter-spacing: 0.24px !important;
    font-weight: 300 !important;
    font-size: 0.8rem !important;
}

.my-account-details .value {
    color: #212529;
    letter-spacing: 0.32px !important;
    font-weight: 300 !important;
    font-size: 1rem !important;
    margin-bottom: 1rem !important;
}

.my-account-details .padding-of-address-card {
    padding-right: 20px;
}

html[dir='rtl'] .my-account-details .padding-of-address-card {
    padding-right: 0px;
    padding-left: 20px;
}

.my-account-details .address-card {
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.09);
    border: solid 1px #f3f3f3;
    background-color: #ffffff;
    padding: 18px 20px;
}

.my-account-details .address-user-name {
    color: #0c943f;
    font-weight: bold !important;
    font-family: 'VAG Rounded ELC Bold' !important;
    font-size: 1.1rem !important;
}

html[dir='rtl'] .address-user-name {
    text-align: right;
}

.my-account-details .address-type {
    color: #0c943f;
    font-weight: 300 !important;
    font-size: 0.9rem !important;
    margin-bottom: 10px;
}

html[dir='rtl'] .my-account-details .address-type {
    text-align: right;
}

.my-account-details .address-value {
    color: #4f4f4f;
    letter-spacing: 0.26px !important;
    font-weight: 300 !important;
    font-size: 0.9rem !important;
}

html[dir='rtl'] .my-account-details .address-value {
    text-align: right;
}

.my-account-details .no-address-available {
    color: #9e9d9d;
    font-weight: bold !important;
    font-size: 1.3rem !important;
    font-family: 'VAG Rounded ELC Bold' !important;
    margin-top: 10px;
}

html[dir='rtl'] .my-account-details .no-address-available {
    text-align: right;
}
