.signIn-signUp {
    padding: 25px 0px;
}

.signIn-signUp .newToElc {
    color: #0c943f;
    line-height: 3.64 !important;
    letter-spacing: normal !important;
    font-weight: bold !important;
    font-family: 'VAG Rounded ELC Bold' !important;
    font-size: 1.5vw !important;
}

.login-register-container {
    border-radius: 4px;
    background-color: #f0fcf5;
    margin-top: 37px;
    height: 48px;
    display: flex;
    cursor: pointer;
}

.forgot-password-send-button {
    background-color: #0c943f !important;
    color: #ffffff !important;
    width: 100%;
}

.login-register-container-text {
    color: #4f4f4f;
    font-size: 18px !important;
    font-weight: bold !important;
    letter-spacing: 0.36px !important;
}

.activeloginTabText {
    color: #0c943f;
}

.login-register-active-line {
    height: 3px;
    background-color: #0c943f;
    position: relative;
    bottom: -10px;
}

.login-register-container-text span {
    font-family: 'VAG Rounded ELC Bold' !important;
}

.login-sigup-input-text {
    color: #4f4f4f;
    font-weight: bold !important;
    letter-spacing: 0.13px !important;
    line-height: 1.85 !important;
    font-size: 0.9rem !important;
    padding-bottom: 4px !important;
}

.myclub-member-subtext {
    color: #4f4f4f;
    /* font-weight: bold !important; */
    letter-spacing: 0.13px !important;
    line-height: 1.85 !important;
    font-size: 0.9rem !important;
    padding-bottom: 4px !important;
}

.padding-t-input-box {
    padding-top: 24px;
}

.login-signup-forgort-password {
    color: #0c943f;
    letter-spacing: 0.11px !important;
    line-height: 1.45 !important;
    font-size: 0.8rem !important;
    cursor: pointer;
    padding-top: 9px !important;
}

.login-signup-login-button {
    background-color: #ee0e19 !important;
    border-radius: 4px;
    width: 100%;
    color: #ffffff !important;
    letter-spacing: 0.15px !important;
    line-height: 0.8 !important;
    font-size: 1rem !important;
    font-weight: bold !important;
    padding: 16px 20px !important;
    margin-top: 30px !important;
    text-transform: capitalize !important;
}

.login-signup-margin-t {
    margin-top: 37px !important;
}

.login-signup-login-button:hover {
    background-color: #ee0e19 !important;
}

.password-strong-message {
    color: #7d7d7d;
    margin: 8px 0px 0px !important;
    line-height: 1.45 !important;
    letter-spacing: 0.11px !important;
}

html[dir='rtl'] .password-strong-message {
    text-align: right;
}

.inputBox .MuiOutlinedInput-input {
    padding: 13.5px 14px !important;
}

html[dir='rtl'] .login-sigup-input-text {
    text-align: right;
}

html[dir='rtl'] .login-signup-forgort-password {
    text-align: right;
}

.signIn-signUp-checkbox .MuiFormControlLabel-label {
    color: #212529;
    line-height: 1.29 !important;
    letter-spacing: 0.14px !important;
    font-weight: bold !important;
}

.signIn-signUp-fc-checkbox .MuiFormControlLabel-label {
    color: #212529;
    line-height: 1.29 !important;
    letter-spacing: 0.14px !important;
    font-weight: bold !important;
}

html[dir='rtl'] .signIn-signUp-fc-checkbox {
    margin-right: 0;
    margin-left: 16px;
}

html[dir='rtl'] .signIn-signUp-checkbox {
    margin-right: 0;
    margin-left: 16px;
}

.signin-signup-ul-list {
    list-style: initial !important;
    padding-left: 20px;
}

html[dir='rtl'] .signin-signup-ul-list {
    padding-left: 0px;
    padding-right: 10px;
    margin-left: 16px;
    margin-right: 20px;
}

.signin-signup-ul-list li {
    color: #4f4f4f;
    letter-spacing: 0.11px !important;
    line-height: 1.45 !important;
    font-weight: 300 !important;
    font-size: 0.8rem !important;
    padding-bottom: 8px;
}

.m-t-15 {
    margin-top: 15px !important;
}

.forgot-pass .MuiDialog-paper {
    width: 100%;
}

@media (max-width: 1420px) {
    .signIn-signUp .newToElc {
        font-size: 2.6vw !important;
    }
}

@media (max-width: 668px) {
    .signIn-signUp .newToElc {
        font-size: 4.5vw !important;
    }
}
