.intro-container {
    position: relative;
    min-height: 150px;
}
.intro-container .intro-button {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    z-index: 1;
    border-radius: 5px;
    font-family: 'VAG Rounded ELC ExtraBold';
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
    padding: 0.75rem 1.5rem;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.intro-container .intro-button:hover {
    filter: hue-rotate(20deg);
}
.intro-container .intro-button.center {
    left: 50%;
    transform: translate(-50%, -50%);
}
.intro-container .intro-button.right {
    left: auto;
    right: 10%;
}

@media screen and (max-width: 768px) {
    .intro-container .intro-button,
    .intro-container .intro-button.center,
    .intro-container .intro-button.right {
        font-size: 1.1rem;
        padding: 12px 4px;
        top: 50%;
        left: 50%;
        right: initial;
        width: 90%;
        transform: translate(-50%, -50%);
    }
}
