.storeLocator .store-list {
    z-index: 1;
    background-color: white;
    max-height: 430px;
    overflow-y: scroll;
    border: none !important;
}
.storeLocator-infoWindow {
    max-width: 200px;
}
.getDirections {
    line-height: 21px;
    text-align: initial;
    width: 100%;
    padding-top: 10px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 900;
    font-size: 1rem;
    padding: 4px 4px 0px 4px !important;
    text-decoration: none !important;
    color: #0d943f;
}
.storeLocator-infoWindow h4 {
    margin: 0 0 5px;
    padding: 0;
    color: #fb0000;
}
.storeLocator .map-main-container {
    position: relative;
    width: 100%;
    height: 400px;
    margin-top: 0px !important;
}
.storeLocator .pick-up-store-list-card {
    height: 400px !important;
    margin-top: 0px;
}
.storeLocator .list-container-height {
    max-height: 392px !important;
}

.storeLocator .padding-l-r-1 {
    padding-left: 33px;
}

html[dir='rtl'] .storeLocator .padding-l-r-1 {
    padding-left: 0px;
    padding-right: 33px;
}

@media (max-width: 668px) {
    .storeLocator .padding-l-r-1 {
        padding-left: 0px;
    }

    html[dir='rtl'] .storeLocator .padding-l-r-1 {
        padding-left: 0px;
        padding-right: 33px;
    }

    .storeLocator .pick-up-store-list-card {
        margin-top: 20px;
    }
}
