.my-account-tab-container {
    border-radius: 4px;
    box-shadow: 0px 11px 11px 0 rgba(0, 0, 0, 0.08);
    background-color: #f0fcf5;
    min-height: 3rem;
    padding: 0px 1rem !important;
    margin-bottom: 40px !important;
}

.my-account-tab-container .title {
    color: #4f4f4f;
    letter-spacing: 0.28px !important;
    font-weight: 300 !important;
    font-size: 1rem !important;
    cursor: pointer;
}

.my-account-tab-container .active .title {
    color: #0c943f;
    font-weight: bold !important;
    font-family: 'VAG Rounded ELC Bold' !important;
}

.my-account-tab-container .active .active-line {
    height: 3px;
    background-color: #0c943f;
    position: relative;
    bottom: -12px;
}

.mobile-my-account-padding {
    padding: 5px 5px;
}

.mobile-my-account-padding .mobile-card {
    border-radius: 6px;
    border: solid 1px #d6d6d6;
    background-color: #ffffff;
    height: 100%;
}

.mobile-my-account-padding .mobile-card img {
    width: 2rem;
    height: 2rem;
    margin: 1rem 0px;
}

.mobile-my-account-padding .mobile-card .title {
    color: #4f4f4f;
    letter-spacing: 0.4px !important;
    font-weight: bold !important;
    font-family: 'VAG Rounded ELC Bold' !important;
    font-size: 0.8rem !important;
    margin-bottom: 0.8rem !important;
}
