.checkout-delivery .title {
    color: #0c943f;
    letter-spacing: 0.48px !important;
    line-height: 1.33 !important;
    font-weight: bold !important;
    font-size: 1.5rem !important;
}

html[dir='rtl'] .checkout-delivery .title {
    text-align: right;
}

.checkout-delivery .padding-l-r {
    padding-left: 4px;
    padding-right: 4px;
}

.checkout-delivery .padding-l-r-t {
    padding-left: 4px;
    padding-right: 4px;
}

.checkout-delivery .title span {
    font-family: 'VAG Rounded ELC Bold' !important;
}

.checkout-delivery .border-line {
    height: 1px;
    background-color: #d6d6d6;
    margin: 10px 0px 20px;
}

.checkout-delivery .countryName input {
    color: #212529;
    font-weight: 300 !important;
    font-size: 1rem !important;
    letter-spacing: 0.14px !important;
}

.checkout-delivery .countryFlag {
    width: 1.5rem;
}

.checkout-delivery .delivery-tab-container {
    border-radius: 4px;
    background-color: #f0fcf5;
    margin-top: 30px;
    padding: 10px 0px;
}

.checkout-delivery .delivery-tab-container .active-text {
    color: #0c943f;
    letter-spacing: 0.36px !important;
    font-weight: bold !important;
    font-size: 1.2rem !important;
    text-align: center;
    font-family: 'VAG Rounded ELC Bold' !important;
}

.checkout-delivery .delivery-tab-container .inactive-text {
    color: #4f4f4f;
    letter-spacing: 0.36px !important;
    font-weight: bold !important;
    font-size: 1.2rem !important;
    text-align: center;
    cursor: pointer;
    font-family: 'VAG Rounded ELC Bold' !important;
}

.checkout-delivery .delivery-tab-container .active-line {
    height: 3px;
    background-color: #0c943f;
    position: relative;
    bottom: -10px;
}

.checkout-delivery .delivery-option-payment-option {
    color: #0c943f;
    font-size: 0.8rem !important;
    position: relative;
    top: -5px;
}

.checkout-delivery .MuiRadio-colorSecondary.Mui-checked {
    color: #0c943f;
}

.checkout-delivery .active-radio span {
    letter-spacing: 0.14px;
    font-weight: bold;
    font-size: 1rem;
}

.checkout-delivery .MuiCheckbox-colorSecondary.Mui-checked {
    color: #0c943f;
}

.checkout-delivery .checkbox-style {
    color: #4f4f4f;
    letter-spacing: 0.14px !important;
    font-size: 0.9rem !important;
    position: relative;
    top: 2px;
}

.checkout-delivery .active_cart .checkbox-style {
    color: #0c943f;
}

.checkout-delivery .checkbox-style .bold-text {
    color: #4f4f4f;
    font-weight: bold;
}

.checkout-delivery .active_cart .checkbox-style .bold-text {
    color: #0c943f;
}

.checkout-delivery .ChooseDeliveryOptionText {
    color: #212529;
    letter-spacing: 0.14px !important;
    font-weight: 300 !important;
    font-size: 0.9rem !important;
    text-align: justify;
}

.checkout-delivery .option-cart {
    /* min-height: 150px; */
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.09);
    border: solid 1px #f3f3f3;
    background-color: #ffffff;
    padding: 10px 10px;
}

.checkout-delivery .shippment .option-cart::-webkit-scrollbar {
    width: 3px;
    background-color: #0c943f40;
}
.checkout-delivery .shippment .option-cart::-webkit-scrollbar-thumb {
    width: 3px;
    background-color: #0c943f;
    border-radius: 2px;
}

.checkout-delivery .shippment .option-cart {
    max-height: 120px;
    min-height: 100px;
    box-shadow: none;
    border: solid 1px #0c943f;
    background-color: #ffffff;
    padding: 10px 10px;
    overflow: auto;
    border-radius: 0px;
}
.checkout-delivery .shippment .option-cart li {
    font-family: 'VAG Rounded ELC Bold' !important;
    display: flex;
    align-items: center;
    /* padding-left: 50px; */
}

.checkout-delivery .shippment .option-cart ul {
    list-style-type: none;
    padding: 0;
    text-align: start;
    margin-bottom: 0;
}

.checkout-delivery .shippment .option-cart ul li::before {
    content: '\2022';
    color: #0c943f;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: 3px;
    margin-right: 3px;
    font-size: 2rem;
    line-height: 2rem;
}

.checkout-delivery .active_cart {
    border: solid 1px #0c943f;
}

.checkout-delivery .padding-l {
    padding-left: 10px;
}

.checkout-delivery .checkout-continue-button {
    border-radius: 4px;
    background-color: #ee0e19;
    text-transform: capitalize;
    padding: 8px 3rem;
    margin-top: 20px;
    color: #ffffff;
    font-weight: bold;
    line-height: 1.8;
    letter-spacing: 0.15px;
    font-size: 1.1rem;
}
.checkout-delivery .lable-placement {
    height: 45px;
    position: relative;
    top: 11px;
}
.checkout-delivery .checkout-continue-button:hover {
    background-color: #ee0e19;
}

html[dir='rtl'] .arabic-right {
    text-align: right;
}

.checkout-delivery .map-main-container {
    position: relative;
    width: 100%;
    height: 400px;
    margin-top: 20px;
}

.checkout-delivery .pick-up-store-list-card {
    border: solid 1px #0c943f;
    background-color: #ffffff;
    height: 370px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.09);
}

.checkout-delivery .list-container-height {
    max-height: 300px;
    overflow: scroll;
    margin-right: 10px;
}

.checkout-delivery .no-slot-available-message {
    color: #4f4f4f;
    padding: 10px;
}

.checkout-delivery .list-container-height::-webkit-scrollbar {
    width: 10px;
}

.checkout-delivery .list-container-height::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #eaeaea;
}

.checkout-delivery .pick-up-store-list-card .tab-container {
    padding: 20px 10px;
    text-align: center;
    border: solid 1px #0c943f;
    width: 100%;
}

.checkout-delivery .pick-up-store-list-card .active {
    padding: 20px 10px;
    text-align: center;
    border: solid 1px #0c943f;
    background: #0c943f;
    width: 100%;
}

.checkout-delivery .pick-up-store-list-card .active p {
    color: #ffffff;
    letter-spacing: 0.28px !important;
    font-weight: bold !important;
    font-size: 1rem !important;
}

.checkout-delivery .pick-up-store-list-card .tab-container p {
    color: #0c943f;
    letter-spacing: 0.28px !important;
    font-weight: bold !important;
    font-size: 1rem !important;
    cursor: pointer;
}

.checkout-delivery .pick-up-store-list-card p.shipping-message {
    font-size: 0.8rem !important;
    text-align: center;
    font-weight: 400 !important;
}

.checkout-delivery .choodePickupStore-text {
    color: #212529;
    letter-spacing: 0.14px !important;
    font-weight: 300 !important;
    font-size: 0.9rem !important;
    margin-top: 20px;
    padding-bottom: 10px;
}

.checkout-delivery .store-locator-name {
    color: #4f4f4f;
    letter-spacing: 0.26px !important;
    font-weight: 300 !important;
    font-size: 0.9rem !important;
    margin: 10px 4px 0px 4px;
    padding: 0px 4px 2px 0px !important;
}

html[dir='rtl'] .checkout-delivery .store-locator-name {
    color: #4f4f4f;
    letter-spacing: 0.26px !important;
    font-weight: 300 !important;
    font-size: 0.9rem !important;
    margin: 10px 2px 0px 4px;
    padding: 0px 0px 4px 0px !important;
}

html[dir='rtl'] .checkout-delivery .store-locator-name {
    color: #4f4f4f;
    letter-spacing: 0.26px !important;
    font-weight: 300 !important;
    font-size: 0.9rem !important;
    margin: 10px 6px 0px 4px;
    padding: 0px 4px 2px 4px !important;
}

html[dir='rtl'] .checkout-delivery .store-locator-name {
    color: #4f4f4f;
    letter-spacing: 0.26px !important;
    font-weight: 300 !important;
    font-size: 0.9rem !important;
    margin: 10px 6px 0px 4px;
    padding: 0px 4px 2px 4px !important;
}

.checkout-delivery .store-locator-address {
    color: #4f4f4f;
    letter-spacing: 0.22px !important;
    font-weight: 300 !important;
    font-size: 0.9rem !important;
    padding: 0px 4px 0px 4px !important;
}

.checkout-delivery .store-list-container {
    padding-top: 8px;
}

.checkout-delivery .pick-up-store-text {
    color: #212529;
    letter-spacing: 0.14px !important;
    font-weight: 300 !important;
    font-size: 0.9rem !important;
    padding-top: 20px;
    padding-bottom: 20px;
}

.checkout-delivery .selected-pick-up-store-card {
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.09);
    border: solid 1px #f3f3f3;
    background-color: #ffffff;
    padding: 1rem;
    margin-bottom: 1rem;
}

.checkout-delivery .inactive-tab {
    opacity: 0.4;
    cursor: auto;
}

.checkout-delivery .selected-pick-up-store-card .selected-pick-up-name {
    color: #0c943f;
    font-weight: bold !important;
    font-size: 1rem !important;
}

.checkout-delivery .checkout-details-banner img {
    width: 100%;
    /* border-radius: 4px; */
}

html[dir='rtl'] .checkout-delivery .selected-pick-up-store-card .selected-pick-up-name {
    text-align: right;
}

.checkout-delivery .selected-pick-up-store-card .selected-pick-up-address {
    color: #4f4f4f;
    font-weight: 300 !important;
    font-size: 0.9rem !important;
    letter-spacing: 0.26px !important;
}

.checkout-delivery .selected-pick-up-store-card .noStoreSelected {
    color: #b2b2b2;
    letter-spacing: 0.28px !important;
    font-weight: 300 !important;
    font-size: 1rem !important;
}

.checkout-delivery .address-list-container {
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.09);
    border: solid 1px #f3f3f3;
    background-color: #ffffff;
    padding: 0rem 1rem 1rem;
    margin-top: 1rem;
    min-height: 222px;
}

.checkout-delivery .address-list-container .address-nickname {
    color: #0c943f;
    font-size: 0.9rem !important;
    font-weight: bold !important;
    padding-top: 1rem;
    word-break: break-all;
}

.checkout-delivery .address-list-container .checkbox-style-subtext {
    color: #0c943f;
    font-weight: 300 !important;
    font-size: 0.8rem !important;
}

.checkout-delivery .address-list-container .address-details {
    color: #4f4f4f;
    letter-spacing: 0.26px !important;
    font-weight: 300 !important;
    font-size: 0.9rem !important;
}

.checkout-delivery .add-new-address-button {
    color: #0c943f;
    background-color: transparent;
    letter-spacing: 0.16px !important;
    font-weight: bold !important;
    font-size: 1.1rem !important;
    text-transform: capitalize;
    padding-top: 20px;
}

.checkout-delivery .checkout-cancel-button {
    background: #d6d6d6;
    color: #212529;
    border-radius: 4px;
    text-transform: capitalize;
    padding: 8px 3rem;
    font-weight: bold;
    line-height: 1.8;
    letter-spacing: 0.15px;
    font-size: 1.1rem;
    margin: 20px 8px 0px;
}

.checkout-delivery .add-new-address-button svg {
    position: relative;
    top: -2px;
}

.checkout-delivery .add-new-address-button:hover {
    background: transparent;
}

html[dir='rtl'] .checkout-delivery .address-list-container .address-details {
    text-align: right;
}

html[dir='rtl'] .checkout-delivery .MuiFormControlLabel-root {
    margin-right: 0px;
}

html[dir='rtl'] .checkout-delivery .address-list-container .checkbox-style-subtext {
    text-align: right;
}

html[dir='rtl'] .checkout-delivery .MuiButton-startIcon {
    margin-right: 0px;
    margin-left: 8px;
}

html[dir='rtl'] .checkout-delivery .margin-right {
    margin-right: 8px;
}

html[dir='rtl'] .checkout-delivery .store-locator-name {
    text-align: right;
}

html[dir='rtl'] .checkout-delivery .store-locator-address {
    text-align: right;
}

html[dir='rtl'] .checkout-delivery .pick-up-store-text {
    text-align: right;
}

html[dir='rtl'] .checkout-delivery .selected-pick-up-store-card .noStoreSelected {
    text-align: right;
}

html[dir='rtl'] .checkout-delivery .selected-pick-up-store-card .selected-pick-up-address {
    text-align: right;
}

.checkout-delivery .MuiCheckbox-colorSecondary.Mui-disabled {
    color: rgba(0, 0, 0, 0.26) !important;
}

.checkout-delivery .Payment-option-text {
    color: #212529;
    font-size: 0.9rem !important;
    padding-bottom: 0.3rem;
    text-align: initial !important;
}
.checkout-delivery .address-messages .address-error {
    color: #ee0e19 !important;
    letter-spacing: 0.26px !important;
    font-weight: bold !important;
    font-size: 0.9rem !important;
    font-family: 'VAG Rounded ELC bold' !important;
    text-transform: none;
}
.checkout-delivery .edit-button {
    color: #0c943f;
    border-radius: 20px;
    border: 1px solid #0c943f;
    margin: 0px 5px;
    height: fit-content;
}

.checkout-delivery .checkout-arabic-padding {
    /* padding-right: 0px; */
    padding-left: 10px;
    padding-right: 10px;
}

html[dir='rtl'] .checkout-delivery .arabic-right-margin {
    margin-right: 16px !important;
}

.no-click-and-collect-list {
    font-weight: bold !important;
    padding: 10px 20px !important;
    border-bottom: 1px solid gray;
    margin: 0 !important;
    font-size: 1rem !important;
}

.no-click-and-collect-list p {
    font-family: 'VAG Rounded ELC Bold' !important;
}

.checkout-delivery .pick-up-store-list-card {
    height: auto;
    min-height: 370px;
}
.checkout-delivery .familyClubDialog .MuiDialog-paperWidthSm {
    max-width: 600px;
    border: 1.5px solid #0d943f;
    border-radius: 10px;
}

.shipping-message {
    font-size: 0.8rem !important;
    text-align: start;
    color: #4f4f4f;
}

@media (max-width: 668px) {
    .checkout-delivery .delivery-tab-container .active-text {
        font-size: 0.9rem !important;
    }

    .checkout-delivery .delivery-tab-container .inactive-text {
        font-size: 0.9rem !important;
    }

    .checkout-delivery .MuiFormControlLabel-root {
        margin-bottom: 0px !important;
    }

    .checkout-delivery .mb-padding {
        margin-bottom: 10px;
    }

    .checkout-delivery .padding-l {
        padding-left: 0;
    }

    html[dir='rtl'] .checkout-delivery .margin-right {
        margin-right: 0px;
    }

    .checkout-delivery .pick-up-store-list-card {
        height: auto;
        min-height: 370px;
    }
    .checkout-delivery .border-line {
        display: none;
    }

    .shippment {
        border-radius: 4px;
        background-color: #ffffff;
        padding: 10px 5px;
        width: 100%;
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
        margin: 1rem 0px !important;
    }
    .checkout-delivery .shippment .option-cart {
        max-height: 100% !important;
        min-height: auto;
        margin-top: 0.75rem;
    }

    .checkout-delivery .shippment .option-cart ul {
        margin-bottom: 0px;
    }
}
