.my-profile-container .title-Page {
    color: #000000;
    letter-spacing: 0.18px !important;
    font-weight: bold !important;
    font-size: 1.2rem !important;
    margin-bottom: 20px;
    font-family: 'VAG Rounded ELC Bold' !important;
}

.my-profile-container .field-title {
    color: #4f4f4f;
    letter-spacing: 0.13px !important;
    font-weight: bold !important;
    font-family: 'VAG Rounded ELC Bold' !important;
    font-size: 1rem !important;
}

.my-profile-container .field-value {
    color: #4f4f4f;
    font-weight: 300 !important;
    font-size: 0.9rem !important;
    padding-bottom: 15px;
}

.my-profile-container .border-line-green {
    height: 1px;
    background-color: #0c943f;
    width: 100%;
    margin: 2rem 0px 1.5rem;
}

.my-profile-container .update-password-button {
    color: #ffffff;
    letter-spacing: 0.15px !important;
    font-weight: bold !important;
    font-family: 'VAG Rounded ELC Bold' !important;
    font-size: 1rem !important;
    background-color: #ee0e19;
    border-radius: 4px !important;
    text-transform: capitalize;
    margin-top: 10px;
    padding: 5px 2rem;
}

.my-profile-container .update-password-button:hover {
    background-color: #ee0e19;
    color: #ffffff;
}

@media (max-width: 668px) {
    .my-profile-container .update-password-button {
        width: 100%;
    }
}
