.deleteIcon {
    color: red;
    cursor: pointer;
    transition: fill, transform 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
}
.deleteIcon:hover {
    transform: scale(1.3);
}
.title-Page {
    color: #000000;
    letter-spacing: 0.18px !important;
    font-weight: bold !important;
    font-size: 1.2rem !important;
    margin-bottom: 20px;
    font-family: 'VAG Rounded ELC Bold' !important;
}
.button {
    background-color: #0d943f !important;
    margin: 0px 10px !important;
    min-width: 90px !important;
    color: white !important;
}
.dir-ltr {
    direction: ltr;
}
