.header-top-section {
    height: 44px;
    background-color: #ffffff;
}

.header-top-section .padding-l-r {
    padding: 0px 0px;
}

.cursor-pointer {
    cursor: pointer;
}

.flex {
    display: flex;
}

.justifyCenter {
    justify-content: center;
}

.alignItemsCenter {
    align-items: center;
}

.header-top-section .topIcons {
    width: 1.5vw;
    height: 2.5vw;
    margin-left: 20px;
}

html[dir='rtl'] .header-top-section .topIcons {
    margin-left: 0px;
    margin-right: 20px;
}

.header-top-section .topSpan {
    color: #0d943f;
    padding-left: 12px;
    letter-spacing: 0.12px !important;
    font-weight: bold !important;
    font-size: 0.9vw !important;
    padding-right: 20px;
    border-right: 1px solid #cccccc;
    font-family: 'VAG Rounded ELC Bold' !important;
}

html[dir='rtl'] .header-top-section .topSpan {
    border-right: 0px solid #cccccc;
    border-left: 1px solid #cccccc;
}

.RightBorder {
    width: 1px;
    height: 14px;
    margin-left: 20px;
    background-color: #cccccc;
}

html[dir='rtl'] .RightBorder {
    margin-left: 0px;
    margin-right: 20px;
}

.noRightBorder {
    border-right: 0px solid #cccccc !important;
}

html[dir='rtl'] .noRightBorder {
    border-left: 0px solid #cccccc !important;
}
