.phoneNumberInputContainer {
    width: 100% !important;
}

.phoneNumberInputContainer .selected-flag {
    left: 0px;
    width: 25% !important;
    display: flex !important;
    background-color: #ffffff !important;
    border-right: 1px solid #b1b1b1;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.phoneNumberInputContainer .intl-tel-input.allow-dropdown .flag-container {
    right: 0px;
    left: 0;
    width: 100%;
}

.phoneNumberInputContainer .selected-flag .selected-dial-code {
    padding-left: 4px !important;
}

.phoneNumberInputContainer .selected-flag .arrow {
    font-size: 12px !important;
    margin-left: 10% !important;
    color: #0d943f;
}

.phoneNumberInputBox {
    height: 50px !important;
    padding-left: 28% !important;
}
.phoneNumberInputBox.form-control:focus {
    border: none;
    box-shadow: 0 0 0 2px rgb(63, 81, 181);
}

.custom-phone .phone-box {
    display: flex;
    width: calc(100% - 115px);
}

.custom-phone .carrierCode input {
    padding: 13.5px 4px !important;
}

.country-image-div-inp {
    height: 20px;
    width: 30px;
}

.custom-phone .carrierCode {
    width: 115px;
}
.custom-phone .carrierCode .MuiOutlinedInput-root {
    border-radius: 4px 0px 0px 4px;
    color: black;
    padding: 0px 8px;
}
.custom-phone .carrierCode .MuiInputAdornment-root {
    width: 50px;
}

.custom-phone .regionId {
    width: 80px;
}
.custom-phone .regionId .MuiOutlinedInput-root {
    border-radius: 0px;
}

.custom-phone .regionId .MuiSelect-outlined {
    padding: 13.5px 8px !important;
}
.custom-phone .phoneNumber .MuiOutlinedInput-root {
    border-radius: 0px 4px 4px 0px;
    color: black;
}
.MuiInputBase-input.Mui-disabled {
    color: rgba(0, 0, 0, 0.38);
}

html[dir='rtl'] .phoneNumberInputContainer .selected-flag {
    right: 10px;
    border-right: 0px solid #b1b1b1;
    border-left: 1px solid #b1b1b1;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

html[dir='rtl'] .phoneNumberInputContainer .selected-flag .selected-dial-code {
    padding-left: 10px !important;
    padding-right: 4px !important;
}

html[dir='rtl'] .phoneNumberInputBox {
    padding-left: 0px !important;
    padding-right: 28% !important;
}

@media (max-width: 668px) {
    .iti-flag.ae {
        display: none;
    }
}
