.WebFilter {
    border-right: 1px solid #dedede;
}

.WebFilter .Collapsible {
    border-bottom: 1px solid #dedede;
}

.WebFilter .f_Brand {
    color: #000000;
    padding: 10px 0px;
    font-weight: bold;
    font-size: 1rem;
    font-family: 'VAG Rounded ELC Bold' !important;
}

.WebFilter .Collapsible_text {
    color: #0c943f;
    font-weight: bold;
    line-height: 5;
    font-size: 1.2rem;
    letter-spacing: normal;
    font-family: 'VAG Rounded ELC Bold' !important;
}

.WebFilter .Icon {
    color: #0c943f;
    margin-right: 15px;
}

.scroll-plp-filter {
    max-height: 300px;
    overflow: scroll;
    margin-right: 22px;
    padding-left: 8px;
}

.MuiCheckbox-colorSecondary.Mui-checked {
    color: #0c943f !important;
}

.MobileApplyFilter {
    background-color: #ffffff;
}

.scroll-plp-filter::-webkit-scrollbar {
    width: 10px;
}

.scroll-plp-filter::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #eaeaea;
}

.MobileApplyFilter .noFilterSelected {
    color: #989898;
    line-height: 1.33;
    letter-spacing: 0.56px;
    font-weight: 300;
    font-size: 1.2rem;
    padding: 0px 20px;
}

.selectedAndCloseContainer {
    padding: 12px 0px !important;
}

.FileterAndSortContainer {
    height: 60px;
    background-color: rgba(54, 54, 54, 0.05);
    display: flex;
    align-items: center;
    margin: 0px 0px 10px !important ;
}

.FileterAndSortContainer span {
    color: #212529;
    letter-spacing: 0.56px;
    font-weight: bold;
    font-size: 1.3rem;
    font-family: 'VAG Rounded ELC Bold' !important;
    padding: 0px 20px;
    position: relative;
    top: 2px;
}

.mobile-filter-container {
    margin-bottom: 80px;
}

.mobile_filter_text_container {
    padding: 0px 10px 0px 20px;
}

.mobile_filter_text_container svg {
    color: #0c943f;
}

.mobile_filter_text_container-1 {
    padding: 0px 10px 0px 20px;
}

.mobile_filter_text_container-1 svg {
    color: #0c943f;
}

.mobileFilter-text {
    color: #0c943f;
    line-height: 3.33 !important;
    letter-spacing: 0.48px !important;
    font-weight: bold !important;
    font-family: 'VAG Rounded ELC Bold' !important;
    font-size: 1.2rem !important;
}

.mobileFilterButtonConatiner {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    z-index: 1000;
}

.mobileFilterButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.mobileClearFilterButton {
    background-color: #ffffff;
    border-top: 1px solid #13943f;
}

.mobileApplyFilterButton {
    background-color: #13943f;
}

.mobileClearFilterButton span {
    color: #0d943f;
    letter-spacing: 0.52px;
    line-height: 1.18;
    font-weight: 300;
    font-size: 1.3rem;
}

.mobileApplyFilterButton span {
    color: #ffffff;
    letter-spacing: 0.26px;
    line-height: 1.17;
    font-weight: bold;
    font-size: 1.3rem;
    font-family: 'VAG Rounded ELC Bold' !important;
}

html[dir='rtl'] .filterpanal {
    text-align: right;
}

html[dir='rtl'] .scroll-plp-filter {
    margin-right: 0;
    margin-left: 25px;
}

html[dir='rtl'] .WebFilter {
    border-right: 0px solid #dedede;
    border-left: 1px solid #dedede;
}

html[dir='rtl'] .Collapsible_text_container {
    padding: 0px 25px 0px 18px;
}

html[dir='rtl'] .FilterAndClear {
    text-align: right;
    padding-right: 25px;
}

html[dir='rtl'] .mobile_filter_text_container {
    padding: 0px 20px 0px 10px;
}

html[dir='rtl'] .mobile_filter_text_container-1 {
    padding: 0px 0px 0px 10px;
    text-align: right;
}

html[dir='rtl'] .mobileApplyFilterButton span {
    font-size: 1rem;
}

html[dir='rtl'] .mobileClearFilterButton span {
    font-size: 1rem;
}

@media (max-width: 668px) {
    html[dir='rtl'] .ar-text-right {
        text-align: right;
    }
}
