.LearningSkills {
    padding-top: 30px;
}

.LearningSkills .learningSkillImage {
    width: 140px;
    padding-right: 2px;
}

.LearningSkills .learning-skill-text {
    color: #212529;
    line-height: 1.2;
    letter-spacing: 0.14px;
    font-weight: 300;
}

html[dir='rtl'] .LearningSkills .learningSkillImage {
    padding-right: 0px;
    padding-left: 2px;
}
