.webNavigation .MenuItems {
    width: 100%;
    margin: 0 auto;
    position: relative;
    text-align: left;
}

.l1_menu:not(:last-child) {
    margin-right: 0.2rem;
}

.l1_menu > a > svg {
    transform: rotate(0deg);
    transition: 250ms ease-in;
}
.l1_menu:hover > a > svg {
    transform: rotate(180deg);
}

html[dir='rtl'] .webNavigation .MenuItems {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

html[dir='rtl'] .l1_menu:not(:last-child) {
    margin-left: 0.2rem;
}

.webNavigation .MenuItems .subLink {
    padding: 8px 0;
}

.text-align-rtl {
    text-align: left;
}

html[dir='rtl'] .text-align-rtl {
    text-align: right;
}

html[dir='rtl'] .webNavigation .MenuItems .l1_menu {
    font-size: 0.7rem;
    color: #4f4f4f;
    font-weight: 700;
    text-transform: none;
    text-decoration: none;
    font-family: 'VAG Rounded ELC Bold' !important;
}

.webNavigation .MenuItems .subLink {
    display: inline-block;
    vertical-align: top;
    font-size: 1rem;
}

.l3-design {
    display: block;
    padding: 10px 0 0;
    font-family: 'VAG Rounded ELC Light' !important;
    font-weight: 400;
    color: #4f4f4f;
    font-size: 1rem;
    position: relative;
    float: none;
    margin-bottom: 0 !important;
    text-align: start !important;
}

.nav__linkMenuSpanL2 {
    margin-top: 0 !important;
    color: #0d943f;
    font-family: 'VAG Rounded ELC Bold' !important;
    padding: 20px 10px 0 15px;
    display: block;
    text-decoration: none !important;
    text-transform: none;
    font-weight: 900;
    font-size: 1rem;
}

@media only screen and (min-width: 1280px) {
    .webNavigation .MenuItems .subLink {
        display: inline-block;
        vertical-align: top;
        font-family: 'VAG Rounded ELC Light' !important;
        font-size: 1rem;
    }

    html[dir='rtl'] .webNavigation .MenuItems .subLink {
        margin-right: 0;
        margin-left: 15px;
    }
}

.webNavigation .MenuItems .subLink li {
    margin-bottom: 0;
}

.webNavigation .MenuItems .subLink li a {
    color: #4f4f4f;
    text-decoration: none;
    transition: color 0.5s;
}

.webNavigation .MenuItems a:hover {
    color: #4f4f4f;
    text-decoration: none;
    transition: color 0.5s;
}

.webNavigation .MenuItems a {
    color: #4f4f4f;
    text-decoration: none;
    transition: color 0.5s;
}

.webNavigation .MenuItems .shop-all-brands {
    padding-inline-start: 40px;
    margin-top: 2rem;
}
.webNavigation .MenuItems .shop-all-brands a {
    font-size: 1rem;
    background: black;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-transform: capitalize;
    transition: 0.2s;
}
.webNavigation .MenuItems .shop-all-brands a:hover {
    background: rgb(37, 37, 37);
}
.webNavigation .MenuItems .subLink li a.active,
.webNavigation .MenuItems .subLink li a:hover {
    color: #4f4f4f;
    text-decoration: none;
}

.webNavigation .MenuItems .subLink li:first-child {
    padding: 6px 0;
}

@media only screen and (min-width: 1280px) {
    .webNavigation .MenuItems .subLink li a {
        padding: 6px 0;
    }
}

.webNavigation .MenuItems .subLink li a {
    color: #4f4f4f;
}

.webNavigation .MenuItems .l1_menu {
    font-size: 1rem;
    color: #4f4f4f;
    font-weight: 700;
    text-transform: none;
    text-decoration: none;
    font-family: 'VAG Rounded ELC Light' !important;
}

.webNavigation .MenuItems .subLink li a {
    font-size: 1rem;
    line-height: 1.1875rem;
    font-weight: 700;
    text-transform: none;
    text-decoration: none;
    color: #0d943f;
    padding: 0;
    font-family: 'VAG Rounded ELC Light' !important;
}

html[dir='rtl'] .webNavigation .MenuItems .subLink li a {
    font-size: 0.875rem;
    line-height: 1.1875rem;
    font-weight: 700;
    text-transform: none;
    text-decoration: none;
    color: #0d943f;
    padding: 0;
    font-family: 'VAG Rounded ELC Light' !important;
}

.removeWhite {
    padding: 15px 7px;
}

.removeWhite:hover {
    background-color: transparent !important;
}

@media only screen and (min-width: 1600px) {
    .webNavigation .MenuItems > li > a {
        line-height: 47px;
    }
}

.webNavigation .MenuItems > li > a:hover {
    background-color: #fff;
}

.webNavigation .MenuItems .submenu {
    padding-left: 10px;
}

html[dir='rtl'] .webNavigation .MenuItems .submenu {
    padding-left: 0;
    padding-right: 10px;
}

@media only screen and (max-width: 1279px) {
    .webNavigation .MenuItems > li > a:hover {
        background-color: #fff;
    }
}

@media only screen and (min-width: 1280px) {
    html[dir='rtl'] .webNavigation .MenuItems .submenu {
        padding: 14px 72px 20px 45px;
    }
}

@media only screen and (min-width: 1280px) {
    .webNavigation .MenuItems .submenu {
        padding: 15px 45px 25px 92px;
    }

    html[dir='rtl'] .webNavigation .MenuItems .submenu {
        padding: 15px 92px 25px 45px;
    }
}

@media only screen and (min-width: 1600px) {
    .webNavigation .MenuItems .submenu {
        padding: 17px 45px 30px 100px;
    }

    html[dir='rtl'] .webNavigation .MenuItems .submenu {
        padding: 15px 100px 25px 45px;
    }
}

@media only screen and (min-width: 600px) {
    .webNavigation .MenuItems {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 1280px) {
    .webNavigation .MenuItems {
        font-size: 1rem;
    }
}

.webNavigation .MenuItems .all {
    padding-top: 15px;
}

@media only screen and (min-width: 1280px) {
    .webNavigation .MenuItems .all {
        padding-top: 0;
        margin-bottom: 0;
    }
}

.webNavigation .MenuItems > li {
    margin-bottom: 0;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 0;
}

@media only screen and (min-width: 1280px) {
    html[dir='rtl'] .webNavigation .MenuItems > li {
        margin-right: 0;
        margin-left: 20px;
    }
}

@media only screen and (min-width: 1280px) {
    .webNavigation .MenuItems > li:hover .submenu {
        display: block;
    }
}

html.no-touch .webNavigation .MenuItems > li:hover .submenu {
    display: block;
}

.webNavigation .MenuItems > li .subMenuTrigger {
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 6px;
    background: #000;
    width: 11px;
    height: 1px;
}

html[dir='rtl'] .webNavigation .MenuItems > li .subMenuTrigger {
    left: 0;
    right: auto;
}

@media only screen and (min-width: 1280px) {
    .webNavigation .MenuItems > li .subMenuTrigger {
        display: none;
    }
}

@media only screen and (max-width: 1279px) {
    .webNavigation .MenuItems > li .subMenuTrigger.open + .submenu {
        max-height: 100%;
    }
}

.webNavigation .MenuItems > li .subMenuTrigger.open:before {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
}

.webNavigation .MenuItems > li .subMenuTrigger {
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 0;
    background: #000;
    background: #fff;
    width: 47px;
    height: 47px;
}

.webNavigation .MenuItems .submenu {
    display: none;
    max-height: 100% important;
    position: absolute;
    z-index: 2;
    background-color: #fff;
    padding: 14px 45px 20px 72px;
    left: 0;
    width: 100%;
    position: absolute;
}

.webNavigation .MenuItems .subLink {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: auto;
    margin-right: 40px;
    font-size: 0.9em;
}

.webNavigation .MenuItems > li .subMenuTrigger:before {
    content: '';
    position: absolute;
    background: #000;
    height: 11px;
    width: 1px;
    left: 5px;
    top: -5px;
}

.webNavigation .MenuItems > li .subMenuTrigger:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 30px;
    height: 30px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.webNavigation .MenuItems > li > a {
    display: block;
    color: #4f4f4f;
    transition: color 0.5s;
}

.l1_menu:not(:last-child) {
    margin-right: 0.5rem;
}

.M_Lebal {
    font-size: 0.875rem;
    line-height: 1.1875rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #000;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    color: #2c2c2c;
    text-align: left;
    font-family: CeraPro-Medium;
}

.list-break-menu {
    -moz-column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    column-count: 4;
    column-gap: 20px;
    margin-bottom: 10px;
}

.MobileDiv {
    height: 100%;
    overflow-y: auto;
    padding-top: 0;
    border-bottom: 1px solid #d6d6d6;
}

.nav-linkMenu {
    width: 100% !important;
    color: #0d943f;
    border-top: 1px solid #d6d6d6;
    text-align: initial;
    display: flex;
    text-decoration: none;
}

.nav-linkMenu a {
    text-decoration: none !important;
    color: #000;
    text-align: initial;
    display: inline-block;
    text-decoration: none;
}

.nav__link--secondary {
    border-bottom: none;
}

.m_Menu {
    display: block;
    position: relative;
}

.nav__linkMenuSpan {
    margin-top: 0 !important;
    font-family: 'VAG Rounded ELC Light' !important;
    color: #0d943f;
    padding: 20px 0 20px 10px;
    display: block;
    line-height: 21px;
    text-decoration: none !important;
    text-transform: none;
    font-weight: 900;
    font-size: 1rem;
}
.nav-linkMenu a.nav__linkMenuSpan {
    color: #0d943f;
}

html[dir='rtl'] .nav__linkMenuSpan {
    margin-top: 0 !important;
    color: #0d943f;
    padding: 20px 10px;
    display: block;
    line-height: 21px;
    font-family: 'VAG Rounded ELC Light' !important;
    text-decoration: none !important;
    text-transform: none;
    font-weight: 900;
    font-size: 1rem;
}

.nav__link--drill__down {
    height: 60px;
    top: 0;
    padding: 0;
    left: 0;
    color: #0d943f;
    font-size: 1rem;
    letter-spacing: 0.5px !important;
    text-align: initial;
    cursor: pointer;
}

.nav__link--drill__down::after {
    position: absolute;

    top: 33px !important;
    transform: translate(-50%, -50%) !important;
    right: 15px;
    font-family: FontAwesome;
    content: '\f0da';
    font-size: 1.5rem;
}

html[dir='rtl'] .sm-back {
    color: #4f4f4f;
    padding: 25px 5px;
    border-top: 1px solid #d6d6d6;
    font-size: 1rem;
    display: block;
    justify-content: space-around;
}

.subListToggle::after {
    display: inline;
    position: absolute;
    top: 15px;
    right: 15px;
    font-family: FontAwesome;
    content: '\F0D8';
    font-size: 1.5rem;
    color: #0d943f;
}

html[dir='rtl'] .subListToggle::after {
    display: inline;
    position: absolute;
    top: 15px;
    right: auto;
    content: '\F0D8';
    left: 15px !important;
    font-family: FontAwesome;
    font-size: 1.5rem;
    color: #0d943f;
}

html[dir='rtl'] .subListToggle.collapsed::after {
    content: '\F0D7';
}

.subListToggle.collapsed::after {
    content: '\F0D7';
}

.sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 8;
    transition: 1s ease 0s;
}

.SideBar .sidebar-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
}

.leftZero {
    left: 0;
}

html[dir='rtl'] .leftZero {
    right: 0 !important;
    left: auto;
}

html[dir='rtl'] .SideBar {
    right: -100%;
    left: auto;
}

.SideBar {
    left: -100%;
    background-color: #fff;
    z-index: 9;
    width: 100%;
    max-width: 28rem;
    transition: all 1s;
}

.pad-l {
    padding-left: 0;
}

.shop-all-landing a {
    padding: 20px 0 0 0;
    display: block;
    line-height: 21px;
    border-top: 1px solid #d6d6d6;
    text-align: initial;
    font-weight: 900;
    font-size: 1rem;
    text-decoration: none !important;
    color: #4f4f4f !important;
}

.shop-all-landing a::before {
    position: absolute;
    font-family: FontAwesome;
    content: '\f0da';
    right: 15px;
    font-size: 1.4rem;
}

html[dir='rtl'] .pad-l {
    padding-right: 5px;
}

.pad-l-l2 {
    padding-left: 10px;
}

html[dir='rtl'] .pad-l-l2 {
    padding-right: 10px;
}

html[dir='rtl'] .nav__linkMenuSpanL2 {
    margin-top: 0 !important;
    color: #0d943f;
    font-family: 'VAG Rounded ELC Light' !important;
    color: #0d943f;
    padding: 20px 10px 0;
    display: block;
    line-height: 21px;
    text-decoration: none !important;
    text-transform: none;
    font-weight: 900;
    font-size: 1rem;
}

html[dir='rtl'] .sm-back::before {
    content: '\25B8';
    position: relative;
    top: 3px;
    left: 15px;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.5rem;
    margin-right: 1em;
    color: #4f4f4f;
}

html[dir='rtl'] .nav__link--drill__down::after {
    position: absolute;
    top: 8px !important;
    left: 15px !important;
    font-family: FontAwesome;
    content: '\f0da';
    font-size: 1.5rem;
    right: auto;
    transform: rotate(180deg) !important;
}

html[dir='rtl'] .nav__link--secondary span {
    padding: 20px 10px 0;
    display: block;
    line-height: 21px;
    color: #4f4f4f;
    border-top: 1px solid #d6d6d6;
    text-align: initial;
    font-family: 'VAG Rounded ELC Light' !important;
    width: 100%;
    font-weight: 900;
    font-size: 1rem;
    text-decoration: none !important;
    color: #0d943f;
}

.sub-navigation-list {
    margin-bottom: 0;
    list-style: none;
}

.sub-navigation-list span {
    position: relative;
    display: block;
    text-align: initial;
    float: none;
    padding-bottom: 4px;
}

.nav__link--secondary {
    border-bottom: none;
}

.nav__link--secondary a {
    border-bottom: none;
    text-decoration: none !important;
}

.nav__link--secondary-l3 a {
    border-bottom: none;
    text-decoration: none !important;
}

.nav__link--secondary-l3 span {
    padding: 20px 0 10px 15px !important;
    display: block;
    border-top: 1px solid #d6d6d6;
    line-height: 21px;
    text-align: initial;
    font-family: 'VAG Rounded ELC Light' !important;
    width: 100%;

    font-weight: 700;
    font-size: 1rem;
    text-decoration: none !important;
    color: #4f4f4f;
}

html[dir='rtl'] .l3-design {
    display: block;
    padding: 20px 15px 0 !important;
    font-family: 'VAG Rounded ELC Light' !important;
    font-weight: 400;
    color: #4f4f4f;
    font-size: 1rem;
    position: relative;
    float: none;
    margin-bottom: 0 !important;
    text-align: start !important;
}

html[dir='rtl'] .nav__link--secondary-l3 span {
    padding: 20px 10px 10px;
    display: block;
    border-top: 1px solid #d6d6d6;
    line-height: 21px;
    text-align: initial;
    font-family: 'VAG Rounded ELC Light' !important;
    width: 100%;

    font-weight: 700;
    font-size: 1rem;
    text-decoration: none !important;
    color: #4f4f4f;
}

.nav__link--secondary span {
    padding: 20px 0 0 10px;
    display: block;
    line-height: 21px;
    color: #4f4f4f;
    border-top: 1px solid #d6d6d6;
    text-align: initial;
    font-family: 'VAG Rounded ELC Light' !important;
    width: 100%;
    font-weight: 900;
    font-size: 1rem;
    text-decoration: none !important;
    color: #0d943f;
}
.nav__link--secondary span.shop-all-brands {
    color: #4f4f4f !important;
}
.nav__link--secondary span.shop-all-brands::after {
    position: absolute;
    font-family: FontAwesome;
    content: '\f0da';
    right: 15px;
    font-size: 1.4rem;
}
html[dir='rtl'] .nav__link--secondary span.shop-all-brands::after {
    right: auto;
    left: 15px;
    transform: rotate(180deg);
}

.sm-back {
    color: #4f4f4f;
    padding: 25px 5px;
    font-size: 1rem;
    font-family: 'VAG Rounded ELC Light' !important;
    display: block;
}

.activeU1 {
    position: relative;
    left: 0;
    transition-property: left;
    transition-duration: 0.5s;
}

.sm-back::after {
    content: '';
}

.sm-back::before {
    content: '\f0d9';
    position: relative;
    top: 2px;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.5rem;
    margin-right: 1em;
    color: #4f4f4f;
}

@media (max-width: 1023px) {
    .navigation--top .nav-cart .mini-cart-link {
        display: inline-block;
    }

    .navigation--bottom .nav__links--primary-has__sub {
        position: static;
        width: 100%;
        display: inline-block;
    }

    .navigation--bottom .nav__links--primary.active .sub__navigation {
        display: block;
        left: 100%;
        transition-property: left;
        transition-duration: 0.5s;
    }

    .navigation--bottom .nav__links--products > li {
        border-bottom: 1px solid #d6d6d6;
    }

    .navigation--top .nav-cart .mini-cart-link .mini-cart-icon .icon-basket {
        top: 6px;
        right: 3px;
    }

    .navigation--top .nav-cart .mini-cart-link .mini-cart-icon .glyphicon-shopping-cart {
        width: 30px;
        font-size: 22px;
        position: relative;
        right: -6px;
        top: 3px;
    }

    .navigation--top .nav-cart .mini-cart-link .mini-cart-count {
        font-size: 12px;
        position: absolute;
        right: 0;
        top: -5px;
        margin: 0;
    }

    .navigation--top .nav-cart .mini-cart-link .nav-items-total {
        display: inline-block;
        background-color: #fff;
        border-radius: 50%;
        height: 23px;
        width: 23px;
        color: #0d943f;
        line-height: 24px;
        text-align: center;
    }
}

@media (min-width: 640px) {
    .navigation--top .nav-cart .mini-cart-icon {
        display: inline-block;
    }
}

.navigation--top .nav-cart .mini-cart-icon .glyphicon-shopping-cart {
    font-size: 22px;
}

@media (min-width: 640px) and (max-width: 1023px) {
    .navigation--top .nav-cart .mini-cart-icon .glyphicon-shopping-cart {
        margin-left: 5px;
    }
}

.navigation--top .desktop__nav {
    padding: 0 20px;
}

@media (max-width: 1023px) {
    .navigation--top .desktop__nav {
        padding: 5px 10px 18px;
    }
}

@media (max-width: 1023px) {
    .navigation--top .desktop__nav {
        margin-top: 42px;
    }
}

.navigation--top .desktop__subnav {
    text-align: right;
}

@media (max-width: 767px) {
    .l3-design {
        display: block;
        padding: 20px 0 0 15px;
        font-family: 'VAG Rounded ELC Light' !important;
        font-weight: 400;
        color: #4f4f4f;
        font-size: 1rem;
        border-top: 1px solid #d6d6d6;
        position: relative;
        float: none;
        margin-bottom: 0 !important;
    }

    .l3-design span {
        text-decoration: none !important;
    }

    .subListToggle {
        content: '\F0D7';
    }

    .navigation--top .mobile__nav__row.mobile__nav__row--table,
    .navigation--top .mobile__nav__row .mobile__nav__row--table {
        display: table !important;
        width: 100%;
    }

    .navigation--top .mobile__nav__row .mobile__nav__row--table-group {
        display: table-row-group !important;
    }

    .navigation--top .mobile__nav__row .mobile__nav__row--table-row {
        display: table-row !important;
    }

    .navigation--top .mobile__nav__row .mobile__nav__row--table-row:before {
        display: table;
        content: ' ';
    }

    .navigation--top .mobile__nav__row .mobile__nav__row--table-cell {
        display: table-cell !important;
        vertical-align: top;
    }

    .navigation--top .mobile__nav__row .nav__links--shop_info .componentContainer {
        margin-bottom: 0;
        overflow: hidden;
    }

    .navigation--top .mobile__nav__row span.glyphicon-align-justify {
        position: relative;
        cursor: pointer;
        margin: 0 auto;
        color: #0d943f;
        font-size: 29px;
        top: 2px;
    }

    .navigation--top .mobile__nav__row .componentContainer .nav-order-tools,
    .navigation--top .mobile__nav__row .componentContainer .nav-cart {
        font-size: 30px;
        line-height: 60px;
        padding: 0;
        width: 100%;
    }

    .navigation--top .mobile__nav__row .componentContainer .mobile__nav__row--table-cell {
        border-right: 1px solid #d6d6d6;
    }

    .navigation--top .mobile__nav__row .componentContainer .mobile__nav__row--table-cell:last-child {
        border-right: none;
    }

    .navigation--top .mobile__nav__row .mobile__nav__row--seperator {
        border-left: 1px solid #d6d6d6;
    }

    .navigation--top .mobile__nav__row--btn {
        padding: 0;
        vertical-align: top;
        height: 60px;
        font-size: 30px;
        line-height: 60px;
    }

    .navigation--top .mobile__nav__row--btn .nav-order-tools,
    .navigation--top .mobile__nav__row--btn .mini-cart-link,
    .navigation--top .mobile__nav__row--btn .mobile__nav__row--btn-search {
        font-size: 30px;
        line-height: 60px;
        padding: 0;
        width: 100%;
    }

    .navigation--top .mobile__nav__row--btn .nav-order-tools:hover,
    .navigation--top .mobile__nav__row--btn .mini-cart-link:hover,
    .navigation--top .mobile__nav__row--btn .mobile__nav__row--btn-search:hover,
    .navigation--top .mobile__nav__row--btn .nav-order-tools:focus,
    .navigation--top .mobile__nav__row--btn .mini-cart-link:focus,
    .navigation--top .mobile__nav__row--btn .mobile__nav__row--btn-search:focus,
    .navigation--top .mobile__nav__row--btn .nav-order-tools:active,
    .navigation--top .mobile__nav__row--btn .mini-cart-link:active,
    .navigation--top .mobile__nav__row--btn .mobile__nav__row--btn-search:active {
        background-color: #0d943f;
        color: #ee0e19;
        text-decoration: none;
    }

    .navigation--top .mobile__nav__row--btn span.glyphicon {
        color: #0d943f;
    }
}

.navigation--top .mobile-menu {
    height: 40px;
    text-align: left;
}

@media (max-width: 1023px) {
    .navigation--top .mobile-menu {
        padding-left: 0;
    }
}

.navigation--top .mobile-menu button {
    font-size: 18px;
    line-height: 1.33;
    border-radius: 0;
    height: 100%;
    width: auto;
    padding: 0;
    margin-left: 5px;
    margin-top: 3%;
}

.navigation--top .mobile-menu span {
    position: relative;
    cursor: pointer;
    margin: 0 auto;
    color: #fff;
    font-size: 29px;
}

.borderBottom {
    border-bottom: 1px solid #d6d6d6;
}

.autocomplete-dimmer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
}

.autocomplete-enabled nav.navigation--top {
    z-index: 11;
    position: relative;
}

.navigation--bottom {
    background-color: #fff;
    margin-bottom: -3px;
}

@media (max-width: 1023px) {
    .navigation--bottom {
        border-bottom: none;
    }
}

@media (max-width: 1023px) {
    .navigation--bottom .sm-back::before {
        content: '\e079';
        float: none;
    }
}

@media (max-width: 1023px) {
    .navigation--bottom.js-enquire-offcanvas-navigation .close-nav {
        display: inline-block;
        cursor: pointer;
        height: 30px;
        width: 30px;
        vertical-align: top;
        margin: 17px 10px 0 0;
    }
}

@media (max-width: 1023px) {
    .navigation--bottom.js-enquire-offcanvas-navigation .close-nav button {
        background-color: #fff;
        height: 100%;
        width: 100%;
        display: inline-block;
        color: transparent;
        overflow: hidden;
        border: none;
        position: relative;
    }
}

.navigation--bottom.js-enquire-offcanvas-navigation .close-nav button span {
    position: absolute;
    top: 0;
    left: 14px;
    content: ' ';
    height: 23px;
    width: 2px;
    background-color: #4f4f4f;
}

.navigation--bottom.js-enquire-offcanvas-navigation .close-nav button span:first-child {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.navigation--bottom.js-enquire-offcanvas-navigation .close-nav button span:last-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.navigation--bottom:before,
.navigation--bottom:after {
    content: ' ';
    display: table;
}

.navigation--bottom:after {
    clear: both;
}

@media (min-width: 1400px) {
    .navigation--bottom span {
        padding: 20px 32px;
    }
}

@media (min-width: 1024px) {
    .navigation--bottom .column-20-percent {
        float: left;
        width: 20%;
    }
}

@media (max-width: 1023px) {
    .navigation--bottom {
        width: 100%;
        left: 0;
        z-index: 999;
        background-color: #fff;
    }

    .navigation--bottom li {
        float: none;
    }
}

@media (max-width: 767px) {
    .navigation--bottom {
        width: 100%;
        height: 65px;
        margin-left: 0;
    }
}

.navigation--bottom .nav__links--products {
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    padding: 0;
    position: relative;
    left: 0;
    transition-property: left;
    transition-duration: 0.5s;
    padding-left: 0;
    padding-right: 35px;
    margin-bottom: 0;
}

@media (max-width: 1023px) {
    .navigation--bottom .nav__links--primary .sub__navigation {
        position: absolute;
        top: -50px;
        bottom: 0;
        left: 210%;
        width: 100%;
        padding: 0;
        transition-property: left;
        transition-duration: 0.5s;
        display: none;
    }

    .navigation--bottom .nav__links--products.active {
        position: relative;
        display: block;
        left: -100%;
        transition-property: left;
        transition-duration: 0.5s;
    }
}

@media (max-width: 1023px) {
    .navigation--bottom .nav__links--products {
        top: 0;
        bottom: 0;
        right: 0;
        background-color: #fff;
        padding: 0;
        position: relative;
        left: 0;
        transition-property: left;
        transition-duration: 0.5s;
    }
}

@media (max-width: 1023px) {
    .navigation--bottom .nav__links--products > li {
        border-bottom: 1px solid #d6d6d6;
    }

    .navigation--bottom .nav__links--products > li:first-child {
        border-top: 1px solid #d6d6d6;
    }
}

@media (max-width: 1023px) {
    .navigation--bottom .nav__links--products li {
        float: none;
        overflow: hidden;
        background-color: #fff;
    }

    .navigation--bottom .nav__links--products li.nav__link--secondary {
        border-bottom: none;
    }

    .navigation--bottom .nav__links--products li.nav__link--secondary span {
        padding: 15px 0 15px 30px;
        display: block;
        font-size: 15px;
        line-height: 19px;
        color: #4f4f4f;
        text-decoration: none;
        text-align: initial;
    }
}

@media (max-width: 1023px) {
    .navigation--bottom .nav__links--products li.liUserSign {
        border: 0;
    }
}

@media (max-width: 1023px) {
    .navigation--bottom .nav__links--products li.liUserSign span.userSign {
        width: 80%;
        display: inline-block;
        padding: 10px 0 5px 32px;
        font-size: 15px;
        line-height: 19px;
        color: #4f4f4f;
    }
}

.navigation--bottom .nav__links--products li:last-child {
    margin-right: 0;
}

.navigation--bottom .nav__links--products li .nav__link span {
    padding: 27px 15px 27px 25px;
    display: block;
    font-size: 1rem;
    font-weight: 800;
    line-height: 21px;
    color: #4f4f4f;
}

@media (max-width: 1023px) {
    .navigation--bottom .nav__links--products li .nav__link span {
        margin-top: 0;
        color: #0d943f !important;
        padding: 20px 0;
        display: block;
        font-family: 'VAG Rounded ELC Light' !important;
        text-align: initial;
    }
}

@media (max-width: 1023px) {
    .navigation--bottom .nav__links--products li.see-all-link span {
        color: #0d943f;
    }
}

@media (min-width: 1024px) {
    .navigation--bottom .nav__links--products > li:last-child {
        background: #ee0e19;
        float: right;
        min-width: 13%;
    }

    .navigation--bottom .nav__links--products > li:last-child > .sub__navigation {
        margin-top: -28px;
    }

    .navigation--bottom .nav__links--products > li:last-child > span {
        display: block;
    }
}

.navigation--bottom .nav__links--products .nav__links--secondary {
    display: none;
    background: #f8f8f8;
    position: absolute;
    z-index: 1000;
    left: 0;
    border: 1px solid #d6d6d6;
    border-top: 0;
    padding: 0 10px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

.navigation--bottom .nav__links--products .nav__links--secondary .sm-back {
    display: none;
}

.navigation--bottom .nav__links--products .nav__links--secondary .row {
    position: relative;
}

.navigation--bottom .nav__links--products .nav__links--secondary .sub-navigation-section {
    position: static;
    padding: 10px;
}

.navigation--bottom .nav__links--products .nav__links--secondary .sub-navigation-section.double {
    position: relative;
    min-height: 1px;
    padding: 10px 0;
}

.navigation--bottom
    .nav__links--products
    .nav__links--secondary
    .sub-navigation-section
    .sub-navigation-section-column {
    float: left;
    padding: 0 10px;
}

.navigation--bottom .nav__links--products .nav__links--secondary .sub-navigation-section .sub-navigation-list {
    padding-left: 0;
    list-style: none;
}

.navigation--bottom .nav__links--products .nav__links--secondary .sub-navigation-section .sub-navigation-list li {
    border-bottom: 1px solid #d6d6d6;
}

.navigation--bottom
    .nav__links--products
    .nav__links--secondary
    .sub-navigation-section
    .sub-navigation-list
    li:last-child {
    border-bottom: none;
}

.navigation--bottom .nav__links--products .nav__links--secondary .sub-navigation-section .sub-navigation-list li span {
    display: block;
    color: #4f4f4f;
    line-height: 30px;
    padding-left: 5px;
}

.navigation--bottom .nav__links--products .nav__links--secondary .sub-navigation-list.has-title {
    margin-top: 40px;
}

.navigation--bottom .nav__links--products .nav__links--secondary .title + .sub-navigation-list.has-title {
    margin-top: 0;
}

.navigation--bottom .show-sub .nav__link span {
    position: relative;
    background-color: #fff;
}

.navigation--bottom .show-sub .sub__navigation {
    display: block !important;
    top: 60px;
}

.navigation--bottom .nav__link {
    display: inline-block;
    width: auto;
}

@media (max-width: 1023px) {
    .navigation--bottom .nav__link {
        width: 100%;
    }
}

@media (max-width: 1023px) {
    .navigation--bottom .nav__links--primary-has__sub {
        position: static;
        width: 100%;
        display: inline-block;
    }
}

@media (max-width: 1023px) {
    .navigation--bottom .nav__links--primary-has__sub .nav__link {
        width: 100%;
    }
}

@media (max-width: 1023px) {
    .navigation--bottom .nav__links--primary-has__sub > .nav__link {
        width: 100% !important;
        color: #0d943f;
    }
}

.navigation--bottom .nav__links--primary-has__sub .nav__link--drill__down {
    display: inline-block;

    width: 100%;
    height: 60px;
    padding: 0;
    left: 0;
    position: absolute;
    color: #0d943f;
    font-size: 1rem;
    cursor: pointer;
}

.navigation--bottom .nav__links--primary-has__sub .nav__link--drill__down::after {
    position: absolute;
    top: 20px;
    right: 30px;
    font-family: FontAwesome;
    content: '\f0da';
    font-size: 18px;
}

@media (min-width: 1024px) {
    .navigation--bottom .nav__links--primary-has__sub span,
    .navigation--bottom .nav__links--primary-has__sub span:active,
    .navigation--bottom .nav__links--primary-has__sub span:focus {
        text-decoration: none;
    }

    .navigation--bottom .nav__links--primary-has__sub span::after {
        content: '\f0d7';
        position: relative;
        margin-left: 8px;
        top: -1px;
        font-family: FontAwesome;
        color: #4f4f4f;
        font-size: 10px;
    }
}

@media (min-width: 1024px) {
    .navigation--bottom .nav__links--primary:last-of-type .presentfinder__nav__link {
        background-color: #ee0e19;
        color: #fff;
        font-family: 'VAG Rounded Std Bold', 'Arial', 'Helvetica', sans-serif;
    }

    .navigation--bottom .nav__links--primary:last-of-type .presentfinder__nav__link:hover,
    .navigation--bottom .nav__links--primary:last-of-type .presentfinder__nav__link:active {
        background-color: #df0c00;
    }
}

@media (max-width: 1023px) {
    .navigation--bottom .nav__links--primary.active .sub__navigation {
        display: block;
        left: 100%;
        transition-property: left;
        transition-duration: 0.5s;
    }
}

.navigation--bottom .nav__links--primary .sub__navigation {
    display: none;
}

@media (min-width: 1024px) {
    .navigation--bottom .nav__links--primary .sub__navigation {
        display: none;
        background: #fff;
        position: absolute;
        z-index: 1000;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        padding: 20px 6% 50px;
        box-shadow: 0 2000vh 0 2000vh rgba(0, 0, 0, 0.3);
    }
}

@media (max-width: 1023px) {
    .navigation--bottom .nav__links--primary .sub__navigation {
        position: absolute;
        top: -50px;
        bottom: 0;
        width: 100%;
        padding: 0;
        transition-property: left;
        transition-duration: 0.5s;
    }

    .navigation--bottom .nav__links--primary .sub__navigation > div[class*='col'] {
        padding: 0;
    }
}

@media (max-width: 1023px) {
    .navigation--bottom .nav__links--primary .sm-back {
        color: #4f4f4f;
        padding: 25px 0;
        border-top: 1px solid #d6d6d6;
        font-size: 1.3rem;
        line-height: 50px;
        display: block;
        text-align: initial;
    }

    .navigation--bottom .nav__links--primary .sm-back::after {
        content: ' ';
    }

    .navigation--bottom .nav__links--primary .sm-back::before {
        content: '\f0d9';
        position: relative;
        top: 1px;
        display: inline-block;
        font-family: FontAwesome;
        font-style: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 18px;
        margin-right: 1em;
        color: #4f4f4f;
    }
}

@media (max-width: 1023px) {
    .navigation--bottom .nav__links--primary .row {
        margin: 0;
    }
}

@media (max-width: 1023px) {
    .navigation--bottom .nav__links--primary .sub-navigation-section {
        padding: 0;
        background: #fff;
    }
}

@media (min-width: 1024px) {
    .navigation--bottom .nav__links--primary .sub-navigation-section {
        position: static;
        padding: 10px;
        float: left;
        text-align: left;
    }
}

.navigation--bottom .nav__links--primary .sub-navigation-section .title {
    font-size: 1rem;
    line-height: 40px;
    color: #0d943f !important;
}

.navigation--bottom .nav__links--primary .sub-navigation-section .title span {
    color: #0d943f !important;
    font-weight: 800 !important;
    font-family: 'VAG Rounded ELC Light' !important;
    font-weight: normal;
    padding: 10px 0;
    font-size: 14px;
    line-height: 18px;
}

.navigation--bottom .nav__links--primary .sub-navigation-section .title span:after {
    display: none;
}

@media (max-width: 1399px) {
    .navigation--bottom .nav__links--primary .sub-navigation-section .title {
        color: rgba(0, 0, 0, 0.7);
    }
}

@media (max-width: 1023px) {
    .navigation--bottom .nav__links--primary .sub-navigation-section .title {
        padding: 10px 20px 10px 0;
        border-top: 1px solid #d6d6d6;
    }

    .navigation--bottom .nav__links--primary .sub-navigation-section .title span {
        font-size: 1rem;
        line-height: 21px;
    }

    .navigation--bottom .nav__links--primary .sub-navigation-section .title span.subListToggle {
        position: absolute;
        right: 0;
        width: 60px;
    }

    .navigation--bottom .nav__links--primary .sub-navigation-section .title span.subListToggle:focus {
        text-decoration: none;
    }

    .navigation--bottom .nav__links--primary .sub-navigation-section .title span.subListToggle::after {
        display: inline;
        position: absolute;
        top: 8px;
        right: 26px;
        font-family: FontAwesome;
        content: '\f0d8';
        font-size: 18px;
        color: #0d943f;
    }

    .navigation--bottom .nav__links--primary .sub-navigation-section .title span.subListToggle .collapsed::after {
        content: '\f0d7';
    }
}

@media (max-width: 1023px) {
    .navigation--bottom .nav__links--primary .sub-navigation-section .title {
        padding: 10px 20px 10px 0;
        border-top: 1px solid #d6d6d6;
    }

    .navigation--bottom .nav__links--primary .sub-navigation-section:first-child .title {
        border-top: 0;
        border-top: 1px solid #d6d6d6;
    }

    .navigation--bottom .nav__links--primary .sub-navigation-section:last-child {
        border-bottom: 1px solid #d6d6d6;
        width: 100%;
        text-align: initial;
    }
}

@media (max-width: 1023px) {
    .navigation--bottom .nav__links--primary .sub-navigation-section .sub-navigation-list {
        margin-bottom: 0;
        list-style: none;
    }

    .collapse {
        display: none;
    }

    .navigation--bottom .nav__links--primary .sub-navigation-section .sub-navigation-list {
        margin-bottom: 0;
        list-style: none;
    }

    navigation--bottom .nav__links--primary .sub-navigation-section .title {
        font-size: 1rem;
        line-height: 40px;
        color: #0d943f;
    }

    .navigation--bottom .nav__links--primary .sub-navigation-section .sub-navigation-list {
        margin-bottom: 0;
        list-style: none;
    }
}

@media (min-width: 1024px) {
    .navigation--bottom .nav__links--primary .sub-navigation-section .sub-navigation-list span {
        display: block;
        padding: 0;
        font-family: 'VAG Rounded ELC Light' !important;
        font-weight: 400;
        color: #4f4f4f;
        font-size: 12px;
        line-height: 18px;
    }

    .navigation--bottom .nav__links--primary .sub-navigation-section .sub-navigation-list {
        padding-left: 0;
        list-style: none;
        margin-top: 0;
    }

    .navigation--bottom .nav__links--primary .sub-navigation-section .sub-navigation-list span {
        display: block;
        padding: 0;
        font-family: 'VAG Rounded ELC Light' !important;
        font-weight: 400;
        color: #4f4f4f;
        font-size: 12px;
        line-height: 18px;
    }

    .navigation--bottom .nav__links--primary .sub-navigation-section .sub-navigation-list span:after {
        display: none;
    }

    .navigation--bottom .nav__links--primary .sub-navigation-section .sub-navigation-list .see-all-link span {
        color: #0d943f;
    }

    .navigation--bottom .nav__links--primary .sub-navigation-section .sub-navigation-list:not(.has-title) span {
        font-family: 'VAG Rounded ELC Light' !important;
        font-weight: 400;
        color: #0d943f;
        font-size: 14px;
        line-height: 35px;
    }
}

.navigation--bottom .nav__links--primary .sub-navigation-section .sub-navigation-list li {
    position: relative;
    display: block;
    float: none;
    padding-bottom: 4px;
}

@media (min-width: 1024px) {
    .navigation--bottom .nav__links--primary .sub-navigation-section .sub-navigation-list li:last-child {
        border: none;
    }
}

@media (max-width: 1023px) {
    .navigation--bottom .nav__links--primary .sub-navigation-section .title span.subListToggle:focus {
        text-decoration: none;
    }

    .navigation--bottom .nav__links--primary .sub-navigation-section .title span.subListToggle::after {
        display: inline;
        position: absolute;
        top: 8px;
        right: 26px;
        font-family: FontAwesome;
        content: '\f0d8';
        font-size: 18px;
        color: #0d943f;
    }

    .navigation--bottom .nav__links--primary .sub-navigation-section .sub-navigation-list:not(.has-title) span {
        font-family: 'VAG Rounded ELC Light' !important;
        font-weight: 400;
        color: #0d943f;
        font-size: 14px;
        line-height: 35px;
    }

    .navigation--bottom .nav__links--mobile {
        overflow: hidden;
    }

    .navigation--bottom .nav__links--mobile li {
        overflow: hidden;
        border: none;
    }

    .navigation--bottom .nav__links--mobile li span {
        color: #0d943f;
    }

    .navigation--bottom .nav__links--mobile .subNavList {
        padding-left: 0;
    }

    .navigation--bottom .nav__links--mobile .subNavList li {
        padding: 10px 0 10px 32px;
        background: #fff;
    }

    .navigation--bottom .nav__links--mobile .subNavList li span {
        font-family: 'VAG Rounded ELC Light' !important;
        font-weight: 400;
        font-size: 15px;
        line-height: 19px;
        color: #4f4f4f;
    }
}

@media (max-width: 1023px) {
    .navigation--bottom .nav__links--mobile div.sub-nav .myAccountLinksHeader,
    .navigation--bottom .nav__links--mobile div.sub-nav .myCompanyLinksHeader {
        position: relative;
        display: block;
        cursor: pointer;
        padding: 20px 0 20px 32px;
        font-family: 'VAG Rounded ELC Light' !important;
        font-weight: 400;
        font-size: 1rem;
        line-height: 21px;
        border: 0;
    }
}

@media (max-width: 1023px) {
    .navigation--bottom .nav__links--mobile div.sub-nav span {
        border-bottom: 1px solid #d6d6d6;
    }
}

@media (max-width: 1023px) {
    .navigation--bottom .nav__links--mobile div.sub-nav span span {
        position: absolute;
        height: 30px;
        top: 2px;
        right: 30px;
        font-size: 18px;
        line-height: 50px;
    }
}

@media (max-width: 1023px) {
    .navigation--bottom .userGroup {
        position: relative;
        line-height: 50px;
        background-color: #fff;
        padding: 5px 12px 5px 5px;
        cursor: pointer;
        color: #4f4f4f;
        display: inline-block;
        width: 80%;
        height: 60px;
        text-align: left;
        font-size: 15px;
    }
}

@media (max-width: 1023px) {
    .navigation--bottom .userGroup span {
        border: none;
        color: #4f4f4f;
    }

    .navigation--bottom .userGroup span:hover {
        background-color: transparent !important;
    }
}

@media (max-width: 1023px) {
    .navigation--bottom .userGroup .myAcctUserIcon {
        font-size: 20px;
        position: relative;
        top: 4px;
    }
}

@media (max-width: 1023px) {
    .navigation--bottom .userGroup .userName {
        display: inline-block;
    }

    .navigation--bottom .userGroup .userName .fa {
        margin-right: 5px;
        position: relative;
        top: 3px;
    }
}

@media (max-width: 1023px) {
    .navigation--bottom .userGroup #signedInUserOptionsToggle {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 100%;
        padding: 0;
    }
}

@media (max-width: 1023px) {
    .navigation--bottom .glyphicon-chevron-up,
    .navigation--bottom .glyphicon-chevron-down {
        position: absolute;
        line-height: 60px;
        top: 0;
    }
}

@media (min-width: 767px) {
    .navigation--bottom .glyphicon-chevron-up,
    .navigation--bottom .glyphicon-chevron-down {
        left: 68vw;
    }

    main {
        -webkit-transition: transform 0.3s ease-out;
        -o-transition: transform 0.3s ease-out;
        transition: transform 0.3s ease-out;
    }
}

@media (min-width: 640px) and (max-width: 1023px) {
    main.offcanvas {
        position: relative;
        -webkit-transform: translate(380px, 0);
        -ms-transform: translate(380px, 0);
        -o-transform: translate(380px, 0);
        transform: translate(380px, 0);
    }
}

@media (max-width: 767px) {
    main.offcanvas {
        position: relative;
        -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
        -o-transform: translate(100%, 0);
        transform: translate(100%, 0);
    }
}

@media (max-width: 1023px) {
    .offcanvas .navigation--bottom {
        box-shadow: 0 0 0 20000vh rgba(0, 0, 0, 0.3);
        min-height: 100vh;
    }
}

@media (max-width: 767px) {
    .offcanvas .sticky-nav-top {
        left: 0;
        position: absolute;
        height: 60px;
        width: 100vw;
    }
}

@media (max-width: 1023px) {
    .sticky-nav-top {
        position: absolute;
        left: 0;
        top: -60px;
        width: 380px;
        height: 60px;
        background-color: #fff;
        padding: 0 15px;
        margin-bottom: 0;
        z-index: 1;
    }
}

@media (max-width: 767px) {
    .sticky-nav-top {
        position: absolute;
        top: -60px;
        height: 60px;
        left: -60px;
        z-index: 999;
        width: 100vw;
    }
}

.sticky-nav-top .liUserSign {
    background-color: #fff;
}

.sticky-nav-top .userSign {
    padding-left: 20px;
    font-family: 'VAG Rounded ELC Light' !important;
    font-weight: 400;
}

@media (max-width: 1023px) {
    .sticky-nav-top .userSign {
        font-family: 'VAG Rounded ELC Light' !important;
        font-weight: 400;
        text-align: left;
        width: 80%;
        display: inline-block;
        padding: 18px 0 0 10px;
        color: #4f4f4f;
        font-size: 15px;
        line-height: 19px;
    }

    .sticky-nav-top .userSign .fa {
        position: relative;
        top: 3px;
    }
}

.sticky-nav-top .userSign .fa {
    margin-right: 5px;
}

@media (max-width: 1023px) {
    html.offcanvas {
        overflow-x: hidden;
    }
}

.nav-order-tools {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

@media (min-width: 640px) {
    .nav-order-tools {
        border-left: 0;
        border-right: 1px solid #d6d6d6;
        padding: 0 15px;
    }
}

@media (min-width: 1024px) {
    .nav-order-tools {
        padding: 0 30px;
    }
}

@media (max-width: 767px) {
    .nav-order-tools {
        position: static;
    }
}

.nav-order-tools:before {
    position: relative;
    top: 23%;
    display: inline;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\e032';
    color: #0d943f;
    font-size: 30px;
}

@media (max-width: 767px) {
    .nav-order-tools:before {
        top: 3px;
    }
}

.quote__list {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 45px;
    text-align: right;
}

.quote__list span {
    font-size: 25px;
    background-color: transparent;
    padding: 0;
    border: 0;
    color: #ee0e19;
}

.quote__list span .glyphicon {
    top: 4px;
}

@media (min-width: 640px) {
    .quote__list {
        border-left: 0;
        padding: 0 15px;
    }
}

@media (min-width: 1024px) {
    .quote__list {
        padding: 0 30px;
    }
}

@media (max-width: 767px) {
    .quote__list {
        position: static;
    }
}

.js-nav-order-tools--active .nav-order-tools__child-wrap {
    display: block;
}

.js-nav-quote-list--active .quote__list--nav {
    display: block;
}

.quote__list--nav {
    text-align: left;
    position: absolute;
    border: 1px solid #d6d6d6;
    background-color: #fff;
    right: 40px;
    top: 26px;
    width: 260px;
    z-index: 10;
}

.quote__list--nav span {
    font-size: 14px;
    line-height: 1.42857143;
}

@media (max-width: 767px) {
    .quote__list--nav {
        width: 100vw;
        top: 103px;
    }
}

.quote__list--nav span {
    display: block;
    font-weight: 600;
    color: #4f4f4f;
    padding: 20px 30px;
}

.quote__list--nav span:hover {
    background-color: #0d943f;
}

.nav-order-tools__child-wrap {
    font-size: 14px;
    line-height: 1.42857143;
    text-align: left;
    position: absolute;
    border: 1px solid #d6d6d6;
    background-color: #fff;
    right: -1px;
    top: 60px;
    width: 260px;
    z-index: 10;
}

@media (max-width: 767px) {
    .nav-order-tools__child-wrap {
        width: 100vw;
        top: 103px;
    }
}

.nav-order-tools__child-wrap div {
    border-bottom: 1px solid #0d943f;
}

.nav-order-tools__child-wrap div:last-child {
    border-bottom: none;
}

.nav-order-tools__child-wrap span {
    display: block;
    font-weight: 600;
    color: #4f4f4f;
    padding: 20px 30px;
}

.nav-order-tools__child-wrap span:hover {
    background-color: #0d943f;
}

.navigation--middle .desktop__nav {
    padding: 20px 20px 0;
}

@media (max-width: 767px) {
    .navigation--middle .desktop__nav {
        padding: 20px 0 0 20px;
    }
}

.navigation--middle .desktop__nav.checkout__nav ul.nav__links {
    display: inline-block;
    margin-top: 25px;
}

@media (max-width: 1023px) {
    .collapse {
        display: none;
    }

    .collapse.in {
        display: block;
    }

    .navigation--middle .desktop__nav.checkout__nav ul.nav__links {
        margin-top: 20px;
    }

    .navigation--middle .desktop__nav.checkout__nav ul.nav__links li {
        width: auto;
    }
}

.countryflagIcon {
    width: 1.4vw;
    height: 1.4vw;
    margin-left: 10px;
}

.country-image-div {
    height: 20px;
    width: 30px;
}

html[dir='rtl'] .countryflagIcon {
    margin-left: 0;
    margin-right: 10px;
}

.dropIcon {
    font-size: 1vw;
}

.language-text {
    font-size: 0.9rem !important;
    padding-right: 20px;
    font-weight: 300 !important;
}

html[dir='rtl'] .language-text {
    padding-right: 0;
    padding-left: 20px;
}

.greenColor {
    color: #0d943f;
}

.flex {
    display: flex;
}

.justifyCenter {
    justify-content: center;
}

.alignItemCenter {
    align-items: center;
}

.height-100 {
    height: 100%;
}

.top-header-icon {
    width: 15px;
    height: 14px;
    margin-right: 12px;
}

.logoPadding {
    padding-left: 20px;
}

html[dir='rtl'] .logoPadding {
    padding-right: 20px;
    text-align: right;
}

html[dir='rtl'] .top-header-icon {
    margin-left: 14px;
}

html[dir='rtl'] .searchIcon {
    margin-left: 10px;
}

.top-header-iconM {
    height: 15px;
    margin-right: 14px;
}

html[dir='rtl'] .top-header-iconM {
    height: 15px;
    margin-left: 14px;
    margin-right: 1px;
}

.inline-block {
    display: inline-block !important;
    padding: 0 4px;
}

.p-8 {
    padding: 8px;
}

.active-text {
    font-weight: 700 !important;
}

.m-0 {
    margin: 0 !important;
    padding: 0 0 0 10px;
}

.second-header-icon {
    width: 30px;
    margin-right: 4px;
    height: 20px;
}

html[dir='rtl'] .second-header-icon {
    width: 30px;
    margin-left: 4px;
    height: 20px;
}

.second-header-basket-icon {
    width: 30px;
    margin-right: 4px;
    height: 25px;
}

html[dir='rtl'] .second-header-basket-icon {
    width: 30px;
    margin-left: 4px;
    height: 25px;
}

.second-header-iconM {
    width: 20px;
    margin-right: 4px;
    height: 20px;
}

html[dir='rtl'] .second-header-iconM {
    width: 20px;
    margin-left: 4px;
    height: 20px;
}

.basket-count {
    position: relative;
    top: 2px;
    color: #0d943f;
    font-weight: 900 !important;
}

.circle {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background-color: #fff;
}

.left-borde {
    border-left: 1px solid #fff;
}

html[dir='rtl'] .left-borde {
    border-right: 1px solid #fff;
    border-left: 0 solid #fff;
}

.left-bordeM {
    border-left: 1px solid #fff;
    height: 30px;
}

.color_white {
    color: #fff;
}

.textStyle {
    padding: 15px 0;
    font-size: 0.8vw !important;
    font-weight: 700 !important;
    border-left: 0;
    letter-spacing: 0.12px !important;
    line-height: 1.5 !important;
}

.borderRightSpan {
    width: 1px;
    height: 19px;
    background-color: #ccc;
}

.textStyle1 span {
    position: relative;
    top: 2px;
}

.textStyleM {
    padding: 8px;
    font-size: 12px !important;
    font-weight: 700 !important;
    border-left: 0;
    border-left: 1px solid #ccc;
    line-height: 1rem !important;
}

.second-text-style {
    font-size: 1.2vw !important;
    font-weight: 300 !important;
    letter-spacing: 0.14px !important;
}

.h-container {
    min-height: 95px;
    background-color: #0d943f;
}

.searchInputBox {
    background-color: #fff;
    border-radius: 5px;
}

.searchInputBox .MuiOutlinedInput-input {
    padding: 13.5px 14px;
}

.searchInputBox .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: transparent !important;
}

.searchInputBox .MuiOutlinedInput-notchedOutline {
    border-color: transparent !important;
}

.country-image {
    width: 30px;
}

.webNavigation {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
}

.webNavigation .MenuItems ul .sameBGColor:hover {
    background-color: #f0f0f0;
}

.webNavigation .MenuItems {
    width: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

html[dir='rtl'] .webNavigation .MenuItems ul {
    text-align: right;
}

.webNavigation .MenuItems ul li a {
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 700;
    padding: 0 !important;
    color: #0d943f !important;
    font-family: 'VAG Rounded ELC Light' !important;
}
.webNavigation .MenuItems ul li a.shop-all-brands {
    color: #4f4f4f !important;
}

.mobile_menu {
    width: 100vw;
}

html[dir='rtl'] .webNavigation .MenuItems ul li a {
    color: #4f4f4f;
    padding: 20px 5px;
    font-size: 1rem;
    font-weight: 700;
    font-family: 'VAG Rounded ELC Bold' !important;
}

.webNavigation .MenuItems .dropdown a img {
    padding: 0 3px 0 4px;
    position: relative;
    top: -1px;
    transition: 0.4s;
    width: 19px;
}

.webNavigation .MenuItems .dropdown:hover > .dropdown-menu {
    display: block;
    box-shadow: 0 2000vh 0 2000vh rgba(0, 0, 0, 0.75);
}

.webNavigation .MenuItems .dropdown .dropdown-menu {
    width: 100%;
    top: 96%;
    border: none;
    border-radius: 0;
    padding: 15px 20px;
    text-align: center;
}

.webNavigation .MenuItems .dropdown:hover > a img {
    transform: rotate(180deg);
}

.webNavigation .MenuItems ul li {
    position: static;
}

.webNavigation .MenuItems ul li:hover {
    background: #fff;
}

.webNavigation .MenuItems .dropdown-toggle::after {
    display: none;
}

.webNavigation .MenuItems .dropdown .dropdown-menu ul li a {
    font-size: 0.875rem;
    line-height: 1.1875rem;
    font-weight: 700;
    text-transform: none;
    text-decoration: none;
    color: #0d943f;
    padding: 0;
    font-family: 'VAG Rounded ELC Light' !important;
}

html[dir='rtl'] .webNavigation .MenuItems .dropdown .dropdown-menu ul li {
    position: static;
    margin-right: 0;
}

.mobile_menu_container {
    height: 100px;
    padding: 20px 10px 20px 20px;
    background-color: #0c943f;
    position: sticky;
    top: 0;
    z-index: 2;
}

.mobile_menu .menuMobileBox {
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.07);
    background-color: #fff;
    z-index: 1;
}

.mobile_menu .noBottomBorder {
    border-bottom: 0 solid !important;
}

.mobile_menu .mobileCountryAndOtherContainer {
    background-color: #fcfcfc;
    padding: 20px 0;
}

.mobile_menu .child_menu_option {
    padding: 0 30px 10px;
}

html[dir='rtl'] .mobile_menu .child_menu_option {
    text-align: right;
}

.mobile_menu .secondText {
    letter-spacing: 0.56px !important;
    color: #fff;
    font-weight: 300 !important;
    font-size: 6vw;
    padding: 0 16px;
}

.menu_collapsible_container {
    display: flex;
    justify-content: space-between;
    padding: 16px 30px;
    border-bottom: 1px solid #d6d6d6;
}

.menu_collapsible_containerN {
    display: flex;
    justify-content: space-between;
    padding: 16px 30px;
}

.submenu_text {
    color: #4f4f4f !important;
    font-weight: 500;
    line-height: 1.2;
}

.Collapsible_menu_text {
    color: #4f4f4f !important;
    font-size: 1rem !important;
    font-weight: 700 !important;
    font-family: 'VAG Rounded ELC Light' !important;
}

.Collapsible_menu_text a {
    color: #4f4f4f !important;
    font-size: 1rem !important;
    font-weight: 700 !important;
    font-family: 'VAG Rounded ELC Bold' !important;
}

.dropIconCss {
    color: #0d943f;
}

.underline-text {
    text-decoration: underline;
}

@media (max-width: 668px) {
    .h-container {
        min-height: 60px;
    }

    .mobileSize {
        width: 100%;
    }

    .circle {
        width: 20px;
        height: 20px;
        border-radius: 10px;
    }

    .basket-count {
        font-size: 10px !important;
    }

    .language-text {
        font-size: 0.8rem !important;
    }

    .country-image {
        width: 15px;
    }

    .countryName {
        font-size: 0.8rem !important;
    }

    .dropIcon {
        font-size: 1.8rem !important;
    }

    .countryflagIcon {
        width: 6.4vw;
        height: 6.4vw;
        margin-left: 10px;
    }

    .bottomBorderM {
        border-bottom: 1px solid #d6d6d6;
        padding-top: 10px;
    }

    .MobileTopHederText {
        padding: 15px 0;
        display: flex;
        align-items: center;
    }

    .MobileTopHederText img {
        width: 7vw;
        height: 7vw;
    }

    .MobileTopHederText span {
        font-size: 4vw !important;
        position: relative;
        padding: 0 8px;
        color: #0d943f;
        top: 2px;
        font-weight: 700;
        font-family: 'VAG Rounded ELC Light' !important;
    }

    .logout img {
        width: 1rem;
        height: 1rem;
    }

    .logout span {
        position: relative;
        top: 1px;
    }
}

@media (min-width: 768px) {
    .mobile_menu .secondText {
        font-size: 1rem;
    }

    .countryflagIcon {
        width: 4.4vw;
        height: 3.4vw;
    }

    .language-text {
        font-size: 1rem !important;
    }

    .MobileTopHederText {
        margin: 2rem 0 0.5rem;
    }

    .MobileTopHederText img {
        width: 2.5rem;
        height: 2.5rem;
    }

    .bottomBorderM {
        border-bottom: 1px solid #d6d6d6;
        padding-top: 10px;
    }

    .MobileTopHederText span {
        font-size: 1.3rem !important;
        position: relative;
        padding: 10px 8px;
        color: #0d943f;
        top: 2px;
        font-weight: 700;
        font-family: 'VAG Rounded ELC Light' !important;
    }
}

@media (min-width: 960px) {
    html[dir='rtl'] .list-inline-item:not(:last-child) {
        margin-right: 0.1rem;
    }

    .countryflagIcon {
        width: 1.4vw;
        height: 1.4vw;
        margin-left: 10px;
    }
}

@media (min-width: 1266px) {
    .webNavigation .MenuItems ul li a {
        font-size: 1rem;
        padding: 20px 10px;
        font-family: 'VAG Rounded ELC Light' !important;
    }

    html[dir='rtl'] .webNavigation .MenuItems ul li a {
        font-size: 1rem;
        padding: 20px 10px;
        font-family: 'VAG Rounded ELC Light' !important;
    }

    html[dir='rtl'] .list-inline-item:not(:last-child) {
        margin-right: 0.3rem;
    }
}

@media (min-width: 1350px) {
    .webNavigation .MenuItems ul li a {
        font-size: 1rem;
        padding: 20px 10px;
        font-family: 'VAG Rounded ELC Light' !important;
    }

    html[dir='rtl'] .webNavigation .MenuItems ul li a {
        font-size: 1rem;
        padding: 20px 10px;
        font-family: 'VAG Rounded ELC Light' !important;
    }

    html[dir='rtl'] .list-inline-item:not(:last-child) {
        margin-right: 0.4rem;
    }
}
