.search-list-container {
    position: absolute;
    top: 50px;
    left: 0px;
    right: 0px;
    z-index: 10000;
    width: 100%;
    max-height: 400px;
    overflow: auto;
    box-shadow: 0px 10px 16px 0 rgba(0, 0, 0, 0.22) !important;
    overflow-x: hidden;
}
.search-list-container a:hover {
    text-decoration: none;
}

.search-list-container::-webkit-scrollbar {
    width: 4px;
}

.search-list-container::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #eaeaea;
}
.search-list-container .product-grid {
    padding-inline-end: 5px;
}
.search-list-container a {
    color: #212529;
}
.search-list-container .category-grid a p {
    padding: 8px 2px;
    border-top: none;
    margin-inline: 2px;
    margin-block-start: 2px;
    font-weight: 600;
}
html[dir='rtl'] .search-list-container .category-grid a p {
    text-align: right;
}
.search-list-container .search-section-title {
    font-size: 0.85rem;
    color: #c2c2c2;
    border-bottom: 1px solid #c2c2c2;
    margin-block: 6px;
}
html[dir='rtl'] .search-list-container .search-section-title {
    text-align: right;
}

.search-list-container .suggest-box a p {
    padding: 2px;
    border-top: none;
    margin-inline: 2px 12px;
    margin-block-start: 2px;
    font-weight: normal;
}
html[dir='rtl'] .search-list-container .suggest-box a p {
    text-align: right;
}
.search-list-container .linear-progress {
    width: 100%;
    position: sticky;
    bottom: 0;
    left: 0;
}
.search-list-container .linear-progress.MuiLinearProgress-colorPrimary {
    background-color: rgb(12 148 63 / 35%);
}
.search-list-container .linear-progress .MuiLinearProgress-barColorPrimary {
    background-color: #0c943f;
}
.search-list-product-container {
    padding: 8px 0px;
    margin: 2px 5px;
    border-bottom: 1px solid #eded;
    cursor: pointer;
    width: 100%;
}
.search-list-product-container[data-last='true'] {
    border-bottom: none;
}

.search-list-img {
    width: 50%;
}

.search-list-product-name span {
    font-weight: bold !important;
    color: #212529;
    padding-bottom: 8px;
    font-family: 'VAG Rounded ELC Bold' !important;
    font-size: 1rem !important;
}

html[dir='rtl'] .search-list-product-name {
    text-align: right;
}

.search-list-product-price span {
    font-weight: bold !important;
    color: #0d943f;
    font-size: 0.8rem !important;
    font-family: 'VAG Rounded ELC Bold' !important;
}

html[dir='rtl'] .search-list-product-price {
    text-align: right;
}

.no-search-product-available-text {
    text-align: center !important;
    font-size: 1.1rem !important;
    font-weight: bold !important;
    font-family: 'VAG Rounded ELC Bold' !important;
    padding: 10px 0px;
}

.close-icon-search {
    text-align: end !important;
    cursor: pointer;
    position: sticky;
    top: 0;
}

.searchInputBoxM {
    box-shadow: 0px 10px 16px 0 rgba(0, 0, 0, 0.22);
}

@media (max-width: 668px) {
    .search-list-container {
        top: 72px;
        width: 98%;
        margin-left: 1% !important;
    }
    .search-list-container::-webkit-scrollbar {
        width: 4px;
    }
}
