.basicInfo .productName {
    /* margin-bottom: 10px; */
    margin-top: 8px;
    font-size: 2rem;
    color: #212529 !important;
    font-weight: 300;
    line-height: 1.43;
    letter-spacing: 0.56px;
}
.basicInfo .product-label {
    font-family: 'VAG Rounded ELC Bold' !important;
    background: #aa272f;
    /* box-shadow: 2px 2px 4px 0px #0000005c; */
    color: #fff;
    padding: 1px 5px;
    border-radius: 2px;
}
.basicInfo .descriptionText {
    color: #4f4f4f;
    line-height: 1.46;
    letter-spacing: 0.26px;
    font-weight: 300;
    font-size: 0.9rem;
    text-align: initial;
}

.basicInfo .descriptionText span {
    color: #0d943f;
    cursor: pointer;
}
.basicInfo .shop-all-brand-name.MuiTypography-root {
    margin-bottom: 10px;
}
.basicInfo .shop-all-brand-name a {
    color: #0d943f !important;
    font-weight: 600;
}
@media (max-width: 668px) {
    .basicInfo .productName {
        font-size: 1.8rem;
    }

    .basicInfo .descriptionText {
        font-size: 0.8rem;
    }
}
