.click-here {
    color: #000;
    font-size: 1rem !important;
    text-decoration: underline;
    cursor: pointer;
    font-family: 'VAG Rounded ELC bold' !important;
}

.my-order-details-container .my-order-details-back-button {
    color: #0c943f;
    font-weight: bold !important;
    font-size: 1rem !important;
    font-family: 'VAG Rounded ELC Bold' !important;
    text-transform: capitalize;
}

.my-order-details-container .my-order-details-back-button svg {
    position: relative;
    top: -2px;
}

.my-order-details-container .order-id-order-details {
    color: #0c943f;
    letter-spacing: 0.36px !important;
    font-weight: bold !important;
    font-size: 1.1rem !important;
    font-family: 'VAG Rounded ELC Bold' !important;
}

.my-order-details-container .green-line {
    height: 1px;
    background-color: #0c943f;
    width: 100%;
    margin: 10px 0px 30px;
}

.my-order-details-container .gray-line {
    height: 2px;
    background-color: #f3f0f0;
    width: 100%;
    margin: 10px 0px 30px;
}

.my-order-details-container .order-status {
    color: #000000;
    letter-spacing: 0.18px !important;
    font-weight: bold !important;
    font-size: 1.2rem !important;
    font-family: 'VAG Rounded ELC Bold' !important;
}

.my-order-details-container .order-status-value {
    font-weight: bold !important;
    letter-spacing: 0.26px !important;
    font-size: 0.9rem !important;
    padding-top: 20px;
    text-transform: uppercase !important;
}

.my-order-details-container .order-date-and-time {
    color: #4f4f4f;
    font-weight: 300 !important;
    letter-spacing: 0.26px !important;
    font-size: 0.9rem !important;
}

.my-order-details-container .padd-top-30 {
    margin-top: 30px;
}
.cancel-order-details-container .padd-top-30 {
    margin-top: 30px;
}
.my-order-details-container .order-detail-title {
    color: #000000;
    letter-spacing: 0.18px !important;
    font-weight: bold !important;
    font-size: 1.2rem !important;
    font-family: 'VAG Rounded ELC Bold' !important;
    padding-bottom: 19px !important;
}
.cancel-order-details-container .order-detail-title {
    color: #000000;
    letter-spacing: 0.18px !important;
    font-weight: bold !important;
    font-size: 1.2rem !important;
    font-family: 'VAG Rounded ELC Bold' !important;
    padding-bottom: 19px !important;
}
.my-order-details-container .payment-method {
    letter-spacing: 0.26px !important;
    font-weight: bold !important;
    color: #0c943f;
    font-family: 'VAG Rounded ELC Bold' !important;
    font-size: 0.9rem !important;
}

.my-order-details-container .address-name {
    letter-spacing: 0.26px !important;
    font-weight: bold !important;
    padding-bottom: 5px;
    color: #0c943f;
    font-family: 'VAG Rounded ELC Bold' !important;
    font-size: 0.9rem !important;
}

.my-order-details-container .address-lines {
    letter-spacing: 0.26px !important;
    font-weight: 300 !important;
    color: #4f4f4f;
    font-size: 0.9rem !important;
}
.cancel-order-details-container .address-lines {
    letter-spacing: 0.26px !important;
    font-weight: 300 !important;
    color: #4f4f4f;
    font-size: 0.9rem !important;
}
.my-order-details-container .padd-bottom-30 {
    padding-bottom: 25px;
}
.cancel-order-details-container .padd-bottom-30 {
    padding-bottom: 25px;
}
.my-order-details-container .web-order-detail-image {
    width: 90%;
}

.my-order-details-container .order-details-product-name {
    color: #0d943f;
    letter-spacing: 0.16px !important;
    font-weight: bold !important;
    font-size: 1.1rem !important;
    font-family: 'VAG Rounded ELC Bold' !important;
    padding-bottom: 13px;
}
.my-order-details-container .order-details-header-name {
    color: #212529;
    letter-spacing: 0.16px !important;
    font-weight: bold !important;
    font-size: 1.1rem !important;
    font-family: 'VAG Rounded ELC Bold' !important;
    padding-bottom: 13px;
}
.my-order-details-container .order-item-header-name {
    color: #212529;
    /* letter-spacing: 0.16px !important; */
    font-weight: bold !important;
    font-size: 0.9rem !important;
    font-family: 'VAG Rounded ELC Bold' !important;
}

html[dir='rtl'] .my-order-details-container .order-item-header-name {
    text-align: right;
}

.my-order-details-container .order-details-product-specification {
    color: #212529;
    letter-spacing: 0.11px !important;
    font-weight: 300 !important;
    font-size: 0.9rem !important;
}
.my-order-details-container .not-returnable-msg {
    color: #ee0e19;
}

.color-4f4f4f {
    color: #4f4f4f !important;
}

.my-order-details-container .cart-showing-price {
    letter-spacing: 0.16px !important;
    font-weight: 300 !important;
    font-size: 1.1rem !important;
    color: #4f4f4f;
}

.my-order-details-container .cart-showing-price-strik {
    letter-spacing: 0.16px !important;
    font-weight: 300 !important;
    font-size: 1.1rem !important;
    color: #b3b3b3;
    text-decoration: line-through;
}

.my-order-details-container .qty {
    letter-spacing: 0.16px !important;
    font-weight: 300 !important;
    font-size: 1.1rem !important;
    color: #4f4f4f;
    text-align: center;
}

.my-order-details-container .cartSubTotal {
    color: #0c943f;
    font-weight: 300 !important;
    font-size: 1.1rem !important;
    text-align: center;
}

.my-order-details-container .order-details-status {
    font-weight: bold !important;
    font-size: 1.1rem !important;
    font-family: 'VAG Rounded ELC Bold' !important;
    text-align: center;
    text-transform: uppercase !important;
}
.my-order-details-container .order-details-mobileView-status {
    font-weight: bold !important;
    font-size: 1.1rem !important;
    font-family: 'VAG Rounded Std Regular', 'Arial', 'Helvetica', sans-serif !important;
    text-align: center;
    text-transform: capitalize !important;
}
.my-order-details-container .web-order-item-header-name {
    color: #4f4f4f;
    letter-spacing: 0.28px !important;
    font-weight: 300 !important;
    font-size: 1rem !important;
}
.my-order-details-container .boxShadow {
    /* margin: 10px 5px 10px 5px; */
    box-shadow: 0px 6px 6px 0px rgb(0 0 0 / 8%);
}
.my-order-details-container .order-summary-charges {
    box-shadow: 0px 3px 6px 2px rgb(0 0 0 / 8%);
    border-radius: 4px;
    margin-bottom: 20px;
}
.cancel-order-details-container .order-summary-charges {
    box-shadow: 0px 3px 6px 2px rgb(0 0 0 / 8%);
    border-radius: 4px;
    margin-bottom: 20px;
}
.my-order-details-container .order-list-grid {
    padding: 0px 15px 0px 15px;
    width: 98%;
    margin: auto;
}
.my-order-details-container .order-item-grid {
    /* padding: 0px 40px 0px 0px; */
}
.my-order-details-container .header-of-item {
    background-color: #f0fcf5;
    margin-bottom: 20px;
}
.my-order-details-container .header-flex {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
}
.my-order-details-container .item-order-details-line {
    padding: 15px;
    width: 98%;
    margin: auto;
    /* border-bottom: 2px solid #0c943f; */
    border-top: 2px solid #0c943f;
    /* margin-top: 10px; */
}

.my-order-details-container .textAlignLeft {
    text-align: left;
}

.my-order-details-container .p-t-b-10-20 {
    padding: 0px 10px 20px 10px;
}

.my-order-details-container .textAlignRight {
    text-align: right;
    right: 0;
}

.my-order-details-container .p-t-20 {
    bottom: 8px;
}

.my-order-details-container .position-relative {
    position: relative;
}

.my-order-details-container .padd-bottom-20 {
    padding-bottom: 30px;
    padding-top: 30px;
}

.my-order-details-container .order-items-title {
    color: #000000;
    letter-spacing: 0.22px !important;
    font-weight: bold !important;
    font-size: 1.3rem !important;
    font-family: 'VAG Rounded ELC Bold' !important;
}

.my-order-details-container .cartpayment-label {
    color: #4f4f4f;
    letter-spacing: 0.24px !important;
    line-height: 2.33 !important;
    font-weight: 300 !important;
    font-size: 0.9rem !important;
}
.cancel-order-details-container .cartpayment-label {
    color: #4f4f4f;
    letter-spacing: 0.24px !important;
    line-height: 2.33 !important;
    font-weight: 300 !important;
    font-size: 0.9rem !important;
}
.cancel-order-details-container .FamilyClub-label {
    color: #f8891a;
    letter-spacing: 0.24px !important;
    line-height: 2.33 !important;
    font-weight: 300 !important;
    font-size: 0.9rem !important;
}
.my-order-details-container .FamilyClub-myOrder-label {
    color: #f8891a;
    letter-spacing: 0.24px !important;
    line-height: 2.33 !important;
    font-weight: 300 !important;
    font-size: 0.9rem !important;
}

.my-order-details-container .FamilyClub-myOrder-value {
    color: #f8891a;
    letter-spacing: 0.24px !important;
    line-height: 2.33 !important;
    font-weight: 300 !important;
    font-size: 0.9rem !important;
}

.cancel-order-details-container .FamilyClub-value {
    color: #f8891a;
    letter-spacing: 0.24px !important;
    line-height: 2.33 !important;
    font-weight: 300 !important;
    font-size: 0.9rem !important;
}
.my-order-details-container .border-line {
    height: 1px;
    background-color: #d6d6d6;
    margin: 26px 0px 10px;
}
.cancel-order-details-container .border-line {
    height: 1px;
    background-color: #d6d6d6;
    margin: 26px 0px 10px;
}
.my-order-details-container .padd-t {
    margin: 10px 0px 10px;
}
.cancel-order-details-container .padd-t {
    margin: 10px 0px 10px;
}

.my-order-details-container .cartpayment-value {
    color: #212529;
    letter-spacing: 0.24px !important;
    line-height: 2.33 !important;
    font-weight: 300 !important;
    font-size: 0.9rem !important;
}
.cancel-order-details-container .cartpayment-value {
    color: #212529;
    letter-spacing: 0.24px !important;
    line-height: 2.33 !important;
    font-weight: 300 !important;
    font-size: 0.9rem !important;
}
.my-order-details-container .cartpayment-total-label {
    color: #212529;
    letter-spacing: 0.32px !important;
    line-height: 1.75 !important;
    font-weight: bold !important;
    font-size: 1.1rem !important;
    font-family: 'VAG Rounded ELC Bold' !important;
}
.cancel-order-details-container .cartpayment-total-label {
    color: #212529;
    letter-spacing: 0.32px !important;
    line-height: 1.75 !important;
    font-weight: bold !important;
    font-size: 1.1rem !important;
    font-family: 'VAG Rounded Std Regular', 'Arial', 'Helvetica', sans-serif !important;
}
.my-order-details-container .cartpayment-total-value {
    color: #0c943f;
    line-height: 1.56 !important;
    font-weight: bold !important;
    font-size: 1.2rem !important;
    font-family: 'VAG Rounded ELC Bold' !important;
}
.cancel-order-details-container .cartpayment-total-value {
    color: #0c943f;
    line-height: 1.56 !important;
    font-weight: bold !important;
    font-size: 1.2rem !important;
    font-family: 'VAG Rounded Std Regular', 'Arial', 'Helvetica', sans-serif !important;
}
html[dir='rtl'] .my-order-details-container .textAlignRight {
    text-align: left;
}

.my-order-details-container .returnExchange-button {
    border-radius: 4px;
    border: solid 1px #0c943f;
    background-color: #ffffff;
    padding: 0.7rem 4rem;
    margin-top: 20px;
    color: #0c943f;
    letter-spacing: 0.15px !important;
    line-height: 1.87 !important;
    font-weight: 300 !important;
    text-transform: capitalize;
    font-size: 1rem !important;
}

.my-order-details-container .returnExchange-button:hover {
    background-color: #ffffff;
}

.my-order-details-container .cancel-id-container {
    background-color: #fff0f1;
    padding: 8px 20px;
    margin-top: 8px;
}

.my-order-details-container .cancle-id-text {
    color: #ee0e19;
    letter-spacing: 0.14px !important;
    font-weight: 300 !important;
    font-size: 1rem !important;
}

.my-order-details-container .cancle-id-text .cancelId {
    font-weight: bold !important;
}

.return-pop-text {
    color: #0c943f;
    font-size: 1.1rem !important;
}

.return-pop-action-ok-button {
    color: #ffffff !important;
    background-color: #ee0e19 !important;
    font-family: 'VAG Rounded ELC Bold' !important;
    font-weight: bold !important;
}

.my-order-details-container .return-color-status {
    color: #212529;
    letter-spacing: 0.14px !important;
    font-size: 0.9rem !important;
    position: relative;
    top: 2px;
}

@media (max-width: 668px) {
    .my-order-details-container .my-order-details-back-button svg {
        top: 0px;
    }

    .my-order-details-container .order-status-value {
        font-size: 1.1rem !important;
    }

    .my-order-details-container .order-date-and-time {
        font-size: 1.1rem !important;
    }

    html[dir='rtl'] .my-order-details-container .cart-showing-price {
        padding-bottom: 13px;
    }

    .my-order-details-container .returnExchange-button {
        width: 100%;
    }

    .my-order-details-container .height-100 {
        height: 100%;
    }
    .my-order-details-container .padding-10 {
        padding: 10px;
    }
    .my-order-details-container .padd-bottom-13 {
        padding-bottom: 13px;
    }

    .my-order-details-container .textAlignRight {
        text-align: right;
    }

    .my-order-details-container .textAlignRightBold {
        text-align: right;
        font-weight: bold;
    }

    .my-order-details-container .qty {
        text-align: left;
    }

    .my-order-details-container .header-flex {
        padding: 0px;
    }
    .my-order-details-container .header-flex div {
        padding: 10px;
        width: 50%;
    }
}
