.ageAndShare .ageContainer {
    background-color: #e1f4e8;
    padding: 4px 20px !important;
    border-radius: 25px !important;
    color: #0d943f;
    height: 35px;
}

.ageAndShare .ageContainer span {
    position: relative;
    top: 3px;
    line-height: 1.33;
    letter-spacing: 0.12px;
    font-weight: 300;
    font-size: 0.9rem;
}

.ageAndShare .greenColor {
    color: #0d943f;
}

.shareIcon {
    padding: 10px 20px 10px;
    width: 80px;
}

.shareLine {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
    box-sizing: border-box;
}

.shareOptions p {
    color: #0d943f;
}

.shareOptions a:hover {
    text-decoration: none !important;
}
