.my-wishlist-container .webItemImage {
    width: 7rem;
    height: 7rem;
    cursor: pointer;
}

.my-wishlist-container .mobileItemImage {
    width: 4rem;
    height: 4rem;
}

.my-wishlist-container .wishlist-item-name {
    color: #212529;
    letter-spacing: 0.16px !important;
    font-weight: bold !important;
    font-family: 'VAG Rounded ELC Bold' !important;
    padding-bottom: 10px;
}

.my-wishlist-container .OutOfStock {
    opacity: 0.3;
}

.my-wishlist-container .wishlist-item-details {
    color: #212529;
    letter-spacing: 0.11px !important;
    font-weight: 300 !important;
    font-size: 0.9rem !important;
}

.my-wishlist-container .wishlist-item-details-value {
    color: #4f4f4f;
    letter-spacing: 0.11px !important;
    font-weight: 300 !important;
    font-size: 0.9rem !important;
}

.my-wishlist-container .wish-list-p-t-b {
    padding: 30px 0px;
}

.my-wishlist-container .cart-showing-price .now-price {
    color: #0c943f;
    font-weight: bold !important;
    font-size: 1.2rem !important;
    font-family: 'VAG Rounded ELC Bold' !important;
}

.my-wishlist-container .cart-showing-price .old-price {
    font-weight: 300 !important;
    color: #b3b3b3 !important;
    font-size: 1.2rem !important;
    text-decoration: line-through;
}

.my-wishlist-container .text-right-1 {
    text-align: right;
}

html[dir='rtl'] .my-wishlist-container .text-right-1 {
    text-align: left !important;
}

.my-wishlist-container .availableFor-text {
    color: #0c943f;
    line-height: 1.85 !important;
    letter-spacing: 0.13px !important;
    font-weight: bold !important;
    font-size: 0.9rem !important;
}

.my-wishlist-container .CartAvailableFor {
    padding-top: 30px;
}

.my-wishlist-container .CartAvailableFor .MuiListItemText-primary {
    color: #0c943f;
    line-height: 1.85 !important;
    letter-spacing: 0.13px !important;
    font-weight: 300 !important;
    font-size: 0.9rem !important;
}

.my-wishlist-container .CartAvailableFor .MuiSvgIcon-root-Free {
    min-width: 25px;
}

.my-wishlist-container .CartAvailableFor .MuiSvgIcon-root-Free {
    min-width: 25px;
}

.my-wishlist-container .CartAvailableFor .p-t-b {
    padding-top: 0px;
    padding-bottom: 0px;
}

.my-wishlist-container .CartAvailableFor .line {
    height: 1rem;
    background: #b5b5b5;
}

.my-wishlist-container .CartAvailableFor .MuiListItemIcon-root {
    min-width: 35px;
}

.my-wishlist-container .CartAvailableFor .padding-right-zero {
    padding-right: 0px;
}

html[dir='rtl'] .my-wishlist-container .CartAvailableFor .padding-right-zero {
    padding-right: 16px;
    padding-left: 0px;
}

.my-wishlist-container .remove-wishlist-button {
    background-color: #ffffff;
    color: #ee0e19;
    letter-spacing: 0.11px !important;
    font-weight: 300 !important;
    font-size: 0.8rem !important;
    text-transform: capitalize;
    margin-top: 20px;
}
.my-wishlist-container .add-to-basket {
    color: #0d943f;
}
.my-wishlist-container .add-to-basket .minWidthAuto {
    min-width: auto;
    margin: 0px 0px 0px 15px;
}

.my-wishlist-container .lineVertical {
    height: 75%;
    width: 2px;
    background-color: #efefef;
}
.my-wishlist-container .add-to-basket .minWidthAuto > img {
    height: 18px;
}

.my-wishlist-container .remove-wishlist-button:hover {
    background-color: #ffffff;
}

.my-wishlist-container .remove-wishlist-button svg {
    position: relative;
    top: -1px;
    font-size: 0.9rem;
}

.my-wishlist-container .line-container {
    padding: 13px 0px;
    border-bottom: 1px solid #d7d7d7;
    border-top: 1px solid #d7d7d7;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.my-wishlist-container .WebItemTitle-text {
    color: #4f4f4f;
    letter-spacing: 0.28px !important;
    font-weight: 300 !important;
}

.my-wishlist-container .item-count-primary {
    color: #000000;
    letter-spacing: 0.18px !important;
    font-weight: bold !important;
    font-size: 1.2rem !important;
    font-family: 'VAG Rounded ELC Bold' !important;
    padding-bottom: 10px;
}

.my-wishlist-container .item-count {
    color: #4f4f4f;
    letter-spacing: 0.14px !important;
    font-weight: 300 !important;
    font-size: 0.8rem !important;
    padding-bottom: 10px;
}

.my-wishlist-container .no-data-available {
    color: #9e9d9d;
    font-weight: bold !important;
    font-size: 1.3rem !important;
    font-family: 'VAG Rounded ELC Bold' !important;
    margin-top: 10px;
}

.my-wishlist-container .sold-out-wishlist {
    padding-top: 10px;
    color: #ee0e19;
    letter-spacing: 0.14px !important;
    font-weight: bold !important;
    font-size: 1rem !important;
    font-family: 'VAG Rounded ELC Bold' !important;
    opacity: 0.3;
}

html[dir='rtl'] .my-wishlist-container .padding-right {
    padding-right: 20px;
}

html[dir='rtl'] .my-wishlist-container .remove-wishlist-button svg {
    margin-left: 16px;
    margin-right: 0px;
}

html[dir='rtl'] .my-wishlist-container .remove-wishlist-button .MuiButton-startIcon {
    margin-right: 0px;
}

html[dir='rtl'] .my-wishlist-container .arabic-left {
    text-align: left;
}

@media (max-width: 668px) {
    .my-wishlist-container .wishlist-item-name {
        font-size: 0.9rem !important;
    }

    .my-wishlist-container .wishlist-item-details {
        font-size: 0.8rem !important;
    }

    .my-wishlist-container .wishlist-item-details-value {
        font-size: 0.8rem !important;
    }

    .my-wishlist-container .CartAvailableFor {
        padding-top: 15px;
    }

    .my-wishlist-container .availableFor-text {
        font-size: 0.8rem !important;
    }

    .my-wishlist-container .CartAvailableFor .MuiListItemText-primary {
        font-size: 0.7rem !important;
    }

    .my-wishlist-container .CartAvailableFor .MuiSvgIcon-root-Free {
        min-width: 20px;
    }

    .my-wishlist-container .CartAvailableFor .MuiListItem-gutters {
        padding-left: 8px;
        padding-right: 8px;
    }

    .my-wishlist-container .cart-showing-price .old-price {
        font-size: 1rem !important;
    }

    .my-wishlist-container .cart-showing-price .now-price {
        font-size: 1rem !important;
    }
}
@media (max-width: 960px) {
    .my-wishlist-container .remove-wishlist-button {
        margin-top: 0px;
    }
    .my-wishlist-container .line-container {
        margin-top: 20px;
        text-align: center;
    }
}
