.section-t-b-p {
    padding: 16px;
}

.slick-dots {
    position: absolute;
    bottom: 25px !important;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li button:before {
    font-family: 'slick';
    line-height: 23px !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '\2022';
    text-align: center;
    opacity: 1 !important;
    color: transparent !important;
    -webkit-font-smoothing: antialiased;
    font-size: 15px !important;
    border: solid 1px #0d943f;
    border-radius: 50%;
}

.slick-next {
    right: 15px !important;
    z-index: 1;
}

.slick-prev {
    left: 15px !important;
    z-index: 1;
}

.banner-image-hight {
    height: auto;
    width: 100%;
    /* max-height: 300px; */
    background: #aaaaaa12;
}

.banner-image-hight img {
    /* max-height: 300px; */
    width: 100%;
}

.slick-dots li.slick-active button:before {
    opacity: 0.75;
    height: 100%;
    width: 100%;
    background: #0d943f !important;
    border: none !important;
    content: '';
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    color: #0d943f !important;
}

.webBanner .slick-next {
    width: 32px;
    height: 32px;
    background-image: url('/images/header/chevron_right.svg') !important;
    background-size: cover;
}
.webBanner .slick-prev {
    width: 32px;
    height: 32px;
    background-image: url('/images/header/chevron_left.svg') !important;
    background-size: cover;
}

.webBanner .slick-next:hover {
    width: 32px;
    height: 32px;
    background-image: url('/images/header/chevron_right.svg') !important;
    background-size: cover;
}
.webBanner .slick-prev:hover {
    width: 32px;
    height: 32px;
    background-image: url('/images/header/chevron_left.svg') !important;
    background-size: cover;
}

.webBanner .slick-next:before {
    display: none !important;
}

.webBanner .slick-prev:before {
    display: none !important;
}

.cardDetailText {
    font-size: 1.4rem;
    color: rgb(255, 255, 255);
    margin-top: 0%;
    margin-bottom: 0%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: white;
    line-height: 1.2;
    padding: 20px 50px;
    font-weight: bold !important;
    font-family: 'VAG Rounded ELC Bold' !important;
}

.cardImage {
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
    width: 100%;
    height: 70%;
}

.card-2-p {
    padding: 0 20px;
}

.cardSe0 a {
    text-decoration: none !important;
}

.cardSe1 a {
    text-decoration: none !important;
}

.cardDetail {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 120px;
    background: #1ea44d;
    font-weight: bold;
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

.card {
    border-radius: 4px !important;
    margin: 20px 0px;
    border: 0px solid gray !important;
    box-shadow: none !important;
}

.bestsellers {
    background: #fff;
    align-items: center;
}

.bestsellers .line {
    width: 42%;
    border-bottom: 1px solid #d6d6d6;
}

.bestsellers label {
    color: #4f4f4f;
    font-family: 'VAG Rounded ELC Light';
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 0px;
    text-align: center;
    letter-spacing: 0.4px !important;
}

.section-t-b-m-bestseller {
    margin-top: 50px;
    margin-bottom: 20px;
}

.section-t-b-m {
    margin-top: 20px;
    margin-bottom: 20px;
}

.bestsellerslider .slick-next {
    right: -70px !important;
}

.bestsellerslider .slick-prev {
    left: -80px !important;
}

.slick-next:before {
    content: url('/images/header/chevron_right.svg') !important;
    font-size: 80px !important;
    line-height: 0 !important;
}

.slick-prev:before {
    content: url('/images/header/chevron_left.svg') !important;
    font-size: 80px !important;
    line-height: 0 !important;
}

html[dir='rtl'] .slick-next {
    left: auto !important;
}

.cardSe0 {
    box-shadow: none !important;
}

.cardSe1 {
    box-shadow: none !important;
}

@media (max-width: 1420px) {
    .cardImage {
        width: 100%;
    }

    .cardDetail {
        height: 165px;
    }

    .cardDetailText {
        font-size: 1.4rem;
        font-family: 'VAG Rounded ELC Bold' !important;
        padding: 20px 15px;
    }

    .cardSe0 {
        margin-right: 9px;
        margin-bottom: 18px;
        box-shadow: none !important;
    }

    .cardSe1 {
        /*margin-left: 8px;*/
        margin-bottom: 18px;
        box-shadow: none !important;
    }
}

@media (max-width: 668px) {
    .slick-dots li {
        position: relative;
        display: inline-block;
        width: 12px !important;
        height: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
    }
    .slick-dots li button:before {
        font-family: 'slick';
        line-height: 14px !important;
        position: absolute;
        top: 0;
        left: 0;
        width: 13px !important;
        height: 13px !important;
        content: '\2022';
        text-align: center;
        opacity: 1 !important;
        color: transparent !important;
        -webkit-font-smoothing: antialiased;
        font-size: 15px !important;
        border: solid 1px #0d943f;
        border-radius: 50%;
    }
    .slick-dots li.slick-active button:before {
        opacity: 0.75;
        height: 100%;
        width: 100%;
        background: #0d943f !important;
        border: none !important;
        content: '';
    }
    .cardImage {
        width: 100%;
        height: 50%;
    }

    .cardDetail {
        height: 120px;
    }

    .cardDetailText {
        font-size: 4.5vw;
        font-family: 'VAG Rounded ELC Bold' !important;
        padding: 10px 15px;
    }

    .bestsellers .line {
        width: 25%;
    }

    .bestsellerslider .slick-next {
        display: none !important;
    }

    .card-2-p {
        padding: 0;
    }

    .bestsellerslider .slick-prev {
        display: none !important;
    }

    .cardSe0 {
        margin-right: 9px;
        margin-bottom: 18px;
        box-shadow: none !important;
    }

    .cardSe1 {
        /*margin-left: 8px;*/
        margin-bottom: 18px;
        box-shadow: none !important;
    }

    .bestsellerslider .slick-list {
        margin: 0 -5px;
    }
    .bestsellerslider .slick-slide > div {
        padding: 0 5px;
    }

    .section-t-b-m-bestseller {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
