.section3 {
    width: 100%;
    position: relative;
    margin-bottom: 10px;
}
.section3 .image-wrapper {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}
.section-title > label {
    color: #4f4f4f;
    font-family: 'VAG Rounded ELC Light';
    font-size: 22px !important;
    font-weight: 300;
    width: 45%;
    margin-bottom: 0px;
    text-align: center;
    letter-spacing: 0.4px !important;
}
.section-title > .line {
    width: 42%;
    border-bottom: 1px solid #d6d6d6;
}
.section3 img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.section3-title {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    text-align: center;
    background: #ffffff7d;
    padding: 5px 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.section3-title p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
}

.image-large {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.section3-block1 {
    padding-right: 30px;
    padding-left: 30px;
}

.section3-block2 {
    padding-right: 30px;
    padding-left: 30px;
}

.mini-banners {
    margin: 1rem auto;
    width: 85%;
}

@media (max-width: 668px) {
    .section-title {
        width: 70%;
    }
    .section3-title {
        padding: 5px;
    }
    .section3-title > p {
        font-size: 0.85rem;
    }

    .section3-block1 {
        padding-right: 10px;
        padding-left: 10px;
    }

    .section3-block2 {
        padding-right: 0px;
        padding-left: 0px;
    }
    .mini-banners {
        width: 100%;
    }
}
