/* dropdown css */
.myAccoutDropDown {
    position: absolute;
    padding: 5px 20px;
    min-width: 190px;
    top: 53px;
    z-index: 3;
    box-shadow: 0px 10px 16px 0 rgba(0, 0, 0, 0.22);
    background-color: #ffffff;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 3px;
}

.myAccoutDropDown p {
    margin-bottom: 0px;
}

.myAccoutDropDown:after {
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-right-width: 10px;
    border-left-width: 10px;
    border-bottom: 10px solid white;
    position: absolute;
    content: '';
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.myAccoutDropDown .subText {
    color: #4f4f4f;
    line-height: 3.46;
    letter-spacing: 0.26px;
    font-size: 0.9rem;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    border-bottom: 1px solid #eded;
}

.myAccoutDropDown .userName {
    font-weight: bold;
    font-size: 1rem;
    padding: 10px 0px;
    line-height: 2.4;
    letter-spacing: 0.3px;
    color: #212529;
    font-family: 'VAG Rounded ELC Bold' !important;
}
.myAccoutDropDown .userLogout {
    color: #0c943f;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 3.21;
    letter-spacing: 0.28px;
    font-family: 'VAG Rounded ELC Bold' !important;
    font-size: 1rem;
}
.myAccoutDropDown .grayColor {
    color: #4f4f4f;
    font-weight: 300;
    font-size: 0.875rem;
    padding: 10px 0px;
    border-bottom: 1px solid #e2e2e2;
}
.myAccoutDropDown .logOutIcon {
    margin-right: 10px;
    width: 1.2rem;
}
html[dir='rtl'] .myAccoutDropDown {
    text-align: right;
}
html[dir='rtl'] .myAccoutDropDown .logOutIcon {
    margin-left: 10px;
    margin-right: 0px;
}

/* dropdown css */
