.header-second-section {
    height: 82px;
    background-color: #0c943f;
    padding: 0px 20px;
}

.header-second-section .searchInputBox {
    width: 100%;
}

.header-second-section .secondText {
    color: #ffffff;
    font-weight: 300 !important;
    letter-spacing: 0.14px !important;
    font-size: 1vw !important;
    margin: 0px 20px 0px 10px;
    position: relative;
    top: 2px;
}

html[dir='rtl'] .header-second-section .secondText {
    margin: 0px 10px 0px 20px;
}

.header-second-section .circle {
    width: 26px;
    height: 26px;
    border-radius: 13px;
    background: #ffffff;
    margin: 10px;
}

.header-second-section .line {
    width: 1px;
    height: 40px;
    margin: 0px 20px 0px 0px;
    background-color: #90c0a2;
}

html[dir='rtl'] .header-second-section .line {
    margin: 0px 0px 0px 20px;
}

.flex {
    display: flex;
}

.justifyCenter {
    justify-content: center;
}

.alignItemsCenter {
    align-items: center;
}

.header-second-section .searchInputBoxM {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.header-second-section .searchInputBoxM input {
    width: 70%;
}

.header-second-section .searchInputBoxM .MuiOutlinedInput-input {
    padding: 10.5px 14px;
}

.header-second-section .searchInputBoxM .MuiOutlinedInput-adornedEnd {
    padding-right: 0px !important;
}

.header-second-section .searchInputBoxM .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: transparent !important;
}

.header-second-section .searchInputBoxM .MuiOutlinedInput-notchedOutline {
    border-color: transparent !important;
}
.position-relative {
    position: relative;
}

@media (max-width: 958px) {
    header {
        position: sticky;
        top: 0px;
        z-index: 1000;
    }

    .header-second-section {
        height: 70px;
        padding: 0px 0px;
    }
}
