.CartItem {
    position: relative;
    padding: 30px 0px;
    border-bottom: 1px solid #d7d7d7;
}
.CartItem .close-button {
    position: absolute;
    right: 0;
    top: 5px;
    background: #c4c4c4;
    border-radius: 50%;
    padding: 3px;
    cursor: pointer;
    transition: 300ms;
}
.CartItem .close-button:hover {
    transform: scale(0.95);
    padding: 2px;
}
html[dir='rtl'] .CartItem .close-button {
    left: 0;
    right: initial;
}

.CartItemM {
    padding: 30px 5px 8px;
    margin-bottom: 10px;
}

.CartItem .cartItemImage {
    width: 9rem;
    height: 9rem;
}

.OutOfStock {
    opacity: 0.5;
    position: relative;
}

.CartItem .SoldOut-text {
    color: #ee0e19;
    letter-spacing: 0.14px !important;
    font-weight: bold !important;
    font-size: 1rem !important;
    /* padding-top: 2rem !important; */
}

.CartItemM .SoldOut-text {
    color: #ee0e19;
    letter-spacing: 0.14px !important;
    font-weight: bold !important;
    font-size: 1rem !important;
    padding-top: 0.5rem !important;
}

.OutOfStock > p {
    opacity: 1;
}

.CartItemM .cartItemImageM {
    width: 7rem;
    height: 7rem;
}

.CartItem .cartItemName {
    color: #212529;
    line-height: 1.38 !important;
    padding-bottom: 12px !important;
    letter-spacing: 0.16px !important;
    font-weight: bold !important;
    font-size: 1.2rem !important;
    font-family: 'VAG Rounded ELC Bold' !important;
}

.CartItemM .cartItemName {
    color: #212529;
    line-height: 1.38 !important;
    padding-bottom: 12px !important;
    letter-spacing: 0.16px !important;
    font-weight: bold !important;
    font-size: 1.1rem !important;
    font-family: 'VAG Rounded ELC Bold' !important;
}

.CartItem .cart-showing-price {
    color: #4f4f4f !important;
    letter-spacing: 0.16px !important;
    font-weight: 300 !important;
    font-size: 1.1rem !important;
}

.CartItem .cart-showing-price-strik {
    color: #b3b3b3 !important;
    letter-spacing: 0.16px !important;
    font-weight: 300 !important;
    font-size: 1.1rem !important;
    text-decoration: line-through;
}

.CartItem .CartonlyInStockMessage {
    text-align: center;
}

.CartItem .CartonlyInStockMessage span {
    font-family: 'VAG Rounded ELC Bold';
    font-weight: bold;
    font-size: 0.9rem;
    margin-top: 0;
    letter-spacing: 0.26px;
    color: #ee0e19;
}

.CartItemM .CartonlyInStockMessage span {
    font-family: 'VAG Rounded ELC Bold';
    font-weight: bold;
    font-size: 0.9rem;
    margin-top: 0;
    letter-spacing: 0.26px;
    color: #ee0e19;
}

.CartItemM .cart-showing-price {
    color: #0c943f !important;
    letter-spacing: 0.26px !important;
    font-weight: bold !important;
    font-size: 1.2rem !important;
    line-height: 1.5;
    font-family: 'VAG Rounded ELC Bold' !important;
}

html[dir='rtl'] .ar-right {
    text-align: right;
}

.CartItemM .fc-benefit-message {
    text-align: start;
}

.CartItemM .cart-showing-price-strik {
    color: #b3b3b3 !important;
    letter-spacing: 0.26px !important;
    font-weight: 300 !important;
    font-size: 1.1rem !important;
    text-decoration: line-through;
}

html[dir='rtl'] .CartItem .cartItemName {
    text-align: right;
}

html[dir='rtl'] .CartItemM .cartItemName {
    text-align: right;
}

.CartItem .cartItemOtherDetailText {
    color: #212529;
    line-height: 1.45 !important;
    letter-spacing: 0.11px !important;
    font-weight: 300 !important;
    font-size: 0.8rem !important;
}

.CartItem .cartItemOtherDetailText span {
    color: #4f4f4f;
    line-height: 1.45 !important;
    letter-spacing: 0.11px !important;
    font-weight: 300 !important;
    font-size: 0.8rem !important;
}

.CartItemM .cartItemOtherDetailText {
    color: #212529;
    line-height: 1.45 !important;
    letter-spacing: 0.11px !important;
    font-weight: 300 !important;
    font-size: 0.8rem !important;
}

.CartItemM .cartItemOtherDetailText span {
    color: #4f4f4f;
    line-height: 1.45 !important;
    letter-spacing: 0.11px !important;
    font-weight: 300 !important;
    font-size: 0.8rem !important;
}

html[dir='rtl'] .CartItem .cartItemOtherDetailText {
    text-align: right;
}

html[dir='rtl'] .CartItemM .cartItemOtherDetailText {
    text-align: right;
}

.CartItem .cartItemWishlist {
    color: #0c943f;
    line-height: 2.18 !important;
    letter-spacing: 0.11px !important;
    font-weight: 300 !important;
    font-size: 0.8rem !important;
    padding-top: 22px !important;
    cursor: pointer;
}
.CartItem .spin-progress {
    color: #0c943f;
}

.CartItem .cartItemWishlist svg {
    margin-right: 9px;
    font-size: 1rem;
    position: relative;
    top: -1px;
}

html[dir='rtl'] .CartItem .cartItemWishlist svg {
    margin-right: 0px;
    margin-left: 9px;
}

.CartItem .addAndRemove {
    font-family: 'VAG Rounded ELC Bold';
    box-shadow: none;
    border-radius: 5px;
    border: solid 1px #d7d7d7;
}

.CartItemM .addAndRemove {
    margin-top: 5px;
    font-family: 'VAG Rounded ELC Bold';
    box-shadow: none;
    border-radius: 5px;
    border: solid 1px #d7d7d7;
}

.CartItem .addAndRemove button {
    font-family: 'VAG Rounded ELC Bold';
    background-color: transparent;
    padding: 10px 10px;
    box-shadow: none;
}

.CartItemM .addAndRemove button {
    font-family: 'VAG Rounded ELC Bold';
    background-color: transparent;
    box-shadow: none;
    min-width: 30px;
    padding: 6px 12px;
}

.CartItem .addAndRemove .input {
    text-align: center;
    color: #212529;
    font-weight: bold;
    font-size: 1rem;
}

.CartItemM .addAndRemove .input {
    text-align: center;
    color: #212529;
    font-weight: bold;
    font-size: 0.9rem;
}

html[dir='rtl'] .CartItem .addAndRemove .input {
    border-left: 1px solid #d7d7d7;
}

html[dir='rtl'] .CartItem .addAndRemove .remove-border-ar {
    border-right: 0px;
}

html[dir='rtl'] .CartItemM .addAndRemove .input {
    border-left: 1px solid #d7d7d7;
}

html[dir='rtl'] .CartItemM .addAndRemove .remove-border-ar {
    border-right: 0px;
}

.CartItem .addAndRemove svg {
    color: #0d943f;
}

.CartItem .addAndRemove .Mui-disabled svg {
    color: rgba(0, 0, 0, 0.26);
}

.CartItemM .addAndRemove svg {
    color: #0d943f;
    font-size: 0.9rem;
}

.CartItemM .addAndRemove .Mui-disabled svg {
    color: rgba(0, 0, 0, 0.26);
}

.CartItem .cartSubTotal {
    font-size: 1.1rem !important;
    font-weight: bold !important;
    font-stretch: normal !important;
    font-style: normal !important;
    letter-spacing: normal !important;
    text-align: center;
    color: #0c943f;
    font-family: 'VAG Rounded ELC Bold' !important;
}

html[dir='rtl'] .CartItem .cartSubTotal {
    text-align: center;
}

.CartItem .cartSubTotal svg {
    color: #575757;
    font-size: 0.8rem;
    margin-left: 20px;
    cursor: pointer;
}

html[dir='rtl'] .CartItem .cartSubTotal svg {
    margin-left: 0px;
    margin-right: 20px;
}

.CartItem .CartAvailableFor {
    padding-top: 20px;
}
.CartItem .CartAvailableFor .fc-benefit-tag {
    color: #f8891a;
    letter-spacing: 0.24px;
    font-weight: 300;
    font-size: 0.9rem;
    margin-bottom: 0.25rem;
}
.CartItem .CartAvailableFor .availableFor-text {
    color: #0c943f;
    line-height: 1.85 !important;
    letter-spacing: 0.13px !important;
    font-weight: bold !important;
    font-size: 0.9rem !important;
}
.CartItem .CartAvailableFor .family-club-text {
    color: #f8891a;
    line-height: 1.85 !important;
    letter-spacing: 0.13px !important;
    font-weight: bold !important;
    font-size: 0.9rem !important;
}
.CartItemM .family-club-mob-text {
    color: #f8891a !important;
    line-height: 1.85 !important;
    letter-spacing: 0.13px !important;
    font-weight: bold !important;
    font-size: 0.9rem !important;
}
.CartItemM .CartAvailableFor .fc-benefit-tag {
    color: #f8891a;
    letter-spacing: 0.24px;
    font-weight: 300;
    font-size: 0.9rem;
}
.CartItemM .CartAvailableFor .availableFor-text {
    color: #0c943f;
    line-height: 1.3 !important;
    letter-spacing: 0.13px !important;
    font-weight: 300 !important;
    font-size: 0.7rem !important;
    font-weight: bold !important;
    font-family: 'VAG Rounded ELC Bold' !important;
    padding-top: 10px;
}

.CartItem .CartAvailableFor .MuiListItemText-primary {
    color: #0c943f;
    line-height: 1.85 !important;
    letter-spacing: 0.13px !important;
    font-weight: 300 !important;
    font-size: 0.9rem !important;
}

.CartItemM .CartAvailableFor .MuiListItemText-primary {
    color: #0c943f;
    line-height: 1.85 !important;
    letter-spacing: 0.13px !important;
    font-weight: 300 !important;
    font-size: 0.7rem !important;
}

.CartItem .CartAvailableFor .MuiSvgIcon-root-Free {
    min-width: 25px;
}

.CartItem .CartAvailableFor .p-t-b {
    padding-top: 0px;
    padding-bottom: 0px;
}

.CartItemM .CartAvailableFor .p-t-b {
    padding-top: 0px;
    padding-bottom: 0px;
}

.CartItem .CartAvailableFor .line {
    height: 1rem;
    background: #b5b5b5;
}

.CartItemM .CartAvailableFor .line {
    height: 1rem;
    background: #b5b5b5;
}

.CartItem .CartAvailableFor .MuiListItemIcon-root {
    min-width: 35px;
}

.CartItem .CartAvailableFor .padding-right-zero {
    padding-right: 0px;
}

.CartItemM .CartAvailableFor .padding-right-zero {
    padding-right: 0px;
}

html[dir='rtl'] .CartItem .CartAvailableFor .padding-right-zero {
    padding-right: 16px;
    padding-left: 0px;
}

html[dir='rtl'] .CartItemM .CartAvailableFor .padding-right-zero {
    padding-right: 16px;
    padding-left: 0px;
}

.CartItemM .CartAvailableFor .p-l-zero {
    padding-left: 0px;
}

html[dir='rtl'] .CartItemM .CartAvailableFor .p-l-zero {
    padding-right: 0px;
    padding-left: 16px;
}

.displayFlexAlignEnd {
    align-items: flex-end;
    display: flex;
}

.CartItemM .removeAndWishListContainer {
    border-bottom: 2px solid #efefef;
    border-top: 2px solid #efefef;
    padding: 15px 0px;
    margin: 10px 0px 0px;
}
.CartItemM .emptyContainer {
    border-bottom: 2px solid #efefef;
}

.CartItemM .removeItem {
    color: #4f4f4f;
    line-height: 1.4 !important;
    letter-spacing: 0.4px !important;
    font-weight: 300 !important;
    font-size: 1rem !important;
}

.CartItemM .removeItem svg {
    font-size: 1.1rem !important;
    position: relative;
    top: -1px;
    margin-right: 6px;
}

.CartItemM .WishListM {
    color: #0c943f;
    line-height: 1.4 !important;
    letter-spacing: 0.4px !important;
    font-weight: 300 !important;
    font-size: 1rem !important;
}
.CartItemM .spin-progress {
    color: #0c943f;
}

.CartItemM .WishListM svg {
    font-size: 1.1rem !important;
    position: relative;
    top: -1px;
    margin-right: 6px;
}

.CartItemM .lineVertical {
    height: 18px;
    width: 2px;
    background-color: #efefef;
}

html[dir='rtl'] .CartItemM .WishListM svg {
    margin-left: 6px;
    margin-right: 0px;
}

html[dir='rtl'] .CartItemM .removeItem svg {
    margin-left: 6px;
    margin-right: 0px;
}

.strick-out .MuiListItemText-root {
    text-decoration: line-through;
}

.strick-out .MuiListItemText-root .MuiListItemText-primary {
    color: gray;
}
