.socialAndDirect-container {
    background-color: #f0fcf5;
    padding: 15px 10px;
}

.socialAndDirect-title span {
    text-transform: uppercase !important;
    font-size: 1rem !important;
    font-weight: bold !important;
    font-family: 'VAG Rounded ELC Bold' !important;
    color: #0c943f;
}

html[dir='rtl'] .socialAndDirect-title {
    text-align: right;
}

.socialAndDirect-list {
    padding: 10px 0px 0px;
}

html[dir='rtl'] .socialAndDirect-list {
    text-align: right;
}

html[dir='rtl'] .socialAndDirect-list-sharging {
    text-align: right;
}

.socialAndDirect-list svg {
    font-size: 2rem;
    color: #0c943f;
    margin: 10px;
}

.socialAndDirect-list a {
    color: #4f4f4f !important;
    text-decoration: none !important;
}

.social-timing {
    color: #4f4f4f !important;
    font-size: 0.8rem !important;
    font-family: 'VAG Rounded ELC Light' !important;
}
.social-timing::before {
    content: '*';
    margin: 1px;
    color: red;
}

html[dir='rtl'] .social-timing {
    text-align: right;
}
