.sortByC .MuiOutlinedInput-root {
    border-radius: 20px;
    background-color: #ffffff;
}

.sortByC .MuiSelect-outlined.MuiSelect-outlined {
    padding: 15px 70px 15px 18px;
}

.sortByC .boldText {
    color: #4f4f4f;
    font-weight: 300;
    font-family: 'VAG Rounded ELC Light' !important;
    position: relative;
    top: 1px;
}

.sortByC .MuiSelect-select:focus {
    background-color: #ffffff;
}

.mobileSortByFilter {
    padding: 0px 20px !important;
}

.mobileSortByFilter .MuiRadio-colorSecondary.Mui-checked {
    color: #0c943f !important;
}

.mobileSortByFilter .sortbyActiveText {
    color: #0c943f;
    letter-spacing: 0.48px;
    line-height: 1.42;
    font-weight: bold;
    font-size: 1.1rem;
    font-family: 'VAG Rounded ELC Bold' !important;
}

.mobileSortByFilter .sortbyNormalText {
    letter-spacing: 0.48px;
    line-height: 1.42;
    color: #000000;
    font-size: 1.1rem;
    font-weight: 300;
}

@media (max-width: 668px) {
    html[dir='rtl'] .mobileSortByFilter {
        padding: 0px !important;
    }
}
