.Cart .title-cart span {
    color: #0c943f;
    line-height: 2.86;
    font-weight: bold;
    font-size: 1.8rem;
    font-family: 'VAG Rounded ELC Bold' !important;
}
.Cart .family-club-info-text {
    color: #f8891a;
    /* line-height: 2.86; */
    font-weight: bold;
    font-size: 0.8rem;
    font-family: 'VAG Rounded ELC Bold' !important;
}
.Cart .cart-fc-banner img {
    width: 100%;
}
.Cart .cart-fc-banner .continue-shopping-button {
    max-width: 50%;
    padding: 0px 5px;
    margin: 1rem 0px !important;
}

.Cart .title-empty span {
    color: #4f4f4f;
    line-height: 2.86;
    font-weight: bold;
    font-size: 1.8rem;
    font-family: 'VAG Rounded ELC Bold' !important;
}

.Cart .WebItemTitle-text {
    color: #4f4f4f;
    letter-spacing: 0.28px !important;
    font-weight: 300 !important;
}

.Cart .cart-table-container {
    padding: 13px 0px;
    border-bottom: 1px solid #d7d7d7;
    border-top: 1px solid #d7d7d7;
}

@media (max-width: 668px) {
    .Cart .title-cart {
        text-align: left !important;
    }

    html[dir='rtl'] .Cart .title-cart {
        text-align: right !important;
    }
    .Cart .cart-fc-banner .continue-shopping-button {
        max-width: 80%;
        font-size: 1rem;
    }
}
