.login-fab-icon-container {
    background-color: #ffffff !important;
    box-shadow: 0px 4px 6px 0 rgba(0, 0, 0, 0.1) !important;
    border: solid 1px #ebefed !important;
}

.login-fab-icon-container-text {
    color: #4f4f4f;
    line-height: 1.5 !important;
    font-weight: 300 !important;
    font-size: 0.9vw !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    width: 60%;
}

.login-icon-m-t-b {
    margin: 10px 0px !important;
}

@media (max-width: 1420px) {
    .login-fab-icon-container-text {
        font-size: 14px !important;
        width: 80%;
    }
}

@media (max-width: 668px) {
    .login-fab-icon-container-text {
        font-size: 3vw !important;
        width: 80%;
    }

    .login-fab-icon-container {
        width: 35px !important;
        height: 35px !important;
        min-height: 30px !important;
    }

    .login-fab-icon-container img {
        width: 15px !important;
    }
}
