.slider-title .title {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    align-items: center;
    color: #4f4f4f;
    font-family: 'VAG Rounded ELC Light';
    font-size: 18px !important;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 0.4px !important;
}
.slider-title {
    margin-top: 20px;
}
.intrest-card {
    position: relative;
    cursor: pointer;
}
.intrest-card-img {
    border-radius: 15px;
}
.intrest-card-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0px;
    text-align: center;
    border-radius: 0 0 15px 15px;
    background-color: rgba(221, 221, 221, 0.85);
    text-transform: capitalize;
}
.slider .slick-track {
    width: max-content !important;
}
.slider .slick-next {
    right: -60px !important;
}

.slider .slick-prev {
    left: -60px !important;
}
@media (max-width: 958px) {
    .slider .slick-next {
        right: 20px !important;
    }

    .slider .slick-prev {
        left: 20px !important;
    }
}

@media (max-width: 668px) {
    .slider-title {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .slider-title .title {
        flex-direction: column;
    }
    .intrest-card {
        height: 100%;
        width: 100%;
    }
    .slider-title .title label {
        width: 100%;
    }
    .slider-title .shop-all-button.MuiButton-root {
        display: block;
    }

    .slider .slick-next {
        display: none !important;
    }

    .slider .slick-prev {
        display: none !important;
    }

    .slider .slick-slide > div {
        padding: 0 5px;
    }
    .slider-show-all {
        bottom: 70px;
    }
}
