@media only screen and (max-width: 767px) {
    .main-container {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .main-container {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}
.padding-brand {
    padding-bottom: 2% !important;
    display: inline-block !important;
}
.brands-alpha-show-ul {
    display: block;
}

.list-alpha-show-2 {
    margin: 0px;
    width: 100% !important;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #0d943f !important;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 0px 0px 10px !important;
    border-radius: 15px 15px 0 0;
    border-bottom: 2px solid #d6d6d6;
}

.list-alpha {
    cursor: pointer;
    text-transform: capitalize;
    color: #4f4f4f;
    font-weight: 800;
    float: left;
    font-size: 20px;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 10px 20px 0px 0px;
    width: 60px;
    /* text-align: initial; */
}
html[dir='rtl'] .list-alpha {
    cursor: pointer;
    text-transform: capitalize;
    color: #4f4f4f;
    display: block;
    float: right;
    letter-spacing: 1px;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 0;
    width: 51px;
}
.brands-alpha-ul {
    margin-left: 0px;
    overflow: hidden;
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}
.Link-Menu,
.Link-Menu:hover {
    color: #4f4f4f;
    text-decoration: none;
}

/* #lindex ul{
    -moz-column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    column-count: 4;
    column-gap: 20px;
   }  */

.list-break {
    -moz-column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    column-count: 4;
    column-gap: 20px;
    margin-bottom: 10px;
}
.list-break-alpha {
    -moz-column-count: 5;
    -moz-column-gap: 20px;
    -webkit-column-count: 5;
    -webkit-column-gap: 20px;
    column-count: 5;
    column-gap: 20px;
    margin-bottom: 10px;
}
.brands-alpha {
    margin-top: 20px;
    width: 100%;
    background: #ffffff;
    /* border: 1px solid #d6d6d6; */
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 20px;
}

html[dir='rtl'] .pad-r {
    padding-right: 0px !important;
}
.main-container {
    margin-top: 5% !important;
}
.header-browser-all-brands {
    letter-spacing: 1px;
    font-size: 30px !important;
    text-align: center !important;
    font-weight: 800 !important;
    color: #0d943f !important;
}
.pad-t {
    padding-top: 30px;
}

html[dir='rtl'] .mt-t-30 {
    margin-top: 30px;
}
.mt-t-30 {
    margin-top: 30px;
}

.list-alpha-show-2 {
    margin: 0px;
    width: 100% !important;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #0d943f !important;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 0px 0px 10px !important;
    border-radius: 15px 15px 0 0;
    border-bottom: 1px solid #d6d6d6;
    margin-bottom: 20px;
}
@media only screen and (max-width: 767px) {
    .list-break {
        -moz-column-count: 2;
        -moz-column-gap: 5px;
        -webkit-column-count: 2;
        -webkit-column-gap: 5px;
        column-count: 2;
        column-gap: 5px;
        letter-spacing: 1px;
        margin-bottom: 5px;
    }

    html[dir='rtl'] .list-break {
        -moz-column-count: 2;
        -moz-column-gap: 5px;
        -webkit-column-count: 2;
        -webkit-column-gap: 5px;
        column-count: 2;
        grid-column-gap: 5px;
        column-gap: 5px;
        letter-spacing: 1px;
        margin-bottom: 5px;
    }
    .list-alpha-show-2 {
        margin: 0px;
        width: 100% !important;
        text-transform: capitalize;
        letter-spacing: 1px;
        color: #0d943f !important;
        font-size: 20px;
        text-decoration: none;
        padding: 0px 0px 0px 10px !important;
        border-radius: 15px 15px 0 0;
        border-bottom: 2px solid #d6d6d6;
        margin-bottom: 20px;
    }
    .pad-t {
        padding-top: 10px;
    }

    html[dir='rtl'] .list-alpha-show-2 {
        margin: 0px;
        width: 100% !important;
        text-transform: capitalize;
        letter-spacing: 1px;
        color: #0d943f !important;
        font-size: 20px;
        text-decoration: none;
        padding: 10px 35px 0px 10px !important;
        border-radius: 15px 15px 0 0;
        border-bottom: 2px solid #d6d6d6;
        margin-bottom: 20px;
    }
    .brands-alpha-ul {
        margin-left: 0px;
        overflow: hidden;
        padding-left: 0;
        margin-bottom: 0;
        display: inline;
        align-items: stretch;
        letter-spacing: 1px;
        justify-content: space-between;
    }
    .header-browser-all-brands {
        text-align: center;
        font-size: 25px;
        color: #0d943f;
    }
}
.pad_inherit {
    padding-left: inherit;
}

html[dir='rtl'] .pad_inherit {
    padding-right: inherit;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .header-browser-all-brands {
        text-align: center;
        font-size: 25px;
        letter-spacing: 1px;
        color: #0d943f;
    }
    .list-break {
        -moz-column-count: 4;
        -moz-column-gap: 20px;
        -webkit-column-count: 4;
        -webkit-column-gap: 20px;
        column-count: 4;
        letter-spacing: 1px;
        column-gap: 20px;
        margin-bottom: 10px;
    }
    .brands-alpha-ul {
        margin-left: 0px;
        overflow: hidden;
        padding-left: 0;
        margin-bottom: 0;
        letter-spacing: 1px;
        display: inline-block;
        align-items: stretch;
        justify-content: space-between;
    }
}
