.country-pop-container .MuiDialog-paperWidthSm {
    max-width: 400px;
    width: 100%;
    min-height: 100px;
}

.reservation-pop .continue-shopping-button-reservation {
    background: #0c943f;
    color: #ffffff;
    border-radius: 4px;
    font-weight: bold !important;
    line-height: 2rem;
    padding: 8px 1rem;
    margin: 8px;
    font-family: 'VAG Rounded ELC Bold' !important;
}

.reservation-pop .pop-title {
    font-weight: bold !important;
    text-align: center;
    font-family: 'VAG Rounded ELC Bold' !important;
    font-size: 1.1rem !important;
}

.reservation-pop .continue-shopping-button-reservation:hover {
    background: #0c943f;
    color: #ffffff;
}

.reservation-pop .checkout-button {
    background-color: #ee0e19;
    color: #ffffff;
    border-radius: 4px;
    font-weight: bold !important;
    line-height: 2rem;
    padding: 8px 1rem;
    margin: 8px;
    font-family: 'VAG Rounded ELC Bold' !important;
}

.reservation-pop .checkout-button:hover {
    background-color: #ee0e19;
    color: #ffffff;
}
