.my-order-container .web-order-tab {
    background-color: #0c943f;
    border: solid 1px #0c943f;
    border-radius: 6px;
    color: #ffffff;
    letter-spacing: 0.18px !important;
    font-weight: bold !important;
    font-size: 1.1rem !important;
    text-transform: capitalize;
    margin: 0px 10px;
    padding: 10px 30px;
    line-height: 1.33 !important;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    font-family: 'VAG Rounded ELC Bold' !important;
}

.my-order-container .web-order-tab:hover {
    background-color: #0c943f;
    border: solid 1px #0c943f;
    color: #ffffff;
}

.my-order-container .web-order-tab-inActive {
    background-color: #ffffff;
    border: solid 1px #a7a7a7;
    border-radius: 6px;
    color: #9c9c9c;
    line-height: 1.33 !important;
    letter-spacing: 0.18px !important;
    font-weight: bold !important;
    font-size: 1.1rem !important;
    text-transform: capitalize;
    margin: 0px 10px;
    padding: 10px 30px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    font-family: 'VAG Rounded ELC Bold' !important;
}

.my-order-container .web-order-tab-inActive:hover {
    background-color: #ffffff;
    border: solid 1px #a7a7a7;
    color: #9c9c9c;
}

.my-order-container .green-line {
    height: 2px;
    width: 100%;
    background-color: #0c943f;
    position: relative;
    top: -2px;
}

.my-order-container .green-line-m {
    height: 3px;
    background-color: #0c943f;
    position: relative;
    top: 12px;
}

.my-order-container .mobile-order-tab {
    border-radius: 4px;
    background-color: #f0fcf5;
    padding: 15px 0px;
}

.my-order-container .active-mobile-tab {
    color: #0c943f;
    font-weight: bold !important;
    font-size: 1.2rem !important;
    font-family: 'VAG Rounded ELC Bold' !important;
}

.my-order-container .inActive-mobile-tab {
    color: #4f4f4f;
    font-weight: bold !important;
    font-size: 1.2rem !important;
    font-family: 'VAG Rounded ELC Bold' !important;
}

.my-order-container .order-list-header-container {
    padding-top: 30px;
}

.my-order-container .order-list-header-container .title {
    color: #4f4f4f;
    letter-spacing: 0.28px !important;
    font-weight: 300 !important;
    font-size: 1rem !important;
}

.my-order-container .order-list-header-container .border-line {
    height: 2px;
    background-color: #f3f0f0;
    width: 100%;
    margin: 10px 0px 23px;
}

.my-order-container .my-order-recent-order-Id {
    color: #212529;
    letter-spacing: 0.16px !important;
    font-weight: 300 !important;
    font-size: 0.9rem !important;
}

.my-order-container .my-order-recent-order-date {
    color: #4f4f4f;
    letter-spacing: 0.26px !important;
    font-weight: 300 !important;
    font-size: 0.8rem !important;
}

.my-order-container .my-order-recent-order-date .value {
    color: #212529;
}

.my-order-container .my-order-recent-order-status {
    font-weight: bold !important;
    letter-spacing: 0.14px !important;
    font-size: 1rem !important;
    font-family: 'VAG Rounded ELC Bold' !important;
    text-transform: uppercase !important;
}

.my-order-container .view-details-button {
    background-color: #ffffff;
    border: solid 1px #0c943f;
    border-radius: 4px;
    color: #0c943f;
    letter-spacing: 0.15px !important;
    font-weight: 300 !important;
    text-transform: capitalize !important;
    padding: 0.5rem 2rem;
    font-size: 1rem !important;
}

.my-order-container .view-details-button:hover {
    background-color: #ffffff;
}

.my-order-container .no-address-available {
    color: #9e9d9d;
    font-weight: bold !important;
    font-size: 1.3rem !important;
    font-family: 'VAG Rounded ELC Bold' !important;
    margin-top: 10px;
}

.my-order-container .padding-bottom {
    padding-bottom: 40px;
}

@media (max-width: 668px) {
    .my-order-container .view-details-button {
        padding: 0.5rem 0.5rem;
        font-size: 0.8rem !important;
    }

    .my-order-container .my-order-recent-order-status {
        font-size: 0.9rem !important;
    }

    .my-order-container .right-side {
        text-align: right;
    }
}
