.CartPaymentContainer {
    border-radius: 4px;
    box-shadow: 0px 11px 11px 0 rgba(0, 0, 0, 0.08);
    background-color: #f7f7f7;
    padding: 25px 30px;
}

.paymentPadding {
    /* padding: 0px 20px; */
}

.CartPaymentContainer .OrderSummaryText {
    color: #212529;
    letter-spacing: 0.32px !important;
    line-height: 3 !important;
    font-weight: bold !important;
    font-size: 1.1rem !important;
    font-family: 'VAG Rounded ELC Bold' !important;
}

.CartPaymentContainer .cartpayment-label {
    color: #4f4f4f;
    letter-spacing: 0.24px !important;
    line-height: 2.8 !important;
    font-weight: 300 !important;
    font-size: 0.9rem !important;
}
.CartPaymentContainer .cartFamilyClub-label {
    color: #f8891a;
    letter-spacing: 0.24px !important;
    line-height: 2.8 !important;
    font-weight: 300 !important;
    font-size: 0.9rem !important;
}
.CartPaymentContainer .cartFamilyClub-label.bold {
    font-family: 'VAG Rounded ELC Bold' !important;
}
.CartPaymentContainer .cartFamilyClub-value.bold {
    font-family: 'VAG Rounded ELC Bold' !important;
}
.CartPaymentContainer .cartFamilyClub-value {
    color: #f8891a;
    letter-spacing: 0.24px !important;
    line-height: 2.8 !important;
    font-weight: 300 !important;
    font-size: 0.9rem !important;
}
.CartPaymentContainer .cartpayment-value {
    color: #212529;
    letter-spacing: 0.24px !important;
    line-height: 2.8 !important;
    font-weight: 300 !important;
    font-size: 0.9rem !important;
}

.CartPaymentContainer .line {
    background-color: #d6d6d6;
    height: 1px;
    width: 100%;
    margin: 10px 0px;
}

.CartPaymentContainer .cartpayment-total-label {
    color: #212529;
    line-height: 1.75 !important;
    letter-spacing: 0.32px !important;
    font-weight: bold !important;
    font-size: 1.1rem !important;
    font-family: 'VAG Rounded ELC Bold' !important;
}

.CartPaymentContainer .cartpayment-total-value {
    color: #0c943f;
    line-height: 1.75 !important;
    letter-spacing: 0.32px !important;
    font-weight: bold !important;
    font-size: 1.1rem !important;
    font-family: 'VAG Rounded ELC Bold' !important;
}

.CartPaymentContainer .paymentCheckout {
    border-radius: 4px !important;
    background-color: #ee0e19;
    width: 100% !important;
    margin-top: 20px;
    height: 40px;
    transition: 300ms ease;
}
.CartPaymentContainer .paymentCheckout[data-loader='true'] {
    width: auto !important;
    min-width: auto;
    border-radius: 50% !important;
    padding: 4px;
}
.CartPaymentContainer .paymentCheckout[data-loader='true'] .MuiCircularProgress-root {
    color: #ffffff !important;
    height: 32px !important;
    width: 32px !important;
}

.CartPaymentContainer .Mui-disabled {
    background-color: #ee0e19;
    opacity: 0.5;
    transition: 300ms ease;
}

.CartPaymentContainer .paymentCheckout:hover {
    border-radius: 4px !important;
    background-color: #ee0e19;
}
.CartPaymentContainer .paymentCheckout span {
    color: #ffffff;
    line-height: 1.65;
    letter-spacing: 0.17px;
    font-weight: bold;
    font-size: 1rem;
    text-transform: capitalize;
}
.continue-shopping-button {
    margin-top: 3rem !important;
    border-radius: 4px !important;
    border: solid 1px #0c943f !important;
    background-color: #ffffff !important;
    text-transform: capitalize !important;
    width: 100%;
}
.join-fc-button {
    margin-top: 1.5rem !important;
    border-radius: 4px !important;
    border: solid 1px #f8891a !important;
    background-color: #f8891a !important;
    text-transform: capitalize !important;
    color: #ffffff;
    font-size: bold;
    width: 100%;
    text-transform: uppercase !important;
    font-family: 'VAG Rounded ELC Bold' !important;
}

.continue-shopping-button span {
    color: #0c943f;
    line-height: 1.5;
    letter-spacing: 0.26px;
    font-weight: 300;
    font-size: 1.2rem;
    padding: 4px 0px;
}

.right-icon {
    font-size: 1.8rem !important;
    margin-left: 1rem !important;
    margin-right: 0px !important;
}

.donateBox {
    margin-top: 20px;
}

.paymentCheckout-donateCheckbox {
    display: flex;
}

.paymentCheckout-donateCheckbox .MuiFormControlLabel-label {
    color: #212529;
    line-height: 1.75 !important;
    letter-spacing: 0.32px !important;
    font-weight: bold !important;
    font-size: 1.1rem !important;
    font-family: 'VAG Rounded ELC Bold' !important;
}

html[dir='rtl'] .paymentCheckout-donateCheckbox {
    text-align: right;
    transform: translateX(25px);
}

html[dir='rtl'] .paymentCheckout-donateText {
    text-align: right;
}

.paymentCheckout-donateText {
    color: #212529;
    letter-spacing: 0.24px !important;
    line-height: 1.7 !important;
    font-weight: 300 !important;
    font-size: 0.9rem !important;
}

@media (max-width: 668px) {
    .CartPaymentContainer {
        margin-top: 2rem !important;
    }
}
