.checkout-login .title {
    color: #0c943f;
    letter-spacing: 0.48px !important;
    line-height: 1.33 !important;
    font-weight: bold !important;
    font-size: 1.5rem !important;
}

.checkout-login .title span {
    font-family: 'VAG Rounded ELC Bold' !important;
}

html[dir='rtl'] .checkout-login .title {
    text-align: right;
}

.checkout-login .newCustomer {
    color: #212529;
    line-height: 2.33 !important;
    letter-spacing: 0.18px !important;
    font-weight: bold !important;
    padding-top: 8px;
}

.checkout-login .newCustomer span {
    font-family: 'VAG Rounded ELC Bold' !important;
}

html[dir='rtl'] .checkout-login .newCustomer {
    text-align: right;
}

.checkout-login .login-radio-button .MuiRadio-colorSecondary.Mui-checked svg {
    color: #0c943f;
}

.checkout-login .login-radio-button .active span {
    color: #212529;
    letter-spacing: 0.14px;
    font-weight: bold;
    font-family: 'VAG Rounded ELC Bold' !important;
}

.checkout-login .login-line-text {
    color: #212529;
    line-height: 1.64;
    letter-spacing: 0.11px;
    font-weight: 300;
    font-size: 0.7rem;
}

.checkout-login .border-l-r {
    border-right: 1px solid #d7d7d7 !important;
}

html[dir='rtl'] .checkout-login .border-l-r {
    border-right: 0px solid #d7d7d7 !important;
    border-left: 1px solid #d7d7d7 !important;
}

.checkout-login .login-signup-login-button {
    width: auto;
}

.checkout-login .login-radio-button .inactive span {
    color: #4f4f4f;
    letter-spacing: 0.14px;
    font-weight: 300;
}

html[dir='rtl'] .checkout-login .arabic-right {
    text-align: right;
}

.checkout-login .login-tab-container {
    border-radius: 4px;
    background-color: #f0fcf5;
    margin-top: 20px;
    height: 48px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.checkout-login .login-tab-container .active-text {
    color: #0c943f;
    letter-spacing: 0.48px !important;
    font-weight: bold !important;
    font-size: 0.8rem !important;
    text-align: center;
}

.checkout-login .login-tab-container .inactive-text {
    color: #4f4f4f;
    letter-spacing: 0.48px !important;
    font-weight: bold !important;
    font-size: 0.8rem !important;
    text-align: center;
}

.checkout-login .login-tab-container .active-line {
    height: 3px;
    background-color: #0c943f;
    position: relative;
    bottom: -14px;
}
