.Specifications {
    border: 1px solid #dedede;
    margin-top: 30px;
    border-radius: 4px;
    box-shadow: 0px 11px 11px 0 rgba(0, 0, 0, 0.04) !important;
}

.Specifications .NotOpenTitle {
    font-family: 'VAG Rounded ELC Bold' !important;
    font-size: 1.5rem !important;
    color: #4f4f4f;
    font-weight: bold !important;
    letter-spacing: normal !important;
}

.Specifications .specification-description {
    color: #4f4f4f;
}

.Specifications .coll-container {
    padding: 20px 30px;
}

.Specifications .bottomLine {
    border-bottom: 1px solid #dedede;
}

.Specifications .NoBorder {
    border-bottom: 0px solid #dedede !important;
}

.Specifications .OpenTitle {
    font-family: 'VAG Rounded ELC Bold' !important;
    font-size: 1.5rem !important;
    font-weight: bold !important;
    letter-spacing: normal !important;
    color: #0c943f;
}

.Specifications .Icon {
    color: #0d943f;
}

.Specifications .spListContainer {
    border-bottom: 1px solid #dedede;
}

.Specifications .spTextAvailable {
    color: #4f4f4f;
    font-weight: 300 !important;
    line-height: 3.92 !important;
    font-size: 0.9rem !important;
    letter-spacing: normal !important;
}

.Specifications .spValueAvailable {
    font-family: 'VAG Rounded ELC Bold' !important;
    color: #212529;
    font-weight: bold !important;
    line-height: 3.92 !important;
    font-size: 0.9rem !important;
}

.Specifications .spValueNotAvailable {
    font-family: 'VAG Rounded ELC Bold' !important;
    color: #cacaca;
    font-weight: bold !important;
    line-height: 3.92 !important;
    font-size: 0.9rem !important;
}

.Delivery .title {
    font-size: 1.3rem;
    padding: 0px 0px 5px;
    font-family: 'VAG Rounded ELC Bold' !important;
    border-bottom: 1px solid rgb(179, 179, 179);
    width: 100%;
    margin-bottom: 5px;
    color: #0d943f;
}

html[dir='rtl'] .Delivery .title {
    text-align: right;
}

.Delivery .details .titled {
    font-size: 1.2rem;
    padding: 5px 0px 0px;
    font-family: 'VAG Rounded ELC Bold' !important;
}

.Delivery .details .subTitled {
    font-size: 1.1rem;
    color: #0d943f;
}

.Delivery .details .listT {
    color: rgba(14, 13, 13, 0.8);
}

html[dir='rtl'] .details .listT {
    text-align: right;
}

.Delivery .details ul li {
    list-style-type: disc;
}

@media (max-width: 668px) {
    .Specifications .OpenTitle {
        font-size: 1.2rem !important;
    }
    .Specifications .NotOpenTitle {
        font-size: 1.2rem !important;
    }
}
