.explore-card-container{
    padding: 1rem;
}
.explore {
    position: relative;
}
.explore .explore-img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transition: 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.explore .explore-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    padding: 5px 0px;
    text-align: center;
    border-radius: 0 0 15px 15px;
    background-color: rgba(221, 221, 221, 0.85);
    text-transform: capitalize;
    transition: 1s;
    transform-origin: center;
    transform: scale(0);
}
.explore[data-animate="true"] .explore-title {
    opacity: 1;
    transform: scale(1);
}


@media (max-width: 668px) {
    .explore-card-container{
        padding: 0.5rem;
    }
}