@import url(~bootstrap/dist/css/bootstrap.css);
@import url(~slick-carousel/slick/slick-theme.css);
@import url(~slick-carousel/slick/slick.css);
@font-face {
    font-family: FontAwesome;
    src: url(https://netdna.bootstrapcdn.com/font-awesome/2.0/font/fontawesome-webfont.eot?#iefix) format('eot'),
        url(https://netdna.bootstrapcdn.com/font-awesome/2.0/font/fontawesome-webfont.woff) format('woff'),
        url(https://netdna.bootstrapcdn.com/font-awesome/2.0/font/fontawesome-webfont.ttf) format('truetype'),
        url(https://netdna.bootstrapcdn.com/font-awesome/2.0/font/fontawesome-webfont.svg#FontAwesome) format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'VAG Rounded ELC Light';
    src: url('font/VAGRoundedELC-Light.eot');
    src: url('font/VAGRoundedELC-Light.eot') format('embedded-opentype'),
        url('font/VAGRoundedELC-Light.ttf') format('truetype'), url('font/VAGRoundedELC-Light.woff') format('woff'),
        url('font/VAGRoundedELC-Light.svg') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'VAG Rounded ELC Thin';
    src: url('font/VAGRoundedELC-Thin.eot');
    src: url('font/VAGRoundedELC-Thin.eot') format('embedded-opentype'),
        url('font/VAGRoundedELC-Thin.ttf') format('truetype'), url('font/VAGRoundedELC-Thin.woff') format('woff'),
        url('font/VAGRoundedELC-Thin.svg') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'VAG Rounded ELC ExtraBold';
    src: url('font/VAGRoundedELC-Black.eot');
    src: url('font/VAGRoundedELC-Black.eot') format('embedded-opentype'),
        url('font/VAGRoundedELC-Black.ttf') format('truetype'), url('font/VAGRoundedELC-Black.woff') format('woff'),
        url('font/VAGRoundedELC-Black.svg') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'VAG Rounded ELC Bold';
    src: url('font/VAGRoundedELC-Bold.eot');
    src: url('font/VAGRoundedELC-Bold.eot') format('embedded-opentype'),
        url('font/VAGRoundedELC-Bold.ttf') format('truetype'), url('font/VAGRoundedELC-Bold.woff') format('woff'),
        url('font/VAGRoundedELC-Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    font-family: 'VAG Rounded ELC Light' !important;
}

.MuiTypography-body1 {
    font-family: 'VAG Rounded ELC Light' !important;
}

.Toastify__toast-body {
    font-family: 'VAG Rounded ELC Light' !important;
    font-size: 1.2rem !important;
}

.Toastify__toast--success {
    background: #0d943f !important;
}

.greenColor {
    color: #0d943f;
}

.flex {
    display: flex;
}

.justifyCenter {
    justify-content: center;
}

.alignItemCenter {
    align-items: center;
}

.alignItemFlexStart {
    align-items: flex-start;
}

.cursor-pointer {
    cursor: pointer;
}
.cursor-context-menu {
    cursor: context-menu;
}

.justifyFlexEnd {
    justify-content: flex-end;
}

.textAlignCenter {
    text-align: center !important;
}

.textAlignEnd {
    text-align: end;
}
.w-fit-content {
    width: fit-content;
}
.fc-cart-price {
    font-size: 0.9rem !important;
    color: #f8891a;
    font-family: 'VAG Rounded ELC Bold' !important;
}
.fc-benefit-message {
    font-size: 0.8rem !important;
    color: #f8891a;
    font-family: 'VAG Rounded ELC Bold' !important;
}
.containers-main-page {
    width: 90%;
    max-width: 1450px;
    margin: auto;
    overflow: inherit;
}

::-webkit-scrollbar-thumb {
    background: #9e9d9d;
}

.u-RTL body {
    direction: rtl;
}

.input-error {
    color: #ee0e19 !important;
}

html[dir='rtl'] .input-error {
    text-align: right;
}

.Toastify__toast {
    padding: 20px !important;
    border-radius: 4px !important;
}

html[dir='rtl'] .arabic-right {
    text-align: right;
}

.MuiRadio-colorSecondary.Mui-checked {
    color: #0d943f !important;
}

.MuiCheckbox-colorSecondary.Mui-checked {
    color: #0d943f !important;
}

.coming-soon-text {
    color: #9e9d9d;
    font-size: 1.2rem !important;
    font-weight: bold !important;
    font-family: 'VAG Rounded ELC Bold' !important;
}
.MuiCircularProgress-colorPrimary {
    color: #0c943f !important;
}
ul {
    list-style: none;
}

.whitespace-nowrap {
    white-space: nowrap;
}

.store-list {
    z-index: 999;
    background-color: white;
    border: 1px solid;
    max-height: 430px;
    overflow-y: scroll;
}

/* Order status classes */
.order-status-delivered {
    color: #0d943f;
}

.order-status-confirmed {
    color: #0d943f;
}

.order-status-created {
    color: #dd8512;
}

.order-status-paymentpending {
    color: #dd8512;
}

.order-status-paymentsuccess {
    color: #dd8512;
}

.order-status-accepted {
    color: #dd8512;
}

.order-status-canceled {
    color: rgb(236, 23, 43);
}
.lazyload-wrapper {
    background: rgb(240, 240, 240);
}
