.brand-li img {
    width: 170px;
}

.logovisa {
    margin-top: 50px;
    margin-bottom: 40px;
}

.textarea1 {
    margin-top: 10px;
}
.textarea2 {
    margin-top: 10px;
}
.shop-now-block {
    justify-content: center;
}
.img-container {
    margin: 5px;
}
.textarea1-textbox {
    height: 100px;
    border-radius: 30px;
    text-align: center;
    padding: 20px;
    border: 1px solid #000000;
}
.textarea2-textbox {
    overflow: hidden;
    border-radius: 30px;
    text-align: center;
    width: 150px;
    height: 30px;
    color: #212529;
    padding: 3px;
    border: 1px solid #000000;
}
.textAlignStart {
    text-align: start;
    padding: 0% 5%;
}

.item {
    /* background-color: #fafafa; */
    min-height: 120px;
    max-height: auto;
    float: left;
    /* margin: 3px;
    padding: 3px; */
}
.item ul {
    padding-inline-start: 0px;
}
.shop-now-button {
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    border-radius: 50px;
    border: 1px solid #0d5d9c;
    outline: none;
    display: block;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    text-align: center;
    color: #ffffff;
    background-color: #0d5d9c;
}
.brand-li {
    display: inline;
}
.brand-name {
    text-decoration: none !important;
    text-align: center;
    margin: 10px;
    font-size: 14px;
    font-weight: 500;
    padding: 0% 2%;
    color: #212529;
}

.visa-input {
    color: black;
    width: 150px;
    height: 60px;
    border: 1px solid black;
    /* padding: 50px; */
    /* margin: 20px; */
    margin: 0px 15px;
}
.visa-voucher-text {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
    padding: 5px;
    margin-bottom: 0px !important;
}
.visa-voucher-value {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

.visa-logo {
    display: inline-flex;
    width: 200px;
    height: 100px;
    padding-right: 10px;
    vertical-align: middle;
}
.borderline {
    border-left: 1px solid #000000;
}
.brand_name {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

html[dir='rtl'] .brand_name {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
.offer-text {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}
.icon-class-visa {
    margin-top: 8px !important;
}
@media only screen and (max-width: 767px) {
    .icon-class-visa {
        top: 4px;
    }
    .visa-voucher-value {
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        font-size: 20px;
        padding-bottom: 10px;
    }
    .brand_name {
        font-size: 15px;
        text-align: center;
        font-weight: bold;
    }
    .visa-voucher-text {
        text-transform: uppercase;
        text-align: center;
        justify-content: center;
        font-weight: bold;
        padding: 10px;
        font-size: 10px;
        margin-bottom: 0px !important;
    }
    .visa-logo {
        display: inline-flex;
        width: 200px;
        height: 100px;
        padding-right: 10px;
        vertical-align: middle;
    }
    .logovisa {
        margin-top: 10px;
        margin-bottom: 0px;
    }
    html[dir='rtl'] .logovisa {
        margin-top: 10px;
        margin-bottom: 0px;
    }
    html[dir='rtl'] .visa-logo {
        display: inline-flex;
        width: 200px;
        height: 100px;
        padding-left: 10px;
        vertical-align: middle;
    }
    .visa-input {
        color: black;
        width: 100%;
        height: 100%;
        border: 1px solid black;
        padding: 12px 113px;
    }
    .shop-now-button {
        font-size: 20px;
        font-weight: 800;
        border-radius: 50px;
        border: 1px solid #0d5d9c;
        outline: none;
        display: block;
        width: 100%;
        height: 100%;
        border-collapse: collapse;
        text-align: center;
        color: #ffffff;
        background-color: #0d5d9c;
    }

    .offer-text {
        text-align: center;
        font-weight: bold;
        font-size: 14px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .shop-now-button {
        text-align: center;
        font-size: 20px;
        font-weight: 800;
        border-radius: 50px;
        border: 1px solid #0d5d9c;
        outline: none;
        display: block;
        width: 100%;
        height: 100%;
        border-collapse: collapse;
        text-align: center;
        color: #ffffff;
        background-color: #0d5d9c;
    }
    .icon-class-visa {
        top: 10px;
    }

    .visa-input {
        color: black;
        width: 100%;
        height: 100%;
        border: 1px solid black;
    }
    .visa-voucher-text {
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
        font-size: 10px;
        padding: 10px;
        margin-bottom: 0px !important;
    }
}
@media (max-width: 767px) {
    .brand-li img {
        width: 150px;
    }
    .img-container {
        margin: 10px;
    }
}
