.productImage .secondaryImagesMargin {
    margin-top: 20px;
}

.productImage .activeCard {
    border: 1px solid #0d943f;
    width: 15%;
    padding: 1%;
    margin: 5px 5px;
    border-radius: 4px;
    position: relative;
}
.productImage .videoIcon {
    width: 50px !important;
    position: absolute;
    top: 50% !important ;
    height: auto !important;
    transform: translate(-50%, -50%) !important;
    left: 50% !important;
    opacity: 1;
    transition: filterBrightness 2250ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
        filterSaturate 3000ms cubic-bezier(0.4, 0, 0.2, 1) 0s, opacity 1500ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.productImage .cardSecondary {
    border: 1px solid rgb(179, 179, 179);
    width: 15%;
    padding: 1%;
    opacity: 0.5;
    margin: 5px 5px;
    cursor: pointer;
    border-radius: 4px;
    position: relative;
}

.productSticky {
    position: sticky;
    top: 0px;
}
@media (max-width: 668px) {
    .productImage .videoIcon {
        width: 30px !important;
        position: absolute;
        top: 50% !important ;
        height: auto !important;
        transform: translate(-50%, -50%) !important;
        left: 50% !important;
        opacity: 1;
        transition: filterBrightness 2250ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
            filterSaturate 3000ms cubic-bezier(0.4, 0, 0.2, 1) 0s, opacity 1500ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
    }
}
