.slider-title .title {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    align-items: center;
    color: #4f4f4f;
    font-family: 'VAG Rounded ELC Light';
    font-size: 18px !important;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 0.4px !important;
}
.brand-slider-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 100%;
    border-radius: 15px;
}
.slider-title {
    margin-top: 20px;
}

.slider .slick-track {
    width: max-content !important;
}
.slider .slick-next {
    right: -60px !important;
}

.slider .slick-prev {
    left: -60px !important;
}
@media (max-width: 958px) {
    .slider .slick-next {
        right: 20px !important;
    }

    .slider .slick-prev {
        left: 20px !important;
    }
    .brand-slider-image {
        width: 90%;
    }
}

@media (max-width: 668px) {
    .slider-title {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .slider-title .title {
        flex-direction: column;
    }

    .slider-title .title label {
        width: 100%;
    }
    .slider-title .shop-all-button.MuiButton-root {
        display: block;
    }

    .slider .slick-next {
        display: none !important;
    }

    .slider .slick-prev {
        display: none !important;
    }

    .slider .slick-slide > div {
        padding: 0 5px;
    }
    .slider-show-all {
        bottom: 70px;
    }
}
