.slider-title .title {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    align-items: center;
    color: #4f4f4f;
    font-family: 'VAG Rounded ELC Light';
    font-size: 18px !important;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 0.4px !important;
}
.slider-image {
    width: 60%;
}
.link-landingpage:hover {
    text-decoration: none;
}
.slider-div_value {
    background-color: #ffff00;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 40%;
    height: fit-content;
    padding: 5px 2px;
    text-align: center;
}
.slider-title {
    margin-top: 20px;
}

.slider .slick-track {
    width: max-content !important;
}
.slider .slick-next {
    right: -60px !important;
}

.slider .slick-prev {
    left: -60px !important;
}
@media (max-width: 958px) {
    .slider .slick-next {
        right: 20px !important;
    }

    .slider .slick-prev {
        left: 20px !important;
    }
}

@media (max-width: 668px) {
    .slider-title {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .slider-title .title {
        flex-direction: column;
    }

    .slider-title .title label {
        width: 100%;
    }
    .slider-title .shop-all-button.MuiButton-root {
        display: block;
    }

    .slider .slick-next {
        display: none !important;
    }

    .slider .slick-prev {
        display: none !important;
    }

    .slider .slick-slide > div {
        padding: 0 5px;
    }
    .slider-show-all {
        bottom: 70px;
    }

    .slider-div_value p {
        font-size: 0.85rem;
    }
}
