.PLPCategroyDescription-text {
    color: #4f4f4f;
    letter-spacing: normal;
    font-weight: 300 !important;
    font-size: 1rem !important;
}

.PLPCategroyDescription-text span {
    font-weight: bold;
    color: #0c943f;
    font-family: 'VAG Rounded ELC Bold' !important;
}

@media (max-width: 668px) {
    .PLPCategroyDescription-text {
        font-size: 0.9rem !important;
    }

    .PLPCategroyDescription-text span {
        font-size: 0.9rem !important;
    }
}
