.checkout-item-detail-cart {
    border-radius: 4px;
    box-shadow: 0px 11px 11px 0 rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    width: 100%;
    padding: 20px 25px;
}

.checkout-item-detail-cart .title {
    color: #212529;
    line-height: 2 !important;
    letter-spacing: 0.32px !important;
    font-weight: bold !important;
    font-size: 1.3rem !important;
}

.checkout-item-detail-cart .title1 {
    color: #212529;
    line-height: 2 !important;
    letter-spacing: 0.32px !important;
    font-weight: bold !important;
    font-size: 1.1rem !important;
}

html[dir='rtl'] .checkout-item-detail-cart .title {
    text-align: right;
}

html[dir='rtl'] .checkout-item-detail-cart .title1 {
    text-align: right;
}

html[dir='rtl'] .checkout-item-detail-cart .remove-arabic-right-margin {
    margin-right: 0px !important;
}

html[dir='rtl'] .checkout-item-detail-cart .remove-arabic-padding {
    padding-right: 0px;
}

html[dir='rtl'] .arabic-right {
    text-align: right;
}

.checkout-item-detail-cart .cart-image {
    width: 90%;
}

.checkout-item-detail-cart .item-qty span {
    line-height: 1.45;
    letter-spacing: 0.11px;
    font-weight: 300;
    color: #4f4f4f;
    font-size: 0.8rem;
}

.checkout-item-detail-cart .item-qty .value {
    color: #212529;
}

html[dir='rtl'] .checkout-item-detail-cart .item-qty {
    text-align: left;
}

.checkout-item-detail-cart .border-line {
    height: 1px;
    background-color: #d6d6d6;
    margin: 20px 0px;
}

.checkout-item-detail-cart .item-row {
    padding-top: 20px;
    padding-bottom: 20px;
}

.cart-showing-price-strik {
    color: #b3b3b3;
    text-decoration: line-through;
}

.checkout-item-detail-cart .item-name {
    color: #0c943f;
    line-height: 1.33 !important;
    letter-spacing: 0.12px !important;
    font-weight: bold !important;
    font-size: 0.9rem !important;
}

html[dir='rtl'] .checkout-item-detail-cart .item-name {
    text-align: left;
}

.checkout-item-detail-cart .conatiner-end {
    text-align: end;
}

.checkout-item-detail-cart .edit-icon {
    border-radius: 50%;
    border: 1px solid #0c943f;
}

.checkout-item-detail-cart .edit-icon:hover {
    background-color: transparent;
}

.checkout-item-detail-cart .edit-icon svg {
    color: #0c943f;
}

.checkout-item-detail-cart .cartpayment-label {
    color: #4f4f4f;
    letter-spacing: 0.24px !important;
    font-weight: 300 !important;
    padding-bottom: 10px !important;
    font-size: 0.9rem !important;
}

.checkout-item-detail-cart .cartpayment-value {
    color: #212529;
    letter-spacing: 0.24px !important;
    font-weight: 300 !important;
    padding-bottom: 10px !important;
    font-size: 0.9rem !important;
}

.checkout-item-detail-cart .cartFamilyClub-label {
    color: #f8891a;
    letter-spacing: 0.24px !important;
    font-weight: 300 !important;
    padding-bottom: 10px !important;
    font-size: 0.9rem !important;
}
.checkout-item-detail-cart .cartFamilyClub-label.bold {
    font-family: 'VAG Rounded ELC Bold' !important;
}

.checkout-item-detail-cart .cartFamilyClub-value {
    color: #f8891a;
    letter-spacing: 0.24px !important;
    font-weight: 300 !important;
    padding-bottom: 10px !important;
    font-size: 0.9rem !important;
}
.checkout-item-detail-cart .cartFamilyClub-value.bold {
    font-family: 'VAG Rounded ELC Bold' !important;
}

.checkout-item-detail-cart .cartpayment-total-label {
    color: #212529;
    letter-spacing: 0.32px !important;
    font-weight: bold !important;
    line-height: 1.75 !important;
    font-size: 1.2rem !important;
}

.checkout-item-detail-cart .cartpayment-total-value {
    color: #0c943f;
    line-height: 1.75 !important;
    letter-spacing: 0.32px !important;
    font-weight: bold !important;
    font-size: 1.2rem !important;
    font-family: 'VAG Rounded ELC Bold' !important;
}

.checkout-item-detail-cart .cart-address-nick-name {
    color: #0c943f;
    font-weight: bold !important;
    letter-spacing: 0.26px !important;
    font-size: 0.9rem !important;
    padding-bottom: 0.1rem;
}

.checkout-item-detail-cart .cart-address-type {
    color: #0c943f;
    line-height: 1.45 !important;
    letter-spacing: 0.22px !important;
    font-size: 0.8rem !important;
    padding-bottom: 0.2rem;
}

.checkout-item-detail-cart .cart-address-text {
    color: #4f4f4f;
    letter-spacing: 0.26px !important;
    font-weight: 300 !important;
    font-size: 0.9rem !important;
    word-break: break-all;
}

.checkout-item-detail-cart .cart-showing-price {
    font-size: 0.8rem;
    font-weight: bold;
}

.checkout-item-detail-cart .cart-showing-price-strik {
    color: #b3b3b3;
    text-decoration: line-through;
    font-size: 0.8rem;
    font-weight: bold;
}

@media (max-width: 668px) {
    .checkout-item-detail-cart {
        margin-top: 10px;
    }
}
