.QuantityAndBasket {
    padding-top: 30px;
}

.QuantityAndBasket .addAndRemove {
    width: 80%;
    margin-top: 5px;
    font-family: 'VAG Rounded ELC Bold';
    box-shadow: none;
    border-radius: 5px;
    border: solid 1px #d7d7d7;
}

.QuantityAndBasket .addAndRemove button {
    font-family: 'VAG Rounded ELC Bold';
    background-color: transparent;
    padding: 10px 30px;
    box-shadow: none;
}

.QuantityAndBasket .InStockMessage span {
    font-family: 'VAG Rounded ELC Bold';
    font-weight: bold;
    font-size: 0.9rem;
    margin-top: 0;
    letter-spacing: 0.26px;
    color: #0c943f;
}

.QuantityAndBasket .only5InStockMessage span {
    font-family: 'VAG Rounded ELC Bold';
    font-weight: bold;
    font-size: 0.9rem;
    margin-top: 0;
    letter-spacing: 0.26px;
    color: #ff7f00;
}

.QuantityAndBasket .outOfStockMessage span {
    font-size: 0.9rem;
    margin-top: 0;
    font-weight: 300;
    color: #ee0e19;
}

.QuantityAndBasket .addAndRemove svg {
    color: #0d943f;
    font-size: 1.8rem;
}

html[dir='rtl'] .QuantityAndBasket .addAndRemove .input {
    border-left: 1px solid #d7d7d7;
}

.QuantityAndBasket .addAndRemove .Mui-disabled svg {
    color: rgba(0, 0, 0, 0.26);
}

html[dir='rtl'] .QuantityAndBasket .ar-left-div {
    text-align: right;
}

html[dir='rtl'] .QuantityAndBasket .InStockMessage {
    text-align: right;
}

html[dir='rtl'] .QuantityAndBasket .addAndRemove .remove-border-ar {
    border-right: 0px;
}

html[dir='rtl'] .QuantityAndBasket .only5InStockMessage {
    text-align: right;
}

html[dir='rtl'] .QuantityAndBasket .outOfStockMessage {
    text-align: right;
}

.QuantityAndBasket .addAndRemove .input {
    text-align: center;
    font-size: 1.2rem;
    color: black !important;
    font-family: 'VAG Rounded ELC Bold' !important;
}

.QuantityAndBasket .AddToBasket {
    background-color: #df0c00 !important;
    color: #ffffff !important;
    border: solid 1px #df0c00 !important;
    border-radius: 5px;
    font-size: 1.1rem !important;
    font-weight: bold;
    padding: 10px 70px;
    height: 3.5rem;
    margin-top: 6px;
    text-align: center;
    letter-spacing: 0.32px !important;
    text-transform: capitalize !important;
    font-family: 'VAG Rounded ELC Bold' !important;
}

.QuantityAndBasket .addToBasket:hover {
    background-color: #df0c00 !important;
    border: solid 1px #df0c00 !important;
}

@media (max-width: 668px) {
    .QuantityAndBasket .AddToBasket {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 1000000;
        border-radius: 0px;
    }
}
