.checkout-stepper {
    background-color: #f5f5f5;
}

.checkout-stepper .MuiPaper-root {
    background-color: transparent;
}

.checkout-details-card {
    border-radius: 4px;
    background-color: #ffffff;
    width: 100%;
    padding: 32px 30px;
}

.checkout-details-card .internal-card {
    padding: 32px 30px;
}

.checkout-item-card {
    border-radius: 4px;
    background-color: #ffffff;
    padding: 32px 30px;
    width: 100%;
    height: fit-content;
}

.checkout-title span {
    color: #0c943f;
    line-height: 2.86 !important;
    font-weight: bold !important;
    font-size: 2rem !important;
    font-family: 'VAG Rounded ELC Bold' !important;
}

.checkout-stepper .MuiStepLabel-label.MuiStepLabel-active {
    color: #0c943f;
    font-size: 1rem;
    padding-top: 2px;
    font-weight: 300;
}

html[dir='rtl'] .checkout-stepper .MuiStepConnector-alternativeLabel {
    left: calc(50% + 20px);
    right: calc(-50% + 20px);
}

.checkout-stepper .MuiStepLabel-label {
    color: #4f4f4f;
    font-weight: 300;
    font-size: 1rem;
    padding-top: 2px;
}

.checkout-stepper .MuiStepLabel-completed {
    color: #0c943f !important;
}

@media (max-width: 668px) {
    /* .checkout-title {
        margin-top: -70px !important;
    } */

    .checkout-stepper .MuiStepLabel-label.MuiStepLabel-active {
        color: #0c943f;
        font-size: 0.8rem;
        padding-top: 2px;
        font-weight: 300;
    }

    .checkout-stepper .MuiStepLabel-label {
        color: #4f4f4f;
        font-weight: 300;
        font-size: 0.8rem;
        padding-top: 2px;
    }
}
