.header-title {
    color: inherit;
}
.header-title:hover {
    color: inherit;
    text-decoration: none;
}
.header-title p {
    font-size: 1.1rem;
}
@media screen and (max-width: 768px) {
    .header-title p {
        font-size: 0.9rem;
    }
}
