.price .p-priceAmt span {
    font-size: 1.7rem !important;
    font-weight: bold !important;
    color: #0d943f;
    line-height: 1.42 !important;
    letter-spacing: 0.48px !important;
    font-family: 'VAG Rounded ELC Bold';
}
.price .p-fcPriceAmt span {
    font-size: 1.7rem !important;
    font-weight: bold !important;
    color: #f8891a;
    line-height: 1.42 !important;
    letter-spacing: 0.48px !important;
    font-family: 'VAG Rounded ELC Bold';
}
.price .p-priceAmt .amt_strike {
    text-decoration: line-through;
    font-size: 1.7rem !important;
    font-weight: 900 !important;
    font-family: 'VAG Rounded ELC Bold';
    color: #b3b3b3;
    margin-left: 20px;
    margin-right: 20px;
}
html[dir='rtl'] .price .p-priceAmt .amt_strike {
    margin-right: 0;
}

.price .p-priceAmt {
    padding: 5px 0px !important;
}

.price .fcDiscountText {
    font-size: 1rem;
    margin-bottom: 0.875rem;
    color: #f8891a !important;
    font-weight: 300;
    letter-spacing: 0.56px;
    cursor: 'pointer';
    display: flex;
    align-items: center;
}
.price .fcDiscountText img {
    width: 1.5rem;
}
/* .price .fcDiscountText span {
    color: '#f8891a'!important;

    cursor: pointer;
} */
html[dir='rtl'] .ar-right {
    text-align: right;
}

@media (max-width: 668px) {
    .price .p-priceAmt .amt_strike {
        font-size: 1.3rem !important;
        margin-left: 0;
    }

    .price .p-priceAmt span {
        font-size: 1.3rem !important;
    }
    .price .p-fcPriceAmt span {
        font-size: 1.5rem !important;
    }
    .price .fcDiscountText {
        font-size: 0.9rem;
    }
    .price .fcDiscountText img {
        width: 1rem;
    }
}
