.age-selector {
    min-height: 400px;
    background: #e5f5eb;
    margin: 0 25px;
    border-radius: 6px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.age-selectorTop {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.age-selectorHeader {
    color: #4f4f4f;
    font-weight: 700;
    font-size: 1.1rem;
    font-family: 'VAG Rounded ELC Bold' !important;
}

.age-selectorBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
    margin-top: 20px;
}

.rounded-box {
    width: 80px;
    height: 80px;
    background-color: #f28630;
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin-bottom: 20px;
}

.rounded-box:hover {
    background: #ef4430;
    transform: translateY(-2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.rounded-boxBtn {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-transform: capitalize;
}

.rounded-boxAge {
    color: #59524b;
    font-weight: 700;
    font-size: 1rem !important;
}

@media only screen and (max-width: 768px) {
    .age-selectorBox {
        width: 100%;
    }
    .rounded-box:nth-child(odd):nth-child(2n) {
        transform: translateY(-10%);
    }
    .rounded-box:nth-child(even) {
        transform: translateY(35%);
        margin-bottom: 35px;
    }
}
@media only screen and (max-width: 668px) {
    .age-selector {
        margin: 0;
        border-radius: 0;
    }
}

@media only screen and (max-width: 480px) {
    .rounded-box:nth-child(5n) {
        transform: translateY(-40%);
        transform: translateX(-10%);
        margin-top: 30px;
    }
    .rounded-box:nth-child(8n) {
        transform: translateY(-50%);
        margin-top: 40px;
    }
    .rounded-box:nth-child(even):nth-child(3n) {
        transform: translateY(-15%);
        margin-top: 30px;
    }
}
