.banner {
    position: relative;
    /* margin: 0 25px; */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    /* min-height: 300px; */
}
.banner a {
    width: 100%;
}

.banner img {
    border-radius: 4px;
}

.banner-button {
    border-radius: 0.4rem;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 5px 20px;
    width: 180px;
    text-transform: capitalize;
    margin-top: 20px;
    font-family: 'VAG Rounded ELC Bold';
    box-shadow: 0px 0px 5px #000000a6;
    transition: 200ms ease-in-out;
}
.banner-button:hover {
    transform: scale(0.98);
}

.banner-text {
    font-size: 5.5rem;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: 'VAG Rounded ELC Bold' !important;
    color: #ee0e19;
    text-shadow: 0px 0px 5px #000000a6;
    z-index: 100;
}
.banner-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: 5rem;
    transform: translateY(-50%);
}

@media only screen and (max-width: 1250px) {
    .banner-text {
        font-size: 4.5rem;
    }
}

@media only screen and (max-width: 1080px) {
    .banner-text {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 768px) {
    .banner-button {
        font-size: 1rem;
    }
    .banner-text {
        font-size: 2.2rem;
    }

    .banner-box {
        right: 10px !important;
    }
}
@media only screen and (max-width: 668px) {
    .banner {
        margin: 0;
    }
    .banner img {
        border-radius: 0px;
    }
}

@media only screen and (max-width: 576px) {
    .banner-button {
        font-size: 0.7rem;
        width: auto;
    }
    .banner-text {
        font-size: 1.2rem;
    }
}
