.select-price {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 400px;
    width: 100%;
    background: #e5f5eb;
    margin: 0 25px;
    border-radius: 6px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.select-priceTop {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.select-priceHeader {
    color: #4f4f4f;
    font-weight: 700;
    font-size: 1.1rem;
    font-family: 'VAG Rounded ELC Bold' !important;
}

.select-priceSlider {
    width: 800px;
}

.select-priceSlider .MuiSlider-rail {
    height: 6px;
    background-color: rgba(165, 166, 166, 1);
}
.select-priceSlider .MuiSlider-mark {
    display: none;
}
html[dir='rtl'] .select-priceSlider .MuiSlider-markLabel {
    transform: translateX(50%);
}

.select-priceSlider .MuiSlider-track {
    height: 6px;
    background-color: #0d943f;
}

.select-priceSlider .MuiSlider-thumb .MuiSlider-valueLabel > span > span {
    color: #705a44;
    font-size: 0.8rem;
    font-weight: 600;
}

.select-priceSlider .MuiSlider-thumb {
    background-color: #0d943f;
    width: 15px;
    height: 15px;
}

.select-priceSlider .MuiSlider-thumb:hover {
    box-shadow: 0px 0px 0px 8px rgb(13 148 63 / 15%);
}

.select-priceSlider .MuiSlider-active {
    box-shadow: 0px 0px 0px 8px rgb(13 148 63 / 15%);
}

.select-priceSlider .MuiSlider-thumb .MuiSlider-valueLabel {
    left: calc(-50% - 2px);
    transform: scale(1) translateY(-12px);
}

.select-priceSlider .MuiSlider-thumb .MuiSlider-valueLabel > span {
    background-color: #f28630;
    color: #705a44;
    font-size: 0.8rem;
    font-weight: 600;
}

.slider-box .MuiTypography-body1 {
    color: #f28630;
    font-weight: 700 !important;
    font-size: 1rem !important;
}

.select-priceText {
    display: flex;
    align-items: center;
    margin-right: 20px;
    color: #f28630;
}
html[dir='rtl'] .select-priceText {
    margin-right: auto;
    margin-left: 20px;
}

.select-priceText > * {
    font-weight: 700 !important;
    font-size: 1rem !important;
}

.select-priceRangeBox {
    display: flex;
}

.select-priceRange {
    width: 300px;
    height: 60px;
    margin-right: 128px;
    background: #fff;
    border-radius: 10px;
    display: grid;
    place-items: center;
}

html[dir='rtl'] .select-priceRange {
    margin-right: auto;
    margin-left: 128px;
}

.select-priceBtn {
    background-color: #0d943f !important;
    color: #fff !important;
    border: solid 1px #0d943f !important;
    border-radius: 0.4rem;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 0px;
    width: 300px;
    height: 3rem;
    text-transform: capitalize !important;
    font-family: 'VAG Rounded ELC Bold' !important;
    margin-bottom: 20px;
}

@media only screen and (max-width: 890px) {
    .select-priceSlider {
        width: 500px;
    }
}
@media only screen and (max-width: 668px) {
    .select-price {
        margin: 0;
        border-radius: 0;
    }
}

@media only screen and (max-width: 650px) {
    .select-priceSlider {
        width: 270px;
    }
    .select-priceRangeBox {
        flex-direction: column;
    }
    .select-priceRange {
        margin-right: 0px;
    }
    html[dir='rtl'] .select-priceRange {
        margin-right: 0px;
        margin-left: auto;
    }
    html[dir='rtl'] .select-priceText {
        margin-right: 20px;
        margin-left: auto;
    }
}
