.breadcrumbs {
    margin-bottom: 25px !important;
    margin-top: 15px !important;
}

.breadcrumbs p {
    font-size: 0.9rem !important;
}

.breadcrumbs a {
    color: #8b8b8b;
    font-size: 0.9rem !important;
}

@media (max-width: 668px) {
    .breadcrumbs {
        margin-top: 15px !important;
        margin-bottom: 15px !important;
    }
}
