.landing-shop-all-button.MuiButton-root {
    background: #ee0e19;
    color: #fff;
    font-weight: 600;
    font-family: "VAG Rounded ELC Light";
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 3px 10px;
    margin: 5px 10px;
    font-size: .8rem;
    text-transform: unset;
}
.landing-shop-all-button.MuiButton-root:hover {
    background: #d3101a;
}
.link-landingpage:hover {
    text-decoration: none;
}