.my-account-mobile-header-back {
    color: #0c943f;
    font-weight: bold !important;
    font-size: 1rem !important;
    text-transform: capitalize;
    font-family: 'VAG Rounded ELC Bold' !important;
}

.my-account-mobile-header-back svg {
    position: relative;
    top: -2px;
}

.my-account-mobile-header-title {
    color: #0c943f;
    font-weight: bold !important;
    font-size: 1.2rem !important;
    font-family: 'VAG Rounded ELC Bold' !important;
}

.margin-m-p-h {
    margin: 10px 0px 20px;
}
