.NoProductText {
    color: #0c943f;
    line-height: 2 !important;
    font-weight: bold !important;
    font-size: 1.8rem;
    text-align: center;
    padding-top: 8px !important;
}
.NoCategoryProducts {
    font-size: 2rem !important;
    padding: 1rem 2rem !important;
    margin: 1rem !important;
    color: #ea3434;
    border: 1px solid;
    border-radius: 4px;
}
.ZeroItemText {
    color: #4f4f4f;
    line-height: 1.29 !important;
    font-weight: 300 !important;
    font-size: 1rem;
    text-align: center;
}

.continueShoppingButton {
    border-radius: 4px;
    background-color: #ee0e19;
    padding: 10px 20px;
    margin-top: 24px;
}

.continueShoppingButton:hover {
    background-color: #ee0e19;
}

.continueShoppingButton span {
    color: #ffffff;
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.65;
    line-height: 1.65;
}
