.checkout-header {
    height: 82px;
    background-color: #0c943f;
    width: 100%;
    padding: 0px 10px;
}

.checkout-back-button span {
    color: #ffffff;
    font: 0.9rem !important;
}

html[dir='rtl'] .checkout-back-button span {
    margin-left: 8px !important;
    margin-right: 0px !important;
}

html[dir='rtl'] .arabic-right {
    text-align: right;
}

html[dir='rtl'] .arabic-center {
    text-align: center;
}

.checkout-back-button svg {
    font-size: 1.5rem !important;
    position: relative;
    top: -2px;
}

.checkout-back-button:hover {
    background-color: transparent;
}

@media (max-width: 668px) {
    .checkout-header {
        height: 70px;
        padding: 0px 5px;
    }

    .checkout-header .mobileSize {
        width: 100%;
    }

    .checkout-back-button svg {
        font-size: 1rem !important;
        position: relative;
        top: -2px;
    }

    .checkout-back-button img {
        width: 1rem !important;
        position: relative;
        top: -2px;
    }

    .checkout-back-button span {
        color: #ffffff;
        font-size: 0.6rem !important;
    }
}
