.familyClubDialog .MuiDialog-paperWidthSm {
    max-width: 600px;
    border: 1.5px solid #0d943f;
    border-radius: 10px;
}
.fcPopup-buttons-container {
    display: flex;
    justify-content: center;
}
.fcPopup-buttons-container button {
    background: #0d943f;
    margin: 0 0.5rem;
}
.fcPopup-buttons-container button:hover {
    background: #0d943fd9;
}
