.bannerContent1 .headingTitle {
    margin-bottom: 0;
    font-size: 18px;
    font-family: 'VAG Rounded ELC Light' !important;
    line-height: 2rem;
    letter-spacing: 1px;
    color: #fff;
}

.HomeBanner1 .bannerContent1 .buttonDiv .whiteButton {
    padding: 0.625rem 1.25rem;
    align-items: center;
    font-weight: 500;
    background: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 15px;
    letter-spacing: 1px;
}
.bannerContent1 .headingTitle {
    margin-bottom: 0;
    font-size: 18px;
    line-height: 2rem;
    letter-spacing: 1px;
    color: #fff;
    font-family: 'VAG Rounded ELC Light' !important;
}
.bannerContent1 .headingText {
    font-size: 16px;
    line-height: 3.125rem;
    color: #fff;
    margin-bottom: 1.25rem;
    letter-spacing: 1px;
    font-family: 'VAG Rounded ELC Light' !important;
}
.HomeBanner1 {
    margin-top: 25px;
}

.BestSellerItem {
    padding: 0px 5px;
}

.text-height {
    margin-top: 15px !important;
    overflow: hidden;
    height: 50px;
    margin-bottom: 15px !important;
}
.slick-dots li {
    position: relative;
    display: inline-block;
    width: 12px !important;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.slick-dots li button:before {
    font-family: 'slick';
    line-height: 14px !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 13px !important;
    height: 13px !important;
    content: '\2022';
    text-align: center;
    opacity: 1 !important;
    color: transparent !important;
    -webkit-font-smoothing: antialiased;
    font-size: 15px !important;
    border: solid 1px #0d943f;
    border-radius: 50%;
}

.addToBasket {
    background-color: #ee0e19 !important;
    color: #fff !important;
    border: solid 1px #ee0e19 !important;
    border-radius: 0.4rem;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 0px;
    width: 100%;
    height: 3rem;
    text-align: center;
    text-transform: capitalize !important;
    margin-top: 20px !important;
    font-family: 'VAG Rounded ELC Light' !important;
}

.addToBasket:hover {
    background-color: #df0c00 !important;
    border: solid 1px #df0c00 !important;
}

.BestSellerItem .productsItem {
    padding: 15px 19px 28px;
    border-radius: 4px;
    border: solid 1px #eeeeee;
    margin: 19px 0px;
}

.BestSellerItem .productsItem a {
    text-decoration: none;
}

.BestSellerItem .productsItem:hover {
    box-shadow: 0px 6px 18px 0 rgba(0, 0, 0, 0.12);
    border: solid 1px #1ea44d;
    background-color: #ffffff;
}

.BestSellerItem .productsItem .p_title {
    color: #4f4f4f;
    letter-spacing: 0.14px !important;
    line-height: 1.57 !important;
    font-weight: 300 !important;
    text-align: center;
}

.BestSellerItem .productsItem .p_amt {
    font-weight: bold !important;
    font-size: 1.1rem !important;
    line-height: 1.5 !important;
    letter-spacing: 0.16px !important;
    text-align: center;
    color: #0d943f;
    font-family: 'VAG Rounded ELC Light' !important;
}

.BestSellerItem .productsItem .amt_strike {
    font-weight: 300 !important;
    font-size: 1.1rem !important;
    line-height: 1.5 !important;
    letter-spacing: 0.16px !important;
    text-align: center;
    color: #b3b3b3;
}
.pdp-you-may-also-like {
    align-items: center;
    margin-bottom: 28px !important;
}

.pdp-you-may-also-like .line {
    width: 37%;
    border-bottom: 1px solid #d6d6d6;
}

.pdp-you-may-also-like label {
    color: #4f4f4f;
    font-family: 'VAG Rounded ELC Light';
    font-size: 2rem;
    font-weight: 300;
    min-width: 35%;
    letter-spacing: 1px !important;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.pdp-you-may-also-like .shop-all-button {
    margin: 0 1rem;
    padding: 5px 10px;
    background-color: #ee0e19;
    color: #fff;
    border: solid 1px #ee0e19;
    border-radius: 0.4rem;
    font-size: 1rem;
    height: fit-content;
    transition: 0.2s;
}
.pdp-you-may-also-like .shop-all-button:hover {
    background-color: #e91823;
    transform: scale(0.96);
}
.bestsellers label {
    color: #4f4f4f;
    font-family: 'VAG Rounded ELC Light';
    font-size: 22px !important;
    font-weight: 300;
    width: 45%;
    margin-bottom: 0px;
    text-align: center;
    letter-spacing: 0.4px !important;
}
.BestSellerItem .productsItem .p_months {
    color: #4f4f4f;
    letter-spacing: 0.14px !important;
    text-align: center;
    line-height: 1.71 !important;
    font-weight: 300 !important;
    padding-top: 14px;
}
.slick-dots li.slick-active button:before {
    opacity: 0.75;
    color: #0d943f !important;
    font-size: 15px !important;
    border: none !important;
}
html[dir='rtl'] .HomeBanner1 .bannerContent1 .buttonDiv .whiteButton svg {
    margin-left: auto;
    margin-right: 10px;
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-top: 3px;
    float: left;
}
html[dir='rtl'] .banner3 {
    margin-left: auto;
    margin-right: 10px;
    -ms-transform: rotate(180deg) !important;
    transform: rotate(180deg);
}

.BestSellerItem .productsItem .addToBasket {
    font-weight: bold !important;
    font-family: 'VAG Rounded ELC Light' !important;
}
.mr-int {
    margin-top: 5%;
}

.BestSellerItem .slider-show-all {
    top: 0;
    right: 0;
    bottom: 90px;
    left: 0;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.BestSellerItem .slider-show-all .Icon {
    display: flex;
    background: #6c6c6c15;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    border-radius: 50%;
    border: 1px solid #0d943f;
    cursor: pointer;
}
.BestSellerItem .slider-show-all .Icon svg {
    font-size: xxx-large;
    color: #0d943f;
}

@media (max-width: 668px) {
    .pdp-you-may-also-like .line {
        width: 20%;
    }
    .bannerContent1 .headingTitle {
        margin-bottom: 0.9375rem;
        font-size: 16px;
        line-height: 3.125rem;
        letter-spacing: 1px;
        color: #fff;
    }

    .pdp-you-may-also-like label {
        min-width: 60%;
        font-size: 20px;
        position: relative;
        top: 10px;
        display: block;
    }
    .pdp-you-may-also-like label .shop-all-button {
        margin-top: 5px;
    }

    .slick-dots li {
        position: relative;
        display: inline-block;
        width: 12px !important;
        height: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
    }
    .slick-dots li button:before {
        font-family: 'slick';
        line-height: 14px !important;
        position: absolute;
        top: 0;
        left: 0;
        width: 13px !important;
        height: 13px !important;
        content: '\2022';
        text-align: center;
        opacity: 1 !important;
        color: transparent !important;
        -webkit-font-smoothing: antialiased;
        font-size: 15px !important;
        border: solid 1px #0d943f;
        border-radius: 50%;
    }
    .slick-dots li.slick-active button:before {
        opacity: 0.75;
        color: #0d943f !important;
        font-size: 15px !important;
        border: none !important;
    }

    .BestSellerItem .productsItem {
        padding: 15px 10px 15px;
    }
    html[dir='rtl'] .HomeBanner1 .bannerContent1 {
        position: static !important;
        transform: none !important;
        text-align: center;
        background-color: #1a284c;
        max-width: 100% !important;
        padding: 35px 10px !important;
        min-height: 212px !important;
    }

    .BestSellerItem .productsItem .addToBasket {
        font-weight: bold !important;
    }

    .BestSellerItem .productsItem .text-height {
        height: 45px;
    }
}

.HomeBanner1 .bannerContent1 {
    position: absolute;
    max-width: 38%;
    background-color: rgba(0, 0, 0, 0);
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.HomeBanner1 .slick-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    cursor: pointer;
    list-style: none;
    text-align: center;
}
.HomeBanner1 .slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;

    border: none;
    outline: none;
}
.HomeBanner1 .slick-next,
.slick-prev {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    border: none;
    outline: none;
}

.campaign-text {
    text-align: start;
    font-size: 15px;
    font-style: normal;
}

html[dir='rtl'] .bannerContent1 {
    position: absolute;
    max-width: 50%;
    background-color: transparent;
    top: 50%;
    transform: translateY(-50%);
}

.bannerContent1 .headingText {
    font-size: 16px;
    line-height: 3.125rem;
    color: #fff;
    font-family: 'VAG Rounded ELC Light' !important;
    margin-bottom: 1.25rem;
    letter-spacing: 1px;
}
.bannerContent1 .buttonDiv .whiteButton {
    padding: 0.625rem 1.25rem;
    align-items: center;
    font-weight: 500;
    border-width: 1px;
    border-style: solid;
    background: #fff;
    border-color: transparent;
    border-radius: 4px;

    cursor: 'pointer';
    font-size: 1rem;
}
.HomeBanner1 .bannerContent1 .buttonDiv .whiteButton img {
    display: inline;
    margin-left: 10px;
}
.HomeBanner1 .bannerContent1 .buttonDiv .whiteButton svg {
    display: inline;
    margin-left: 10px;
}
.HomeBanner1 .bannerContent1 .buttonDiv .whiteButton:focus {
    outline: none;
}
.HomeBanner1 .bannerContent1 .buttonDiv .whiteButton:hover {
    background-color: black;
    overflow: hidden;
    color: white;
}
.HomeBanner1 .bannerContent1 .buttonDiv .whiteButton:hover img {
    filter: brightness(0) invert(1);
}
.HomeBanner1 .bannerContent1 .buttonDiv .whiteButton {
    padding: 0.625rem 1.25rem;
    align-items: center;
    font-weight: 500;
    background: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 15px;
    letter-spacing: 1px;
}

.ImageBanner {
    position: relative;
}
.ImageBanner img {
    width: 100%;
}
.ImageBanner video {
    width: 100%;
    object-fit: contain;
}
.ImageBanner img {
    width: 100%;
    object-fit: contain;
}
.webText {
    line-height: 26px !important ;
    font-family: 'VAG Rounded ELC Light' !important;
    text-align: justify;
    letter-spacing: 1px !important;
    font-size: 15px !important;
}
@media only screen and (max-width: 767px) {
    .mobiletext {
        line-height: 26px !important ;
        font-family: 'VAG Rounded ELC Light' !important;
        text-align: justify;
        letter-spacing: 1px !important;
        font-size: 15px !important;
    }

    .HomeBanner1 .slick-dots {
        position: absolute;
        bottom: -25px;
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
        top: 94%;
    }
    .HomeBanner1 .bannerContent1 {
        position: static;
        -ms-transform: none;
        transform: none;
        text-align: center;
        background-color: #1a284c;
        max-width: 100%;
        padding: 35px 10px;
        min-height: 212px;
    }

    html[dir='rtl'] .HomeBanner1 .bannerContent1 {
        position: static;
        -ms-transform: none;
        transform: none;
        text-align: center;
        background-color: #1a284c;
        max-width: 100%;
        padding: 35px 10px;
        min-height: 212px;
    }
    .HomeBanner1 .bannerContent1 .headingText {
        font-size: 0.875rem;
        line-height: 1.1875rem;
        margin-bottom: 1.25rem;
        color: #fff;
        font-family: 'VAG Rounded ELC Light' !important;
    }
    .bannerContent1 {
        position: absolute;
        background-color: transparent;
        text-align: left;
        left: 6.875rem;
        top: 40%;
        transform: translateY(-50%);
    }

    .bannerContent1 .headingTitle {
        margin-bottom: 0.9375rem;
        font-size: 1.125rem;
        line-height: 1.75rem;
        color: white;
        font-family: 'VAG Rounded ELC Light' !important;
        letter-spacing: 1px;
    }
    .bannerContent1 .headingText {
        font-size: 1rem;
        line-height: 1.75rem;
        margin-bottom: 1.25rem;
        color: white;
        font-family: 'VAG Rounded ELC Light' !important;
        letter-spacing: 1px;
    }
    .bannerContent1 .buttonDiv .whiteButton {
        padding: 0.625rem 1.25rem;
        align-items: center;
        font-weight: 500;
        border-width: 1px;
        font-family: 'VAG Rounded ELC Light' !important;
        border-style: solid;
        letter-spacing: 1px;
        border-color: transparent;
        border-radius: 4px;
        margin-right: 10px;
    }
    .bannerContent1 .buttonDiv .whiteButton img {
        width: 9px;
        display: inline;
        margin-left: 10px;
    }
    .bannerContent1 .buttonDiv .whiteButton svg {
        width: 9px;
        display: inline;
        margin-left: 10px;
    }
    .bannerContent1 .buttonDiv .whiteButton:focus {
        outline: none;
    }
    .bannerContent1 .buttonDiv .whiteButton:hover {
        background-color: black;
        color: white;
    }
    .bannerContent1 .buttonDiv .whiteButton:hover img {
        filter: brightness(0) invert(1);
    }
    html[dir='rtl'] .HomeBanner1 .bannerContent1 {
        text-align: center;
        direction: rtl;
    }

    html[dir='rtl'] .HomeBanner1 .bannerContent1 {
        text-align: right;
        direction: rtl;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .bestsellerslider .slick-prev {
        left: 0px !important;
    }
    .bestsellerslider .slick-next {
        right: 0px !important;
    }
    .mr-int {
        margin-top: 15%;
    }
    .HomeBanner1 .bannerContent1 {
        position: absolute;
        max-width: 38%;
        background-color: rgba(0, 0, 0, 0);
        top: 50%;
        transform: translateY(-50%);
    }

    .bannerContent1 .headingTitle {
        margin-bottom: 0;
        font-size: 18px;
        line-height: 2rem;
        letter-spacing: 1px;
        color: #fff;
        font-family: 'VAG Rounded ELC Light' !important;
    }
    .bannerContent1 .headingText {
        font-size: 16px;
        line-height: 1.125rem;
        color: #fff;
        font-family: 'VAG Rounded ELC Light' !important;
        margin-bottom: 1.25rem;
        letter-spacing: 1px;
    }
    .HomeBanner1 .bannerContent1 .buttonDiv .whiteButton {
        padding: 0.625rem 1.25rem;
        align-items: center;
        font-weight: 500;
        background: #fff;
        border: 1px solid transparent;
        border-radius: 4px;
        font-size: 15px;
        letter-spacing: 1px;
    }

    .HomeBanner1 .slick-dots {
        position: absolute;
        bottom: -25px;
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
        top: auto;
    }

    .HomeBanner1 .bannerContent1 .headingTitle {
        font-size: 1.3rem;
        line-height: 2.125rem;
        font-family: 'VAG Rounded ELC Light' !important;
    }
    .HomeBanner1 .bannerContent1 .headingText {
        font-size: 0.7rem;
        font-family: 'VAG Rounded ELC Light' !important;
    }
    .HomeBanner1 .bannerContent1 .buttonDiv .whiteButton {
        font-size: 13px;
        padding: 0.625rem 0.5rem;
    }
    .HomeBanner1 .bannerContent1 .buttonDiv .whiteButton {
        padding: 0.625rem 1.25rem;
        align-items: center;
        font-weight: 500;
        background: #fff;
        border: 1px solid transparent;
        border-radius: 4px;
        font-size: 15px;
        letter-spacing: 1px;
    }
    .bannerContent1 .headingTitle {
        margin-bottom: 0;
        font-size: 18px;
        line-height: 2rem;
        letter-spacing: 1px;
        color: #fff;
        font-family: 'VAG Rounded ELC Light' !important;
    }

    .HomeBanner1 {
        margin-top: 25px;
    }

    html[dir='rtl'] .HomeBanner1 .bannerContent1 .buttonDiv .whiteButton img {
        margin-left: auto;
        font-family: 'VAG Rounded ELC Light' !important;
        margin-right: 10px;
        transform: rotate(180deg);
    }
    html[dir='rtl'] .HomeBanner1 .bannerContent1 .buttonDiv .whiteButton svg {
        margin-left: auto;
        margin-right: 10px;
        transform: rotate(180deg);
    }
}
